/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
@media screen {
  @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/light/ProximaNova-Light.woff2') format('woff2'), url('../fonts/ProximaNova/light/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/regular/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova/regular/ProximaNova-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/semibold/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova/semibold/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/bold/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova/bold/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
}
