<!--
  ~ @author Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license Open Software License ("OSL") v. 3.0
  -->
<li class="checkout-shipping-address" data-bind="fadeVisible: visible()" id="shipping">
    <h3><!-- ko i18n: 'Shipping Method'--><!-- /ko --></h3>
    <div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
    <div class="step-content"
         data-role="content"
         id="checkout-step-shipping">
        <!-- ko if: (!quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button class="action action-show-popup"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                type="button">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div data-bind="visible: isFormPopUpVisible()" id="opc-new-shipping-address">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
    </div>
</li>


<!--Shipping method template-->
<li class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    id="opc-shipping_method"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: ratesByWarehouse().length >= 2  -->
        <div class="no-quotes-block message-notice notice message">
            <div data-bind="i18n: 'You are buying from more than one seller. Please select the shipping method from each seller.'"></div>
        </div>
        <!-- /ko -->

        <div aria-hidden="false"
             class="step-content"
             data-role="content"
             id="checkout-step-shipping_method"
             role="tabpanel">
            <!-- ko if: rates().length  -->
            <form class="form methods-shipping" data-bind="submit: setShippingInformation" id="co-shipping-method-form"
                  novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <dl class="warehouses-shipping-methods">
                        <!--ko foreach: { data: ratesByWarehouse, as: 'warehouseShipping'}-->
                        <dt data-bind="text: warehouseShipping.title"></dt>
                        <!-- ko if: warehouseShipping.rates.length  -->
                        <dd>
                            <ul>
                                <!--ko foreach: { data: warehouseShipping.rates, as: 'method'}-->
                                <li>
                                    <input class="radio"
                                           data-bind="
                                                    value: method.carrier_code + '_' + method.method_code,
                                                    checked: warehouseShipping.selectedRate,
                                                    attr: {
                                                        'data-warehouse': 'warehouse_' + $parent.warehouse_id,
                                                        'id': 'warehouse_s_method_' + method.method_code,
                                                        'name': 'warehouse_shipping_method__' + $parent.warehouse_id,
                                                        'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                    },
                                                    click: $parents[1].changeWarehouseMethod.bind($parents[1])"
                                           type="radio"/>

                                    <label data-bind="attr: {'for': 'warehouse_s_method_' + method.method_code}">
                                        <!-- ko foreach: $parents[1].getRegion('price') -->
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                        <!-- /ko -->
                                        <span data-bind="text:method.method_title"></span>
                                        <span class="shipping_carrier_title"
                                              data-bind="text:method.carrier_title"></span>
                                    </label>
                                </li>
                                <!-- /ko -->
                            </ul>
                            <div data-bind=" attr: {'id': 'checkout-shipping-method-load-after' + warehouseShipping.warehouse_id}"></div>
                        </dd>
                        <!-- /ko -->

                        <!-- ko ifnot: warehouseShipping.rates.length > 0 -->
                        <dd>
                            <div class="no-quotes-block message-error message error">
                                <!-- ko i18n: 'Sorry, no quotes are available for this warehouse at this time.'-->
                                <!-- /ko -->
                            </div>
                        </dd>
                        <!-- /ko -->
                        <!-- /ko -->
                    </dl>

                    <!-- Hide the default shipping methods -->
                    <!-- ko if: isAllWarehouseMethodSelected()  -->
                    <table class="table-checkout-shipping-method" style="display: none;">
                        <thead>
                        <tr class="row">
                            <th class="col col-method" data-bind="i18n: 'Select Method'"></th>
                            <th class="col col-price" data-bind="i18n: 'Price'"></th>
                            <th class="col col-method" data-bind="i18n: 'Method Title'"></th>
                            <th class="col col-carrier" data-bind="i18n: 'Carrier Title'"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <tr class="row" data-bind="click: $parent.selectShippingMethod">
                            <td class="col col-method">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input class="radio"
                                       data-bind="attr: {
                                                checked: $parent.rates().length == 1,
                                                'value' : method.carrier_code + '_' + method.method_code,
                                                'id': 's_method_' + method.method_code,
                                                'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                             }"
                                       type="radio"/>
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input class="radio"
                                       data-bind="
                                                value: method.carrier_code + '_' + method.method_code,
                                                checked: $parent.isSelected,
                                                attr: {
                                                    'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                },
                                                click: $parent.selectShippingMethod"
                                       type="radio"/>
                                <!--/ko-->
                                <!-- /ko -->
                            </td>
                            <td class="col col-price">
                                <!-- ko foreach: $parent.getRegion('price') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!-- /ko -->
                            </td>

                            <td class="col col-method"
                                data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></td>

                            <td class="col col-carrier"
                                data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></td>
                        </tr>

                        <!-- ko if:  method.error_message -->
                        <tr class="row row-error">
                            <td class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"
                                           type="radio"/>
                                </span>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- /ko -->
                        </tbody>
                    </table>
                    <!-- /ko -->
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button class="button action continue primary" data-role="opc-continue" type="submit">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 -->
            <div class="no-quotes-block">
                <!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
</li>
