<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>

<?php if($block->isSliptCart()): ?>
<?php $groupItemByVendor = $block->groupItemsByVendor() ?>

<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'
      class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>

    <?php foreach ($groupItemByVendor as $vendorId => $_items): ?>
        <div class="group-vendor-item">
            <div class="group-vendor-name">
                <?php if($block->getUrlVendorPage($vendorId)): ?>
                    <a href="<?php echo $block->getUrlVendorPage($vendorId) ?>" target="_blank">
                        <h2><?php /* @escapeNotVerified */ echo __('Seller: ') ?><?php echo $block->getVendorName($vendorId) ?></h2>
                    </a>
                <?php else: ?>
                    <h2><?php /* @escapeNotVerified */ echo __('Seller: ') ?><?php echo $block->getVendorName($vendorId) ?></h2>
                <?php endif ?>
            </div>
            <div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
                <table id="shopping-cart-table"
                       class="cart items data table"
                       data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
                       "updateCartActionContainer": "#update_cart_action_container"}}'>
                    <caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('Shopping Cart Items') ?></caption>
                    <thead>
                    <tr>
                        <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('Item') ?></span></th>
                        <th class="col price" scope="col"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
                        <th class="col qty" scope="col"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></th>
                        <th class="col subtotal" scope="col"><span><?php /* @escapeNotVerified */ echo __('Subtotal') ?></span></th>
                    </tr>
                    </thead>
                    <?php foreach ($_items as $_item): ?>
                        <?php echo $block->getItemHtml($_item) ?>
                    <?php endforeach ?>
                </table>
            </div>
        </div>
    <?php endforeach; ?>


    <div class="cart main actions">
        <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
                <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?php echo $block->escapeHtml(__('Clear Shopping Cart')); ?>"
                class="action clear" id="empty_cart_button">
            <span><?php /* @escapeNotVerified */ echo __('Clear Shopping Cart'); ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?php echo $block->escapeHtml(__('Update Shopping Cart')); ?>"
                class="action update">
            <span><?php /* @escapeNotVerified */ echo __('Update Shopping Cart'); ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>

</form>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>

<?php else: ?>
    <?php include ($block->getTemplateFile('Magento_Checkout::cart/form.phtml')) ?>
<?php endif ?>

<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        },

        "*": {
            "qtyButton": ""
        }
    }
</script>
