@font-face {
    font-family: 'vendor-page';
    src: url('../fonts/vendor-page.eot?gku4r6');
    src: url('../fonts/vendor-page.eot?gku4r6#iefix') format('embedded-opentype'),
    url('../fonts/vendor-page.ttf?gku4r6') format('truetype'),
    url('../fonts/vendor-page.woff?gku4r6') format('woff'),
    url('../fonts/vendor-page.svg?gku4r6#vendor-page') format('svg');
    font-weight: normal;
    font-style: normal;
}

.vendor-home-banner,
.vendor-profile-wrapper .vendor-profile-container,
.vendor-menu .vendor-nav-container {
    margin: 0 auto;
    box-sizing: border-box;
}

.vendor-profile-wrapper {
    background: #f5f5f5;
    margin-bottom: 30px;
}

.vendor-home-page .vendor-profile-wrapper {
    background: #FFF;
}
.vendor-home-items .vendor-products-title,
.vendor-home-review .vendor-about-title,
.vendor-home-review .vendor-review-title,
.vendor-home-refund .vendor-refund-title,
.vendor-home-shipping .vendor-shipping-title,
.vendor-home-about .vendor-about-title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 32px;
}
.vendor-home-items .vendor-products-wrapper,
.vendor-home-review .vendor-review-content,
.vendor-home-shipping .vendor-shipping-content,
.vendor-home-about .vendor-about-content,
.vendor-home-refund .vendor-refund-content {
    padding: 25px;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    color: #000;
}
.vendor-home-items .vendor-products-wrapper .toolbar-products {
    padding: 0;
}
.vendor-home-items .vendor-products-wrapper .products {
    margin: 0;
}
.vendor-home-items .vendor-products-wrapper .products-grid .product-item {
    margin-bottom: 0;
}
.vendor-page.page-products.page-with-filter .filter.block {
    margin-bottom: 15px;
}
.vendor-page.page-products.page-with-filter .filter-options-item {
    border: none;
    margin-bottom: 15px;
}
.view-all-items .action.primary{
    background: #d7d7d7;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}
.vendor-page.page-products.page-with-filter .filter-options-title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.vendor-page.page-products.page-with-filter .filter-options-content {
    border: 1px solid #e7e7e7;
    padding: 20px;
}
.vendor-page.page-products.page-with-filter .block.filter .filter-actions {
    display: block;
}
.vendor-home-page .nav-sections {
}

.vendor-categories-wrapper .block-title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.vendor-page .vendor-profile-logo {
    width: 16.6667%;
}

.vendor-page .vendor-profile-top img {
    width: 100%;
}

.vendor-page .vendor-profile-description {
    width: calc(83.3333% - 40px);
}

.vendor-page.page-layout-2columns-left .sidebar-additional {
    width: 18%;
}

.vendor-page.page-layout-2columns-left .column.main {
    width: 82%;
}

.vendor-page .vendor-profile-container {
    background: none;
}

.vendor-page .profile-sidebar .vendor-profile-logo {
}

.vendor-page .profile-sidebar .vendor-profile-logo img {
}

.vendor-page .profile-sidebar .vendor-profile-description {
}

.vendor-page .profile-sidebar .vendor-profile-description .vendor-info {
    color: #000;
    font-size: 14px;
    font-weight: 300;
}

.vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-location,
.vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time,
.vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-sales-count,
.vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-joined-date,
.vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-phone,
.vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time {
    display: inline-block;
    width: 33%;
    margin-bottom: 10px;
}

.vnecoms-msg-btn {
    border: 1px solid #d3d3d3;
    color: #000;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: inherit;
}

.vendor-page .profile-sidebar {
    width: auto;
    padding: 30px 20px;
    background: none;
    border: 1px solid #E7E7E7;
    margin: 50px 0;
}

.vendor-page .profile-sidebar h3.vendor-title {
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #000;
}

.vendor-page .profile-sidebar .vendor-headline {
    text-align: left;
    font-size: 14px;
    margin: 0;
    color: #6C6C6C;
}

.vendor-page .profile-sidebar .vendor-headline {
    text-align: left;
    font-size: 14px;
    margin: 0;
    color: #6C6C6C;
}

/*Vendor Menu*/
.vendor-menu-wrapper {
    min-height: 60px;
    margin-bottom: 30px;
    display: block;
    clear: both;
}

.vendor-menu {
    background-color: #E7E7E7;
}

.vendor-menu:after {
    clear: both;
    content: "";
    display: table;
}

.vendor-menu ul, .vendor-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vendor-menu li {
    display: inline-block;
}

.vendor-menu li > a {
    padding: 25px 20px;
    display: block;
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

.vendor-menu li > a:hover {
    color: #222A31;
    text-decoration: none;
}

.vendor-menu.fixed {
    position: fixed;
    top: 54px;
    z-index: 100;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.menu-logo-container {
    position: absolute;
    width: auto;
    height: 100%;
    display: none;
    width: 75px;
    margin-left: -75px;
}

.menu-logo-container img {
    width: auto;
    height: 100%;
    float: right;
}

.vendor-menu.fixed .menu-logo-container {
    display: block;
    margin-left: 0;
    left: 0;
}

.vendor-menu.fixed ul {
    margin-left: 75px;
}

.vendor-menu.fixed li > a.selected {
    border-bottom: 4px solid #2779dc;
}

.vendor-products-wrapper .action.towishlist span,
.vendor-products-wrapper .action.tocompare span {

}

/*Vendor Banner*/
.vendor-home-banner {
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0 0 50px;
}

/*Socials*/
.vendor-social-container {
    display: none;
}

.vendor-social-container a.vendor-social-icon {
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
    color: #888;
    font-size: 25px;
}

.vendor-social-container a.vendor-social-icon:before,
.vendor-scroll-top-btn:before {
    font-family: 'vendor-page' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vendor-social-container a.vendor-social-icon:hover {
    text-decoration: none;
    color: #555;
}

.vendor-social-container a.web:before {
    content: "\f0ac";
}

.vendor-social-container a.facebook:before {
    content: "\f082";
}

.vendor-social-container a.twitter:before {
    content: "\f081";
}

.vendor-social-container a.instagram:before {
    content: "\f16d";
}

.vendor-social-container a.google_plus:before {
    content: "\f0d4";
}

.vendor-social-container a.youtube:before {
    content: "\f166";
}

.vendor-social-container a.pinterest:before {
    content: "\f0d3";
}

.vendor-social-container a.vimeo:before {
    content: "\f194";
}

.vendor-social-container .vendor-social-icon span {
    display: none;
}

.vendor-home-items,
.vendor-home-about,
.vendor-home-shipping {
    margin-bottom: 50px;
}

.toolbar-products .view-all-items {
    display: none;
}

.products.wrapper ~ .toolbar .view-all-items {
    display: block;
    margin: 10px 0;
}

.scroll-to-top-container {
    position: fixed;
    display: none;
    right: 18px;
    bottom: 18px;
    z-index: 70;
}

.scroll-to-top-container.show {
    display: block;
}

.vendor-scroll-top-btn span {
    display: none;
}

.scroll-to-top-container .vendor-scroll-top-btn {
    font-size: 30px;
    text-decoration: none;
    color: #1979c3;
}

.scroll-to-top-container .vendor-scroll-top-btn:hover {
    text-decoration: none;
    color: #006bb4;
}

.vendor-scroll-top-btn:before {
    content: "\e900";
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .vendor-page .profile-sidebar {
        margin: 15px;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .vendor-page .profile-sidebar {
        margin: 10px 15px;
    }
    .vendor-home-banner {
        margin: 0 15px 15px;
    }
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-location,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-sales-count,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-joined-date,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-phone,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time {
        width: 49%;
    }
}
@media screen and (max-width: 800px) {
    .vendor-menu .vendor-nav-container {
        padding: 0;
    }
    .vendor-page.page-layout-2columns-left .sidebar-additional {
        /*order: -1;*/
    }
    .vendor-page .filter .filter-current.active + .block-actions {
        margin: 0;
    }
    .vendor-page .filter .filter-current {
        margin-bottom: 20px;
    }
    .vendor-page .filter .filter-current.active {
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 769px) {
    .vendor-page .profile-sidebar {
        margin: 10px 15px;
    }
    .vendor-home-banner {
        margin: 0 15px 15px;
    }
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-location,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-sales-count,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-joined-date,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-phone,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time {
        width: 49%;
    }
    .vendor-page.page-products.page-with-filter .filter-options-item {
        margin-bottom: 0;
    }
    .vendor-page.page-products.page-with-filter .filter-options-title {
        font-size: 16px;
    }
    .vendor-page.page-products.page-with-filter .filter.active .filter-options-title:after {
        top: 50%;
        margin-top: -3px;
    }
}
@media screen and (max-width: 600px) {
    .vendor-menu-wrapper {
        display: none;
    }

    .vendor-menu .vendor-nav-container {
        padding: 0;
    }
    .vendor-home-items .vendor-products-wrapper {
        padding: 10px 5px;
    }
    .vendor-home-review .vendor-review-content {
        padding: 15px;
    }
    .vendor-review .vendor-review-avatar {
        width: 45px;
        height: 45px;
    }
    .vendor-review .vendor-review-product-info {
        width: 50px;
    }
    .vendor-review .vendor-review-detail {
        width: calc(100% - 105px);
    }

    .vendor-home-shipping .vendor-shipping-content,
    .vendor-home-about .vendor-about-content,
    .vendor-home-refund .vendor-refund-content {
        padding: 15px;
    }
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-location,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-sales-count,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-joined-date,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-phone,
    .vendor-page .profile-sidebar .vendor-profile-description .vendor-info .vendor-operation-time {
        width: 100%;
    }
    .vendor-page .vendor-profile-logo {
        width: 32%;
    }
    .vendor-page .vendor-profile-description {
        width: calc(83.3333% - 60px);
        padding: 0;
    }
    .vendor-home-items,
    .vendor-home-about,
    .vendor-home-shipping {
        margin-bottom: 15px;
    }
}

