// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-title-border-color: @color-gray-middle2;
@account-table-border-bottom-color: @color-gray-middle1;
@account-table-action-delete: @color-red12;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);

            &:after {
                margin-top: 35px;
                display: none;
            }
        }

        .social-login {
            margin-bottom: 20px;
        }
    }

    .form-create-account,
    .block-new-customer,
    .block-customer-login {
        .actions-toolbar {
            .primary {
                width: 100%;

                .action {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }

    .fieldset {
        &.create {
            &.account {
                &:after {
                    display: none;
                }
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .item.actions {
                margin-top: @indent__xs;

                .action {
                    &:extend(.abs-account-actions all);
                }
            }
        }

        address {
            &:extend(.abs-account-block-line-height all);
        }
    }

    .form-address-edit {
        #region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset {
            margin: 0 0 @indent__base;
        }
        .fieldset.password {
            display: none;
        }
        .control, input, .fieldset > .legend {
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                .field {
                    float: none;
                }
            }
        }
        .fieldset.create.account {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 10px;
            }
        }
    }

    .form.password.forget {
        .fieldset {
            .lib-form-hasrequired(bottom);
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information,
    .box-newsletter {
        .box-content {
            &:extend(.abs-account-block-line-height all);
        }
    }

    //  My account
    .account {
        .page-title-wrapper {
            .page-title {
                display: inline-block;
            }
        }

        .messages {
            margin-bottom: @indent__base;
        }

        .column.main {
            margin-bottom: @indent__l;

            h2 {
                margin-top: 0;
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: @indent__xl;
        }

        .table-wrapper {
            .lib-css(margin-bottom, @indent__base);
            border-bottom: 1px solid @account-table-border-bottom-color;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .legend {
            &:extend(.abs-account-title all);
            margin-bottom: 15px;
        }
    }

    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .column.main {
            .order-details-items {
                .table-wrapper {
                    .data.table {
                        &:extend(.abs-table-striped all);
                    }
                }
            }
        }

        .data.table {
            .col.actions {
                .action {
                    &:extend(.abs-account-actions all);
                    &.delete {
                        .lib-css(color, @account-table-action-delete);
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field.additional {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            strong {
                .lib-heading(h4);
                .column.main & {
                }
            }
            display: block;
            margin-bottom: @indent__s;
        }

        p {
            &:last-child {
                margin: 0;
            }
        }

        .box-actions {
            margin-top: @indent__xs;

            .action {
                &:extend(.abs-account-actions all);
            }
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();
            position: relative;
            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
            .toggle-pass {
                position: absolute;
                top: 8px;
                right: 10px;
                z-index: 3;
                background-image: url('@{baseDir}images/eye.png');
                background-color: transparent;
                background-repeat: no-repeat;
                width: 20px;
                height: 13px;
                text-indent: -9999em;
                cursor: pointer;
                display: block !important;
                &:hover, &.show {
                    background-image: url('@{baseDir}images/eye_active.png');
                }
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    .account {
        .data.table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    .order-products-toolbar {
        position: relative;

        .toolbar-amount {
            position: relative;
            text-align: center;
        }
    }

    .customer-account-create {
        .customer-create-account-container {
            position: relative;
            z-index: 3;
        }
    }

    .customer-account-login {
        .login-container {
            position: relative;
            z-index: 3;
        }
    }

    .customer-account-createpassword {
        .block-customer-reset-forgot-pass {
            position: relative;
            z-index: 3;
        }
    }

    .customer-account-forgotpassword {
        .block-customer-forgot-pass {
            position: relative;
            z-index: 3;
        }
    }

    .customer-account-create,
    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-createpassword,
    .marketplace-seller-login {
        .page-main {
            position: relative;
            &:before {
                background-image: url('@{baseDir}images/customer-access-bg-right.png');
                background-size: 130px auto;
                background-color: transparent;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 130px;
                height: 505px;
                z-index: 2;
            }
            &:after {
                background-image: url('@{baseDir}images/customer-access-bg-left.png');
                background-color: transparent;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 535px;
                height: 236px;
                z-index: 2;
            }
            .column.main {
                max-width: 410px;
                margin: 80px auto 0;
            }
            .logo {
                float: none;
                display: block;
                text-align: center;
                margin: 0 auto;
                img {
                    display: inline-block;
                }
            }
            .page.messages {
                margin-bottom: 20px;
            }
            .switcher.switcher-language {
                position: absolute;
                top: 20px;
                right: 150px;
            }
            .actions-toolbar {
                text-align: center;
                .secondary {
                    margin: @indent__base 0;
                }
                .action {
                    .lib-font-size(14);
                    text-align: center;
                    font-weight: @font-weight__light;
                    &.primary {
                        .lib-css(background, @main-color2);
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        height: 45px;
                        line-height: 45px;
                        padding: 0;
                        width: 100%;
                        .lib-font-size(16);
                        font-weight: @font-weight__semibold;
                        text-transform: uppercase;
                    }
                    &.remind {
                        color: #2779DC;
                    }
                }
            }
            .field.note {
                .lib-font-size(18);
                text-align: center;
                font-weight: @font-weight__light;
                margin: @indent__base 0;
            }
            .block-title {
                text-align: center;
                padding: 0;
                border: none;
                margin: 0;
                h3 {
                    .lib-css(color, @main-color2);
                    .lib-font-size(25);
                    font-weight: @font-weight__regular;
                    text-transform: uppercase;
                    margin: 0 0 @indent__s;
                }
                strong {
                    .lib-css(color, @main-color2);
                    .lib-font-size(27);
                    font-weight: @font-weight__bold;
                    text-transform: capitalize;
                }
            }
            .field {
                label {
                    .lib-font-size(15);
                    color: #6c6c6c;
                    text-align: left;
                    font-weight: @font-weight__light !important;
                }
                input {
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid #e7e7e7;
                }
                &.gender {
                    label.label {
                        transform: none !important;
                        margin: 0 0 5px !important;
                    }
                }
                &:last-child {
                    margin: 0 0 10px !important;
                }
                &.field-vendor-registration {
                    > * {
                        display: inline-block;
                    }
                }
            }
            a.action.primary {
                line-height: 29px;
            }

            .actions-toolbar {
                .primary {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    .marketplace-seller-register {
        .page-main {
            position: relative;
            padding: 0;
            &:before {
                background-image: url('@{baseDir}images/customer-access-bg-right.png');
                background-size: 130px auto;
                background-color: transparent;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 130px;
                height: 505px;
                z-index: 5;
            }
            &:after {
                background-image: url('@{baseDir}images/customer-access-bg-left.png');
                background-color: transparent;
                background-repeat: no-repeat;
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 535px;
                height: 236px;
                z-index: 5;
            }
            .logo {
                float: none;
                display: block;
                text-align: center;
                margin: 0 auto;
                img {
                    display: inline-block;
                }
            }
            .cr-container {
                max-width: 410px;
                margin: 0 auto;
                .field-vendor_country_id {
                    width: 0px;
                    float: right;
                }
                .field-vendor_region {
                    float: left;
                    width: 100%;
                }
            }
            .switcher.switcher-language {
                position: absolute;
                top: 20px;
                right: 150px;
                z-index: 11;
            }
            .actions-toolbar {
                text-align: center;
                display: block;
                overflow: hidden;
                .secondary {
                    margin: @indent__base 0;
                }
                #cr-next-btn {
                    .lib-css(background, @main-color2);
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    height: 45px;
                    line-height: 45px;
                    padding: 0;
                    width: 100%;
                    .lib-font-size(16);
                    font-weight: @font-weight__semibold;
                    text-transform: capitalize;
                    &.cr-step-1 {
                        width: 100% !important;
                    }
                    &.cr-step-2,
                    &.cr-step-3 {
                        width: 48.5%;
                        max-width: 180px;
                        float: right;
                    }
                }
                #cr-submit-btn {
                    .lib-css(background, @main-color2);
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    height: 45px;
                    line-height: 45px;
                    padding: 0;
                    width: 48.5%;
                    max-width: 180px;
                    float: right;
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    text-transform: uppercase;
                }
                #cr-previous-btn {
                    border: 2px solid @main-color2;
                    .lib-css(background, @color-white);
                    .lib-css(color, @main-color2);
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    height: 45px;
                    line-height: 45px;
                    padding: 0;
                    width: 48.5%;
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    text-transform: uppercase;
                    max-width: 180px;
                    float: left;
                }
            }
            .field.note {
                .lib-font-size(16);
                text-align: center;
                font-weight: @font-weight__light;
                margin: @indent__base 0;
            }
            .block-title {
                text-align: center;
                padding: 0;
                border: none;
                margin: 0;
                h3 {
                    .lib-css(color, @main-color2);
                    .lib-font-size(28);
                    font-weight: @font-weight__regular;
                    text-transform: uppercase;
                    margin: 0 0 @indent__s;
                }
                strong {
                    .lib-css(color, @main-color2);
                    .lib-font-size(31);
                    font-weight: @font-weight__bold;
                    text-transform: capitalize;
                }
            }
            .field {
                label {
                    .lib-font-size(15);
                    color: #6c6c6c;
                    text-align: left;
                    font-weight: @font-weight__light !important;
                    display: inline-block;
                }
                input, select {
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid #e7e7e7;
                    &::-webkit-input-placeholder {
                        color: #ccc;
                    }
                    &:-ms-input-placeholder {
                        color: #ccc;
                    }
                    &::placeholder {
                        color: #ccc;
                    }
                }
                .step-selection {
                    margin: 10px 0;
                    position: relative;
                    padding: 0 0 0 25px;
                    input[type="radio"] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        margin: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        & ~ label {
                            padding: 0;
                            &:before {
                                content: '';
                                width: @indent__base;
                                height: @indent__base;
                                background-position: -161px -6px;
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                text-align: center;
                                border-radius: 50%;
                                z-index: 2;
                                .iconSprite();
                            }

                            span {
                                position: relative;
                                z-index: 1;
                                clear: both;
                                display: block;
                                color: @color-black;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                        &:checked ~ label {
                            color: @color-black;
                        }
                        &:checked ~ label {
                            span {
                                color: @color-black;
                                font-weight: bold;
                            }
                        }
                        &:checked ~ label:before {
                            width: @indent__base + 1;
                            height: @indent__base + 1;
                            background-position: -184px -6px;
                        }
                    }
                }
                .upload-area {
                    margin-top: 10px;
                    display: block;
                    text-align: center;
                    border: 1px dashed #e7e7e7;
                    min-height: inherit;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -o-border-radius: 3px;
                    .upload-title {
                        display: block;
                        text-align: center;
                        padding: 10px;
                    }
                    #uploaded-file-name {
                        display: block;
                        margin: 10px 0 0;
                    }
                    input {
                        margin: 0 auto;
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;
                    }
                }
            }
            a.action.primary {
                line-height: 29px;
            }

            .actions-toolbar {
                .primary {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    .login-container {
        .field.note.signup-note {
            .lib-font-size(16);
            text-align: center;
            font-weight: @font-weight__light;
            a {
                color: #2779DC;
            }
        }
    }
    .form.password.forget {
        .fieldset {
            margin: 0 0 @indent__l;
        }
    }
    .form.create.account {
        .fieldset {
            margin: 0 0 @indent__s;
            .field.note.signin-note {
                .lib-font-size(16);
                text-align: center;
                font-weight: @font-weight__light;
            }
            &.create.info {
                margin: 0;
            }
        }
    }
    .signup-agreements {
        text-align: center;
        .lib-font-size(15);
        margin: 10px 0 0;
        li {
            display: inline-block;
            width: 32.5%;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        position: relative;
        z-index: 6;
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }
    }

    .customer-account-login, .customer-account-create {
        .main-menu {
            display: none;
        }
    }

    .customer-account-login, .customer-account-create {
        .page-header {
            .header.content {
                .switcher-language {
                    margin-right: 0;
                }
            }
        }
    }

    .form-create-account {
        .fieldset-fullname {
            .fields {
                display: table;
                width: 100%;

                .field {
                    display: table-cell;

                    + .field {
                        padding-left: @indent__s;
                    }
                }
            }

            .field-name-prefix,
            .field-name-suffix {
                width: 50px;
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account {
        min-width: 100px;
        width: auto;
    }

    .form-edit-account {
        max-width: 70%;
    }
    .form-address-edit {
        max-width: 70%;
    }

    //  My account

    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .page-title-wrapper {
            &:extend(.abs-add-clearfix-desktop all);
        }

        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .data.table {
            margin-bottom: 0;

            .col {
                &.actions {
                    white-space: nowrap;
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 4%;
                }
            }
        }

        address {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .page-main {
        .block {
            &:extend(.abs-margin-for-blocks-and-widgets-desktop all);
        }
    }

    .form-address-edit {
        > .fieldset {
            &:extend(.abs-blocks-2columns all);
        }
        .location-type {
            .field.choice {
                display: inline-block;
                padding-right: 20px;
            }
        }
        .action.save.primary {
            padding: 0 @indent__base;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        .action.cancel {
            height: 40px;
            line-height: 40px;
            margin: 0 !important;
            padding: 0 20px;
            background: #000;
            color: #fff;
            text-decoration: none;
        }
    }

    .form-edit-account {
        .fieldset {
            &:extend(.abs-blocks-2columns all);

            .fieldset {
                margin-bottom: @indent__base;
                width: 100%;
            }
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-address-billing,
    .box-address-shipping,
    .box-information {
        .box-content {
            &:extend(.abs-account-block-font-size all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
    .cr-container {
        position: relative;
        z-index: 6;
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }

        .data.table {
            &:extend(.abs-table-striped-mobile all);
        }
    }
    .customer-account-create,
    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-createpassword,
    .marketplace-seller-login {
        .page-main {
            &:after {
                max-width: 100%;
            }
            .column.main {
                margin: 50px auto;
            }
            .switcher.switcher-language {
                position: static;
                transform: none;
                z-index: 11;
                margin: 30px auto;
                text-align: center;
                width: 100%;
                a {
                    display: inline-block;
                }
            }
        }
        .login-container {
            position: relative;
            z-index: 3;
        }
    }
    .marketplace-seller-register {
        .page-main {
            &:after {
                max-width: 100%;
            }
            .logo {
                margin: 20px auto 10px;
            }
            .switcher.switcher-language {
                position: static;
                transform: none;
                z-index: 11;
                margin: 30px auto 0;
                text-align: center;
                width: 100%;
                a {
                    display: inline-block;
                }
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-account-create,
    .customer-account-login,
    .customer-account-forgotpassword,
    .customer-account-createpassword,
    .marketplace-seller-login,
    .marketplace-seller-register{
        .nav-toggle {
            display: none;
        }
    }
    .customer-account-login, .customer-account-create {
        .page-header {
            .header.content {
                padding-bottom: 0;
            }
        }
        .main-menu {
            .nav-sections-item-title {
                width: 50%;
                &[aria-controls = "store.menu"] {
                    display: none;
                }
            }
            .nav-sections-item-content {
                &[id = "store.menu"] {
                    display: none;
                }
            }
        }
    }
    .marketplace-seller-register {
        .page-main {
            padding: 0;
            .cr-container {
                padding: 0 20px;
                position: relative;
                z-index: 10;
            }
        }
    }
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
                display: none;
            }
        }
    }

    .account {
        .page.messages {
            margin-bottom: @indent__xl;
        }

        .column.main {
            .block:not(.widget) {
                .block-title {
                    &:extend(.abs-add-clearfix-mobile-m all);

                    > .action {
                        float: right;
                        .lib-css(margin-top, @indent__xs);
                    }
                }

                .block-content {
                    .box {
                        .lib-css(margin-bottom, @indent__base);
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .control.captcha-image {
        .captcha-img {
            display: block;
            .lib-css(margin-bottom, @indent__s);
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }
}
