<!-- Use for both seller and customer -->
<div class="box box-primary box-message-list">
    <div class="box-header with-border">
        <h3 class="box-title message-title"><!-- ko text: $data.message_subject --><!-- /ko --></h3>
    </div>
    <!-- ko foreach: getMessages() -->
    <div data-bind="attr:{ class: ($index() === ($parent.getMessages().length - 1)) ? $t('box-body no-padding last message-') + $index() : $t('box-body no-padding message-') + $index() }">
        <div data-bind="attr: {class: ($data.is_read && ($parent.getMessages().length - 1) > 1 && ($index() != ($parent.getMessages().length - 1))) ? $t('mailbox-read-info read') : $t('mailbox-read-info')}, click: $parent.toggleMessageView">
            <div data-bind="attr: {class: $data.owner_id == $data.sender_id ? $t('pull-left message-icon owner-message') : $t('pull-left message-icon')}">
                <i class="fa fa-user"></i>
            </div>

            <div class="pull-left">
                <!-- ko if: $data.owner_id == $data.sender_id -->
                <h3><!-- ko i18n: 'me' --><!-- /ko --></h3>
                <!-- /ko -->
                <!-- ko ifnot: $data.owner_id == $data.sender_id -->
                <h3 data-bind="html: $data.sender_name"></h3> <<span data-bind="html: $data.sender_email"></span>>
                <!-- /ko -->
                <div class="text-muted">
                    <!-- ko i18n: $data.owner_id == $data.receiver_id ? "to me" : "to " + $data.receiver_name + " <"+ $data.receiver_email + ">" --><!-- /ko -->
                </div>
            </div>

            <div class="pull-right">
                <!-- ko if: $data.attachments_count > 0 --> <i class="has-attachment message-icon-attachment" title="Attachment"></i> <!-- /ko -->
                <span class="mailbox-read-time pull-right"><!-- ko text: $data.createdAtDate --><!-- /ko --></span>
            </div>
        </div>
        <div data-bind="attr: {class: ($data.is_read && ($parent.getMessages().length - 1) > 1 && ($index() != ($parent.getMessages().length - 1))) ? $t('mailbox-read-message hide') : $t('mailbox-read-message')}">
            <div data-bind="html: $data.content"></div>
            <!-- ko if: $data.attachments_count > 0 -->
            <div class="vec-message-attachments">
                <p><span class="attachment-count" data-bind="text: ($data.attachments_count > 1?$t('%1 attachments'):$t('%1 attachment')).replace('%1', $data.attachments_count)"></span></p>
                <!-- ko foreach: $data.attachments -->
                <div class="vec-message-attachment" data-bind="click: function(data, event) {$parents[1].previewImage(data, event)}, css: {'attachment-image': $data.is_image, 'attachment-file': !$data.is_image}">
                    <div class="attachment-wrap-inner" aria-hidden="true">
                        <!-- ko if: $data.is_image -->
                        <a data-bind="attr:{href: $data.url, title: $data.name}" class="attachment-media-wrap">
                            <img data-bind="attr:{src: $data.url, alt: $data.name}" class="preview-image" />
                        </a>
                        <!-- /ko -->
                        <!-- ko ifnot: $data.is_image -->
                        <a href="javascript: void(0);" class="attachment-media-wrap">
                            <i class="attachment-icon" data-bind="css: $data.icon"></i>
                        </a>
                        <!-- /ko -->
                    </div>
                    <div class="attachment-overlay"></div>
                    <div class="attachment-info">
                        <span class="file-name" data-bind="text: $data.name"></span>
                    </div>
                    <div class="attachment-actions">
                        <a class="action download-action" data-tooltip="Download" data-bind="attr:{href: $data.download_url}">
                            <i class="action-icon message-icon-cloud-download"></i>
                        </a>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</div>
<div class="box box-reply-message clearfix">
    <form id="vec-message-form" method="post">
        <div class="box-body">
            <div class="form-group">
                <textarea name="reply" id="reply_msg_box" class="admin__control-textarea" data-bind="afterRender: initEditor, value: messageInput" rows="5" cols="10"></textarea>
                <div class="fileupload upload-wrapper message-attachment">
                    <!-- ko foreach: getRegion('uploader') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <button type="button" class="btn primary btn-primary" id="msg-send-btn" data-bind="click: sendMessage.bind($data)">
                    <i class="message-icon-paper-plane-o"></i> <span data-bind="text: $t('Send')"></span>
                </button>
            </div>
        </div>
    </form>
</div>
