<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="attr: {id: 'payment-method-' + getCode()}">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions()"></p>
        <div class="sms-verify" id="sms-verify-form">
            <label class="label" for="cod-verify"><strong data-bind="i18n: 'Verify Your OTP Code'"></strong></label>
            <p class="msg" data-bind="i18n: 'You will receive an SMS code required to complete your payment'"></p>
            <div class="control" data-bind="visible: visibleResend()">
                <input type="text" class="input-text" name="cod_verify" id="cod-verify" />
            </div>
            <button class="btn btn-small" data-bind="attr: {id: getSendButtonId()}, click:sendSms,i18n: getSendText()"></button>
            <button class="btn btn-small" id="cod-submit" data-bind="click:validateCode, i18n: 'Verify', visible: visibleResend()"></button>
            <p data-bind="attr: {class: getClassVerifyMessage()}"><!-- ko i18n: codVerifyMessage --><!-- /ko --></p>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: enableButton(),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
