<?php
/**
 * @copyright Copyright (c) 2017 www.tigren.com
 * @var $block \Tigren\Ajaxlogin\Block\Form\Login
 */
?>
<div class="mb-login-popup mb-login-dropdown" style="display: none">
    <div class="mb-ajaxsuite-popup-border mb-ajaxlogin-popup mb-ajaxlogin-login">
        <div class="block block-customer-login">
            <div class="block-title">
                <?= $block->escapeHtml(__('Account Login')) ?>
            </div>
            <form class="form form-login"
                  method="post"
                  id="social-form-login"
                  data-mage-init='{"validation":{}}'
                  enctype="multipart/form-data" autocomplete="off">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <fieldset class="fieldset login" data-hasrequired="<?php echo __('* Required Fields') ?>">
                    <div class="field email required">
                        <label class="label" for="email"><span><?php echo __('Email') ?></span></label>
                        <div class="control">
                            <input name="login[username]"
                                   value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?>
                                   id="ajaxlogin-email" type="email" class="input-text" title="<?php echo __('Email') ?>"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span><?php echo __('Password') ?></span></label>
                        <div class="control">
                            <input name="login[password]"
                                   type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?>
                                   class="input-text" id="ajaxlogin-pass" title="<?php echo __('Password') ?>"
                                   data-validate="{required:true, 'validate-password':true}">
                        </div>
                    </div>
                </fieldset>
                <div class="actions">
                    <div class="primary">
                        <button type="button" class="action submit primary" name="login" id="bnt-social-login-authentication">
                            <span><?php echo __('Login') ?></span>
                        </button>
                    </div>
                </div>
                <?= $block->getChildHtml('popup.authentication.social') ?>
                <div class="actions">
                    <div class="secondary">
                        <a class="action forgot" href="<?php echo $block->getForgotPasswordUrl() ?>" title="<?= __('Forgot Password') ?>">
                            <span><?php echo __('Forgot Your Password?') ?></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="login-result-message" style="display: none"></div>

