<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible(), afterRender: handleAfterRender, css: {'_store_pickup_active': isSelectedStorePickup(), '_has_logged_in': hasLoggedIn()}">
    <div id="shipping-type" class="checkout-shipping-type">
        <div id="checkout-step-shipping-type" class="step-content" data-role="content">
            <div id="onepage-checkout-shipping-type-delivery" class="shipping-type-selection-delivery">
                <div class="shipping-type-description">
                    <input type="radio" class="radio"
                           ko-disable="deliveryDisabled"
                           data-bind="
                            checkedValue: 'delivery',
                            checked: selectedShippingType,
                            attr: {
                                name: 'checkout_shipping_type',
                                id: 'shipping-type-delivery',
                                'aria-labelledby': 'shipping-type-delivery'
                            }"/>
                    <label data-bind="
                            attr: {
                                id: 'shipping_type_delivery_label',
                                for: 'shipping-type-delivery'
                            }">
                        <span data-bind="i18n: 'Ship to my delivery address'"></span>
                    </label>
                </div>
            </div>
            <div id="onepage-checkout-shipping-type-store-pickup" class="shipping-type-selection-store-pickup">
                <div class="shipping-type-description">
                    <input type="radio" class="radio"
                           ko-disable="storePickupDisabled"
                           data-bind="
                            checkedValue: 'store_pickup',
                            checked: selectedShippingType,
                            attr: {
                                name: 'checkout_shipping_type',
                                id: 'shipping-type-store-pickup',
                                'aria-labelledby': 'shipping-type-store-pickup'
                            }"/>
                    <label data-bind="
                            attr: {
                                id: 'shipping_type_store_pickup_label',
                                for: 'shipping-type-store-pickup'
                            }">
                        <span data-bind="i18n: 'Ship to a nearby pickup location, I will pick it up myself'"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <render args="storeSuggestionTemplate" />

    <div class="step-title" data-bind="fadeVisible: !isSelectedStorePickup(), i18n: 'Shipping Address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko if: (!quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!--/ko-->

        <!-- ko if: (!isSelectedStorePickup()) -->
        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="action action-show-popup">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
        <!--/ko-->
    </div>
</li>


<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <!-- ko if: rates().length  -->
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation"
                  novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <div class="table-checkout-shipping-method">
                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <div class="method-item" data-bind="click: $parent.selectShippingMethod, afterRender: $parent.handleAfterRenderShippingMethod(method)">
                            <div class="item-selection">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input name="shipping_method"
                                       class="radio"
                                       type="radio"
                                       data-bind="attr: {
                                                        checked: $parent.rates().length == 1,
                                                        'value' : method.carrier_code + '_' + method.method_code,
                                                        'id': 's_method_' + method.method_code,
                                                        'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                     }"/>
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input name="shipping_method" type="radio"
                                       data-bind="
                                                    value: method.carrier_code + '_' + method.method_code,
                                                    checked: $parent.isSelected,
                                                    attr: {
                                                        'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                        'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                    },
                                                    click: $parent.selectShippingMethod"
                                       class="radio"/>
                                <!--/ko-->
                                <label><strong data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></strong></label>
                                <!-- /ko -->
                                <div class="method-details">
<!--                                    <p data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></p>-->
                                    <!-- ko if:  method.comment -->
<!--                                    <p class="col" data-bind="html: method.comment"></p>-->
                                    <!-- /ko -->
                                    <div class="method-price">
                                        <!-- ko foreach: $parent.getRegion('price') -->
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ko if:  method.error_message -->
                        <p class="col col-error">
                            <p class="message error">
                                <div data-bind="text: method.error_message"></div>
                            </p>
                            <span class="no-display">
                                <input name="shipping_method" type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                            </span>
                        </p>
                        <!-- /ko -->

                        <!-- /ko -->
                    </div>
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <div class="actions-toolbar no-display" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span>Continue</span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 -->
            <div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'-->
                <!-- /ko --></div>
            <!-- /ko -->
        </div>
    </div>
</li>

<li id="message-error" data-bind="fadeVisible: visible()">
    <div role="alert"
         if="errorValidationMessage().length"
         class="message notice">
        <span text="errorValidationMessage()"/>
    </div>
</li>

<!--Shipping method button template-->
<li id="opc-content-shipping_method-button" data-bind="fadeVisible: visible()">
    <div class="actions-toolbar" id="opc-content-tigren-shipping-method-buttons-container">
        <div class="primary">
            <button data-role="opc-continue" class="button action continue primary"
                    data-bind="event: { click: onClickNextButton }">
                <span><!-- ko i18n: 'Continue'--><!-- /ko --></span>
            </button>
        </div>
    </div>
</li>