<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: (visible()) -->
    <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().middlename --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --><br/>
    <!-- ko text: _.values(address().street).join(", ") --><!-- /ko --><br/>
    <span data-bind="html: address().region"></span><br/>
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
    <!-- ko if: (address().telephone) -->
    <a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a>
    <!-- /ko --><br/>
<!-- /ko -->
