<div class="choice field">
    <section>
        <!-- ko foreach:  { data: options, as: 'item' }-->
            <div class="order-attribute-item">
                <input type="checkbox" class="checkbox" data-bind="
                checked: $parent.value,
                checkedValue: value,
                attr: { id: $parent.uid + '-' + value,
                    disabled: $parent.disabled,
                    name: $parent.inputName
                },
                hasFocus: $parent.focused">
                <label class="label" data-bind="text: $parent.description || item.label, attr: { for: $parent.uid + '-' + item.value }"></label>
            </div>
        <!-- /ko -->
        <!-- ko if: notice -->
        <div class="note" data-bind="attr: {id: $parent.noticeId}"><span data-bind="text: $parent.notice"></span></div>
        <!-- /ko -->
    </section>
</div>
