.block.block-highlight.widget .products-grid .product-items {
  margin-left: -10px;
}
.block.block-highlight.widget .products-grid .product-items .product-item {
  padding: 0;
}
.page-layout-1column .block.widget.highlight-cols-1 .product-item,
.page-layout-1column .block.widget.highlight-cols-1 .product-item:nth-child(n),
.block.widget.highlight-cols-1 .product-item {
  margin: 0 0 10px 10px;
  width: calc(100% / 1 - 10px);
}
.page-layout-1column .block.widget.highlight-cols-1 .product-item:nth-child(n),
.page-layout-1column .block.widget.highlight-cols-1 .product-item:nth-child(n):nth-child(n),
.block.widget.highlight-cols-1 .product-item:nth-child(n) {
  margin: 0 0 10px 10px;
}
.page-layout-1column .block.widget.highlight-cols-2 .product-item,
.page-layout-1column .block.widget.highlight-cols-2 .product-item:nth-child(n),
.block.widget.highlight-cols-2 .product-item {
  margin: 0 0 10px 10px;
  width: calc(100% / 2 - 10px);
}
.page-layout-1column .block.widget.highlight-cols-2 .product-item:nth-child(n),
.page-layout-1column .block.widget.highlight-cols-2 .product-item:nth-child(n):nth-child(n),
.block.widget.highlight-cols-2 .product-item:nth-child(n) {
  margin: 0 0 10px 10px;
}
.page-layout-1column .block.widget.highlight-cols-3 .product-item,
.page-layout-1column .block.widget.highlight-cols-3 .product-item:nth-child(n),
.block.widget.highlight-cols-3 .product-item {
  margin: 0 0 10px 10px;
  width: calc(100% / 3 - 10px);
}
.page-layout-1column .block.widget.highlight-cols-3 .product-item:nth-child(n),
.page-layout-1column .block.widget.highlight-cols-3 .product-item:nth-child(n):nth-child(n),
.block.widget.highlight-cols-3 .product-item:nth-child(n) {
  margin: 0 0 10px 10px;
}
.page-layout-1column .block.widget.highlight-cols-4 .product-item,
.page-layout-1column .block.widget.highlight-cols-4 .product-item:nth-child(n),
.block.widget.highlight-cols-4 .product-item {
  margin: 0 0 10px 10px;
  width: calc(100% / 4 - 10px);
}
.page-layout-1column .block.widget.highlight-cols-4 .product-item:nth-child(n),
.page-layout-1column .block.widget.highlight-cols-4 .product-item:nth-child(n):nth-child(n),
.block.widget.highlight-cols-4 .product-item:nth-child(n) {
  margin: 0 0 10px 10px;
}
.page-layout-1column .block.widget.highlight-cols-5 .product-item,
.page-layout-1column .block.widget.highlight-cols-5 .product-item:nth-child(n),
.block.widget.highlight-cols-5 .product-item {
  margin: 0 0 10px 10px;
  width: calc(100% / 5 - 10px);
}
.page-layout-1column .block.widget.highlight-cols-5 .product-item:nth-child(n),
.page-layout-1column .block.widget.highlight-cols-5 .product-item:nth-child(n):nth-child(n),
.block.widget.highlight-cols-5 .product-item:nth-child(n) {
  margin: 0 0 10px 10px;
}
.page-layout-1column .block.widget.highlight-cols-6 .product-item,
.page-layout-1column .block.widget.highlight-cols-6 .product-item:nth-child(n),
.block.widget.highlight-cols-6 .product-item {
  margin: 0 0 10px 10px;
  width: calc(100% / 6 - 10px);
}
.page-layout-1column .block.widget.highlight-cols-6 .product-item:nth-child(n),
.page-layout-1column .block.widget.highlight-cols-6 .product-item:nth-child(n):nth-child(n),
.block.widget.highlight-cols-6 .product-item:nth-child(n) {
  margin: 0 0 10px 10px;
}
@media (max-width: 767px) {
  /* Three columns instead of six */
  .highlight-cols-6 li.item {
    width: calc(100% / 3 - 10px) !important;
  }
}
@media (max-width: 480px) {
  /* Two columns for small screen */
  .page-layout-1column .block.widget.highlight-grid:not(.highlight-cols-1) .product-item,
  .page-layout-1column .block.widget.highlight-grid:not(.highlight-cols-1) .product-item:nth-child(n),
  .block.widget.highlight-grid:not(.highlight-cols-1) .product-item {
    width: calc(50% - 10px) !important;
  }
}
