<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<small class="copyright">
    <div class="container">
        <strong><?= /* @escapeNotVerified */ $block->getCopyright() ?></strong>
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('olmana-footer-bottom-links')->toHtml();?>
    </div>
</small>



