<div class="cat-links">
    <p><strong>Electrionic:</strong> <a title="Laptops" href="{{store direct_url='laptops.html'}}">Laptops</a> <a title="Mobile" href="#">Mobile</a> <a title="Television" href="#">Television</a> <a href="Speakers">Speakers</a> <a title="Cameras" href="#">Cameras</a> <a title="Smartwatches" href="#">Smartwatches</a> <a title="Tablets" href="#">Tablets</a> <a title="Software" href="#">Software</a></p>
    <p><strong>Fashion:</strong> <a title="Women" href="#">Women</a> <a title="Men" href="#">Men</a> <a title="Boy" href="#">Boy</a> <a title="Girl" href="#">Girl</a> <a title="Baby" href="#">Baby</a> <a title="Jewellry" href="#">Jewellry</a></p>
    <p><strong>Home &amp; Kitchen:</strong> <a title="Bath" href="#">Bath</a> <a title="Bedding" href="#">Bedding</a> <a title="Furniture" href="#">Furniture</a> <a title="Decor" href="#">Decor</a></p>
    <p><strong>Beauty &amp; Fragrance:</strong> <a title="Hair" href="#">Hair</a> <a title="Make Up" href="#">Make Up</a> <a title="Skin Care" href="#">Skin Care</a> <a title="Health &amp; Nutrition" href="#">Health &amp; Nutrition</a></p>
    <p><strong>Baby &amp; Kids:</strong> <a title="Car Seats" href="#">Car Seats</a> <a title="Feeding" href="#">Feeding</a> <a title="Diapering" href="#">Diapering</a> <a title="Baby" href="#">Baby</a> <a title="Clothing &amp; Shoes" href="#">Clothing &amp; Shoes</a></p>
    <p><strong>Grocery:</strong> <a title="Beverages" href="#">Beverages</a> <a title="Baby" href="#">Baby</a> <a title="Food" href="Food">Food</a> <a title="Candy &amp; Chocolate" href="#">Candy &amp; Chocolate</a> <a title="Canned" href="#">Canned</a> <a title="Cooking &amp; Baking" href="#">Cooking &amp; Baking</a></p>
</div>
<div class="col-links"><strong>Find It Fast</strong>
    <ul>
        <li><a title="Laptops &amp; Computers" href="#">Laptops &amp; Computers</a></li>
        <li><a title="Cameras &amp; Photography" href="#">Cameras &amp; Photography</a></li>
        <li><a title="Smart Phones &amp; Tablets" href="#">Smart Phones &amp; Tablets</a></li>
        <li><a title="Video Games &amp; Consoles" href="#">Video Games &amp; Consoles</a></li>
        <li><a title="TV &amp; Audio" href="#">TV &amp; Audio</a></li>
        <li><a title="Gadgets" href="#">Gadgets</a></li>
        <li><a title="Car Electronic &amp; GPS" href="#">Car Electronic &amp; GPS</a></li>
    </ul>
</div>
<div class="col-links"><strong class="strong-hidden">Find It Fast</strong>
    <ul>
        <li><a title="Printers &amp; Ink" href="#">Printers &amp; Ink</a></li>
        <li><a title="Software" href="#">Software</a></li>
        <li><a title="Office Supplies" href="#">Office Supplies</a></li>
        <li><a title="Computer Components" href="#">Computer Components</a></li>
    </ul>
</div>
<div class="col-links"><strong>Customer Care</strong>
    <ul>
        <li><a title="My Account" href="#">My Account</a></li>
        <li><a title="Track your Order" href="#">Track your Order</a></li>
        <li><a title="Customer Service" href="#">Customer Service</a></li>
        <li><a title="Return/Exchange" href="#">Return/Exchange</a></li>
        <li><a title="FAQs" href="#">FAQs</a></li>
        <li><a title="Profuct Support" href="#">Profuct Support</a></li>
    </ul>
</div>