<div class="col-links">
    <strong>My Account</strong>
    <ul>
        <li><a title="Login" href="{{store direct_url='customer/account/login'}}">Login</a>/<a title="Register" href="{{store direct_url='customer/account/login'}}">Register</a></li>
        <li><a title="My Shopping Cart" href="{{store direct_url='checkout/cart'}}">My Shopping Cart</a></li>
        <li><a title="My Orders" href="{{store direct_url='sales/order/history'}}">My Orders</a></li>
        <li><a title="My Addresses" href="{{store direct_url='customer/address'}}">My Addresses</a></li>
        <li><a title="Wishlists" href="{{store direct_url='wishlist'}}">Wishlists</a></li>
        <li><a title="Account Settings" href="{{store direct_url='customer/account/edit'}}">Account Settings</a></li>
        <li><a title="Account Summary" href="{{store direct_url='customer/account'}}">Account Summary</a></li>
    </ul>
</div>
<div class="col-links"><strong>SELLING ON BAZZARY</strong>
    <ul>
        <li><a title="SELL ON BAZZARY.COM" href="#">SELL ON BAZZARY.COM</a></li>
        <li><a title="How it works" href="#">How it works</a></li>
        <li><a title="Selling Policies" href="#">Selling Policies</a></li>
        <li><a title="Seller Terms and Conditions" href="#">Seller Terms and Conditions</a></li>
        <li><a title="Fulfilled by Souq" href="#">Fulfilled by Souq</a></li>
        <li><a title="FAQ for Seller" href="#">FAQ for Seller</a></li>
        <li><a title="Services Fees" href="#">Services Fees</a></li>
    </ul>
</div>
<div class="col-links"><strong>Customer Care</strong>
    <ul>
        <li><a title="Help Center" href="#">Help Center</a></li>
        <li><a title="Selling Center" href="#">Selling Center</a></li>
        <li><a title="On Whatsapp" href="#">On Whatsapp</a></li>
        <li><a title="FAQs" href="#">FAQs</a></li>
    </ul>
</div>
<div class="col-links"><strong>FOLLOW US</strong>
    <ul>
        <li>
            <ul class="share-buttons">
                <li><a class="link-twitter" title="Twitter" href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="link-facebook" title="Facebook" href="#" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <li><a class="link-googleplus" title="Googleplus" href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a class="link-youtube" title="Youtube" href="#" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                <li><a class="link-instagram" title="Instagram" href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a class="link-pinit" title="Pin it" href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
        </li>
        <li><a class="link-email" title="Email Us" href="mailto:info@bazzarry.com">info@bazzarry.com</a></li>
        <li><a class="hotline" title="Call Us Now" href="tel:+700800800"><span>HOTLINE</span> 700 800 800</a></li>
    </ul>
</div>