.step-label h3 span {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.giftcard-fieldset h2 {
    margin-top: 4px;
    margin-bottom: 2px;
}
.giftcard-info {
    padding: 0;
}
.giftcard-info .stock {
    text-align: left;
    color: #575757;
}

.giftcard-fieldset {
    padding: 0;
    margin: 0;
}
.giftcard-fieldset .step-label h3 {
    margin: 10px 0;
}
.giftcard-fieldset .field {
    margin-top: 10px;
}
.giftcard-value {
    margin: 0 0 10px;
    display: inline-block;
}
#card-preview {
    margin: 0 0 10px;
    display: inline-block;
}
#other_amount, .warnings #max, .warnings #min,  .warnings #invalid{
    display: none;
}

.warnings #max, .warnings #min, .warnings #invalid{
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px;
}

.required em {
    color: #e02b27;
}

.giftcard-preview-modal td.wrapper-inner {
    padding: 0;
}
.giftcard-preview-modal td.wrapper-inner .main {
    max-width: 100% !important;
}
.giftcard-preview-modal td.wrapper-inner .main-content {
    padding: 0 !important;
}
.giftcard-preview-modal td.wrapper-inner .header,
.giftcard-preview-modal td.wrapper-inner .footer{
    display: none;
    padding: 0 !important;
}
@media screen and (max-width: 1199px) {
    .giftcard-info {
        padding: 20px 0;
    }
}