.vendor-home-review{margin-bottom: 50px;}
.vendor-home-review .vendor-average-review{margin-bottom: 50px;}
.vendor-home-review .vendor-review-content {
    font-size: 14px;
    color: #000;
    font-weight: 300;
}
.vendor-review-detail .review-detail{margin-top: 20px;padding-bottom: 10px;}
.vendor-review-avatar{
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin:0 10px 0 0;
    float: left;
}
.vendor-review-avatar img{border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; overflow:hidden; background: #F0F0F0;}
.vendor-review-detail{
    display: inline-block;
    width: calc(100% - 220px);
    float: left;
}
.vendor-review-product-info {
    display: inline-block;
    width: 150px;
    text-align: center;
    float: left;
}
.vendor-review-product-info.product-item-photo {
    border: 1px solid #e7e7e7;
    display: block;
}
.vendor-review-product-info .product-name {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
}
.vendor-review-detail .review-title{margin: 0; font-size: 1.8rem; font-weight: 600;}
.vendor-review-detail .customer-info{}
.vendor-home-review .view-all-items{text-align: center;}
.vendor-home-review .view-all-items .action.primary{
    background: #d7d7d7;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
}
.vendor-home-review .limiter{display: block;}
.vendor-reviews-page .vendor-review, .vendor-home-review .vendor-review{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;
    display: block;
    width: 100%;
    overflow: hidden;
}

.vendor-review-item a{display: table-cell; vertical-align: middle;}
.vendor-review-item .product-item-photo img{border: 1px solid #d3d3d3; width: 100px; height: 80px; display: inline-block; margin-right: 10px;}
@media screen and (max-width: 600px) {
    .vendor-home-review {
        margin-bottom: 15px;
    }
}
