<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="isAllowed()">
    <a href="#" attr="'data-post': $col.getDataPost($row()), title: getLabel()"
            class="action tocompare"
            data-action="add-to-compare" title="getLabel()">
            <span text="getLabel()"/>
    </a>
</if>
