// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
@import 'module/_listings.less';
@import 'module/_toolbar.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-links3;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Category view
    .old-price,
    .old.price {
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name a {
        &:extend(.abs-product-link all);
    }

    .special-price,
    .old-price,
    .normal-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .old-price {
        .price {
            text-decoration: line-through;
            margin-left: 5px;
        }
    }

    .product-item {
        .old-price {
            .price {
                .lib-font-size(15);
                color: @color-text1;
            }
        }
    }

    .category-image {
        .image {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    .category-cms,
    .category-image,
    .category-description {
        margin-bottom: @indent__base;
    }

    //
    //  Product images general container
    //  -----------------------------------------
    .fotorama {
        .fotorama__active {
            .fotorama__dot {
                background-color: @active__color;
                border-color: @active__color;
            }
        }
    }

    .product-info-top {
        overflow: hidden;

        .page-title-wrapper {
            display: block;
            width: 100%;
            color: @primary__color;
        }

        div:not(.page-title-wrapper) {
            .lib-font-size(14);
            line-height: 14px;
            color: @color-text2;
        }

        .product {
            &.sku {
                float: left;
                margin-left: 20px;
                padding-left: 20px;
                border-left: solid 1px @color-border5;

                strong {
                    font-weight: @font-weight__regular;

                    &:after {
                        content: ":";
                    }
                }

                .value {
                    display: inline-block;
                }
            }

            &-reviews-summary {
                float: left;
            }
        }

        .product-sharing {
            float: right;

        }
    }

    .share-button-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            margin: 0;

            &:not(:last-child) {
                margin-right: 10px;
            }

            a {
                display: block;
                width: 30px;
                height: 30px;
                background-image: url('@{baseDir}images/share-icon.png');
                text-indent: -9999px;
                overflow: hidden;

                &.link-facebook {
                    background-position: 0 0;
                }

                &.link-twitter {
                    background-position: -40px 0;
                }

                &.link-line {
                    background-position: -240px 0;
                }

                &.link-pinit {
                    background-position: -200px 0;
                }

                &.link-whatsapp {
                    background-image: url('@{baseDir}images/whatsapp.png');
                }

                &.link-linkedin {
                    background-position: 150px 0;
                }

                &.link-googleplus {
                    background-position: -80px 0;
                }
            }

        }
    }

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  -----------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();

            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }

        .fotorama__thumb {
            border: solid 1px @color-border6;

            &-border {
                border-color: @color-light;
                border-width: 1px !important;
            }
        }

        .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
            margin-top: -15px;
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 50px;

        .additional-attributes-wrapper {
            > label {
                .lib-font-size(18);
                margin-bottom: 20px;
                display: block;
                text-transform: capitalize;
            }
        }

        .additional-attributes {
            width: 100%;

            th {
                width: 240px;
            }

            th,
            td {
                border: solid 1px @color-border6;
                padding: 14px 20px;
                .lib-font-size(14);
                font-weight: @font-weight__regular;
            }

            tr:nth-child(2n) {
                th {
                    background-color: @header-panel__background-color;
                }
            }
        }

        .product.data.items {
            text-align: center;

            > .item {
                &.title {
                    float: none;
                    display: inline-block;

                    > .switch {
                        border: none;
                        background: none;
                        .lib-font-size(18);
                        color: @color-links3;

                        .counter {
                            color: @color-links3;
                            display: inline-block;
                        }
                    }

                    &:not(.disabled) > .switch:active,
                    &.active > .switch {
                        position: relative;
                        color: @color-black;
                        font-weight: bold;

                        .counter {
                            color: @color-links3
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -4px;
                            width: 100%;
                            height: 2px;
                            background: @color-border2;
                        }
                    }
                }

                &.content {
                    text-align: left;
                    border-width: 1px 0 0 0;
                    border-color: @color-border;
                    padding: 30px 0 0;
                }
            }

            #reviews {
                .review-total {
                    .title {
                        .lib-font-size(14);
                    }

                    .rating-summary {
                        display: flex;
                        align-items: center;

                        .rating-average {
                            .lib-font-size(56);
                            font-weight: @font-weight__bold;
                            color: @color-green2;
                            margin: 0 20px 0 0;
                        }

                        .rating-result {
                            width: auto;

                            &:before,
                            > span:before {
                                .lib-font-size(20);
                            }

                            > span:before {
                                color: @color-star3;
                            }

                            > p {
                                .lib-font-size(14);
                                color: @color-text2;
                                margin-bottom: 0;
                                margin-top: 3px;
                            }
                        }
                    }

                    .rating-summary-details {
                        .ratings-table {
                            .lib-font-size(14);
                            color: @color-text2;
                            font-weight: normal;

                            th, td {
                                padding: 8px 10px;
                                vertical-align: middle;
                            }

                            th {
                                padding: 0;
                                font-weight: @font-weight__regular;

                                span {
                                    &:after {
                                        content: '\f005';
                                        font-family: 'FontAwesome';
                                        color: @color-star3;
                                        .lib-font-size(15);
                                        margin-left: 3px;
                                    }
                                }
                            }

                            .rating-bar {
                                width: 250px;
                                height: 10px;
                                position: relative;
                                background: #f1f1f1;
                                .borderRadius(3px);

                                .rating {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 10px;
                                    .borderRadius(3px);
                                    background: @color-green2;
                                }
                            }

                            td:first-child {
                                span {
                                    &:after {
                                        font-family: 'FontAwesome';
                                        content: '\f005';
                                        color: @color-star;
                                    }
                                }
                            }
                        }

                    }
                }

                .review-legend {
                    text-transform: uppercase;
                    border: none;
                    font-weight: @font-weight__regular;
                    .lib-font-size(18);
                }
            }
        }
    }

    .product-info-main {
        color: @color-text2;
        .lib-font-size(14);
        position: relative;
        z-index: 0;

        .product-info-price {
            .lib-css(color, @product-info-price);
            display: table;
            margin-bottom: 5px;
            width: 100%;

            .price-box {
                display: table-cell;
                vertical-align: top;
                width: 1px;

                .price-container {
                    > span {
                        display: block;
                        margin-bottom: @indent__xs;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);

                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(22);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                .price-wrapper .price {
                    .lib-font-size(20);
                    font-weight: @font-weight__light;
                }
            }

            .special-price {
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .product-info-stock-sku {
            display: block;
            margin-bottom: 5px;

            .stock {
                &.available,
                .unavailable {
                    text-transform: none;
                    font-weight: @font-weight__regular;

                    span {
                        font-weight: @font-weight__bold;
                    }
                }

                &.available {
                    span {
                        color: @color-green;
                    }
                }

                &.unavailable {
                    span {
                        color: @color-black;
                    }
                }
            }
        }

        .stock {
            margin: 0 0 3px;

            &.available,
            &.unavailable {
                font-weight: @font-weight__bold;
                text-transform: uppercase;
            }
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
            margin-bottom: 5px;
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        font-weight: normal;
                        margin-right: @indent__xs;

                        &:after {
                            content: '#:';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: 5px 0;
                    border-bottom: solid 1px @color-border;
                    padding-bottom: 5px;
                    margin-bottom: 5px;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;

            .swatch-opt {
                margin: 0;

                .swatch-attribute {
                    margin-bottom: 5px;

                    .swatch-attribute-label {
                        font-weight: @font-weight__regular;

                        &:after {
                            content: ":";
                        }
                    }
                }
            }
        }

        .product-reviews-summary {
            float: left;
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: 5px;
            }
        }

        .box-tocart .action.tocart {
            min-width: 200px;
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                            @_font-size: @form-field-label-asterisk__font-size,
                            @_color: @form-field-label-asterisk__color,
                            @_font-family: @form-field-label-asterisk__font-family,
                            @_font-weight: @form-field-label-asterisk__font-weight,
                            @_line-height: @form-field-label-asterisk__line-height,
                            @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }

        .field {
            .note.mage-error {
                color: @error__color;
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: table-cell;
        padding-bottom: @indent__s;
        vertical-align: top;

        .old-price {
            .lib-font-size(20);
            font-weight: @font-weight__light;

            .price-container > span {
                display: inline-block;
            }
        }

        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                .lib-font-size(22);
                font-weight: @font-weight__regular;
                line-height: 22px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .quantity-update {
        border: solid 1px @color-border6;
        .borderRadius(5px);
        display: inline-block;
        width: 109px;

        input.qty {
            border: none;
            width: 40px !important;
            height: 37px;
            line-height: 37px;
            text-align: center;
            .lib-font-size(12);
            font-weight: bold;
            padding: 0;
            box-shadow: none;
        }

        .quantity-controls {
            border: none;
            background: none;
            position: relative;
            width: 30px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            padding: 0;
            color: @primary__color;

            &:before {
                font-family: 'FontAwesome';
                .lib-font-size(10px);
            }

            &.quantity-minus:before {
                content: "\f068";
            }

            &.quantity-plus:before {
                content: "\f067";
            }

            span {
                display: none;
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        margin-bottom: 15px;

        .field.qty {
            margin-bottom: 0;

            .label {
                font-weight: @font-weight__regular;
                .lib-font-size(12);
                display: block;
                margin-bottom: 5px;
                line-height: 11px;
            }
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
            display: flex;
            align-items: center;
            margin: 10px 0 0;
        }

        .action.tocart {
            &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);

            margin: 0 20px 0 0;
            padding: 10px;
            line-height: 25px;
            .lib-font-size(15);

            > span {
                position: relative;
                padding-left: 30px;

                &:before {
                    .iconSprite();
                    background-position: -134px -5px;
                    width: 18px;
                    height: 17px;
                    .transformTranslate(0, -50%);
                    left: 0;
                    top: 50%;
                    position: absolute;
                }
            }
        }

        .product-social-links {
            margin: 0;
            text-align: center;

            .product-addto-links {
                display: flex;
            }

            a {
                display: inline-block;

                span {
                    display: none;
                }

                &.tocompare:before {
                    content: "\f0ec";
                    font-family: 'FontAwesome';
                }

                &:before {
                    .lib-font-size(20) !important;
                    color: @color-links2;
                    display: block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                }

                &:hover {
                    text-decoration: none;

                    &:before {
                        color: @color-light;
                    }
                }
            }
        }

        .quantity-update {
            div.mage-error {
                position: absolute;
                margin-top: 2px;
                .lib-font-size(10);
            }
        }
    }

    .product-addto-links {
        display: inline;

        .action {
            margin-right: 5%;
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .minimal-price-link {
        display: inline-block;
        width: 50%;
        text-align: right;
        .price-label {
            display: block;
        }
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Vendor product view
    //  -----------------------------------------

    .vendor-catalog-product-view {
        .product-info-main {
            border: 1px solid #E7E7E7;
            .product-info-top {
                padding: @indent__base;
                border-bottom: 1px solid #E7E7E7;
                position: relative;
                clear: both;
                float: left;
                width: 100%;
                overflow: visible;
                .fulfilled-bazzarry {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translate(0, -50%);
                    .title {
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    .fulfilled-desc {
                        display: none;
                        padding: 10px;
                        background: @color-white;
                        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.19);
                        max-width: 350px;
                        min-width: 280px;
                        position: absolute;
                        right: 0;
                        z-index: 9999;
                        bottom: 36px;
                    }
                }
            }
            .product-info-bottom {
                display: table;
                .product-info-bottom-left {
                    display: table-cell;
                    width: 50%;
                    vertical-align: top;
                    padding: 20px;
                    border-right: 1px solid #E7E7E7;
                    max-width: 460px;
                }
                .product-info-bottom-right {
                    display: table-cell;
                    width: 50%;
                    vertical-align: top;
                    padding: 0;
                    .vendor-profile-container {
                        .lib-css(background, @color-white);
                        padding: 20px;
                        .vendor-profile-logo,
                        .vendor-profile-description {
                            width: 100%;
                            padding: 0;
                            float: none;
                        }
                        .vendor-profile-logo {
                            display: table;
                            .vendor-profile-logo-img,
                            .vendor-title {
                                display: table-cell;
                                vertical-align: middle;
                            }
                            .vendor-profile-logo-img {
                                max-width: 80px;
                                width: 30%;
                            }
                            .vendor-title {
                                text-align: left;
                                padding: 0 @indent__base;
                                a {
                                    .lib-font-size(20);
                                    .lib-css(color, @color-black);
                                    font-weight: bold;
                                }
                            }
                        }
                        .vendor-profile-description {
                            .vendor-headline {
                                .lib-font-size(14);
                                color: #6C6C6C;
                            }
                            .vendor-info {
                                .lib-css(color, @color-black);
                                .lib-font-size(14);
                                > .vendor-location {
                                    display: block;
                                    width: 100%;
                                    border: none;
                                }
                                > span {
                                    line-height: 20px;
                                    margin-top: 5px;
                                    display: block;
                                    &:last-child {
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                    }
                                }
                                &.message-contact {
                                    background: #D7D7D7;
                                    .lib-css(color, @color-black);
                                    border-radius: 3px;
                                    border: none;
                                    margin-bottom: 10px;
                                    .vnecoms-msg-btn.message-icon-envelope {
                                        .lib-css(color, @color-black);
                                        .lib-font-size(14);
                                        font-family: inherit !important;
                                        border-radius: 3px;
                                        border: none;
                                        &:before {
                                            content: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .other-sellers-section {
                        padding: 20px;
                        position: relative;
                        margin-top: 20px;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            background: #E7E7E7;
                            height: 1px;
                            width: ~'calc(100% + 42px)';
                            left: -20px;
                        }
                        h3 {
                            .lib-font-size(16);
                            .lib-css(color, @color-black);
                            margin: 0 0 10px;
                        }
                        .price, a {
                            .lib-css(color, @_link-color);
                        }
                    }
                }
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }

    .page-products {
        .sidebar-main {
            display: flex;
            flex-wrap: wrap;

            .navigation-sidebar {
                order: -1;
                border: solid 2px @color-border3;
                .borderRadius(10px);
                width: 100%;
                margin-bottom: 25px;

                .box-title {
                    .lib-font-size(16);
                    text-transform: uppercase;
                    padding: 18px 25px;
                }

                > ul {
                    border-top: solid 1px @color-border3;
                    padding: 10px 25px;
                }

                .menu-banners-wrap {
                    display: none;
                    padding: 0;

                    .category-banner-menu {
                        display: none;
                    }
                }

                ul {
                    list-style: none;
                    margin: 0;

                    li {
                        position: relative;

                        &.active {
                            > a {
                                font-weight: @font-weight__bold;
                                color: @color-border2;
                            }
                        }

                        &.parent {
                            .arrow {
                                position: absolute;
                                right: 0;
                                top: 5px;
                                width: 25px;
                                height: 20px;
                                text-align: center;
                                line-height: 20px;
                                cursor: pointer;

                                &:before {
                                    content: "\f078";
                                    font-family: 'FontAwesome';
                                    font-size: 10px;
                                }

                                &.active {
                                    &:before {
                                        content: "\f077";
                                    }
                                }
                            }
                        }

                        a {
                            .lib-font-size(14);
                            color: @color-links3;
                            line-height: 30px;
                        }
                    }

                    &.submenu {
                        padding-left: 15px;
                    }

                    li.level1 .submenu {
                        display: none;
                    }
                }
            }
        }
    }

    .block-viewed-products-grid {
        .box-title {
            border-bottom: solid 1px @color-border;
            overflow: hidden;
            margin-bottom: 5px;

            strong {
                .lib-font-size(22);
                font-weight: @font-weight__regular;
                line-height: 40px;
                position: relative;
                float: left;

                &:before {
                    width: 100%;
                    height: 1px;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: @color-border2;
                }
            }
        }
    }

    .catalog-product-view {
        #at4-share, #at4-soc {
            top: 50% !important;
        }
    }

}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .zoomContainer {
        display: none;
    }
    .catalog-product-view {
        .page-main {
            padding-top: 0;
        }
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
            margin-bottom: @indent__base;
        }

        .box-tocart .quantity-update {
            margin-bottom: 5px;
        }
    }

    //
    //  Vendor product view
    //  -----------------------------------------

    .vendor-catalog-product-view {
        .product-info-main {
            border: 1px solid #E7E7E7;
            .product-info-top {
                padding: @indent__base;
                border-bottom: 1px solid #E7E7E7;
                position: relative;
                .fulfilled-bazzarry {
                    position: static;
                    display: block;
                    width: 100%;
                    transform: none;
                    margin: 0 0 10px;
                }
            }
            .product-info-bottom {
                display: block;
                .product-info-bottom-left {
                    display: block;
                    width: 100%;
                    max-width: none;
                    border: none;
                    border-bottom: 1px solid #E7E7E7;
                }
                .product-info-bottom-right {
                    display: block;
                    width: 100%;
                    max-width: none;
                    .vendor-profile-container {
                        .vendor-profile-logo,
                        .vendor-profile-description {
                            width: 100%;
                            padding: 0;
                            float: none;
                        }
                        .vendor-profile-logo {
                            display: block;
                            text-align: center !important;
                            .vendor-profile-logo-img,
                            .vendor-title {
                                display: block;
                                width: 100%;
                                max-width: none;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .page-products {
        .sidebar-main {
            .navigation-sidebar {
                display: none;
            }
        }
    }

    .product-info-top {
        display: flex;
        flex-wrap: wrap;

        .product-sharing {
            order: 1;
            margin-top: 10px;
            width: 100%;
        }
    }

    .box-tocart {
        .actions {
            margin-top: 10px;
        }
    }

    .product.info.detailed {
        border: none;
        margin-bottom: 25px;

        .product.data.items {
            margin: 20px 0 0;
            border: none;

            > .item.title {
                margin-bottom: 8px;

                .switch:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 100%;
                    height: 1px;
                    background: @color-border;
                }

                > .switch {
                    .lib-font-size(16);
                    text-align: left;
                }
            }

            > .item.content {
                padding: 10px 0 20px;
            }

            #reviews {
                .review-total {
                    margin-bottom: 20px;

                    .rating-summary-details .ratings-table {
                        width: auto;

                        .rating-bar {
                            width: 200px;
                        }
                    }
                }

                .review-content {
                    margin-bottom: 0;
                }
            }
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .product-info-main .product.attribute.sku {
        margin: 0;
        padding: 0;
        border: none;
        display: block;
        clear: both;
        float: left;
        width: 100%;
        text-align: left;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

    .product-info-price {
        margin: 0 -@indent__s 0;
        width: ~'calc(100% + 2*@{indent__s})' !important;

        > *:first-child {
            padding-left: @indent__s;
        }

        > *:last-child {
            padding-right: @indent__s;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }

    .review-field-rating .control {
        width: 100%;
    }
    .product-info-main .box-tocart .action.tocart {
        min-width: 160px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-title-wrapper.product {
        .page-title {
            .lib-font-size(25);
            margin-bottom: 5px;
        }
    }
    .product-info-main {
        .page-title-wrapper {
            h1 {
                .lib-css(margin-bottom, @product-h1-margin-bottom-desktop);
            }
        }

        .product-add-form {
        }
    }

    .box-tocart {
        .fieldset {
            display: flex;
            align-items: center;
        }

        .action.tocart {
            margin-left: 20px;
        }
    }

    .custom-links {
        border-top: solid 1px @color-border;
        padding-top: 5px;
        margin-top: 5px;

        div {
            margin-bottom: 5px;

            span {
                color: @primary__color;
                display: inline-block;

                &:after {
                    content: ":";
                }
            }

            a {
                color: @color-text2;

                &:not(:last-child) {
                    &:after {
                        content: ",";
                    }
                }
            }

        }
    }

    .product-social-links {
        text-align: left;
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                .lib-font-size(14);

                .price {
                }
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .product-info-main {
        float: right;
        margin-bottom: 50px;
    }

    .product.media {
        float: left;
        margin-bottom: 50px;
    }

    .page-layout-1column {
        .product-info-main {
            width: 49%;
        }

        .product.media {
            width: 47%;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }

    .page-layout-2columns-left {
        .sidebar-additional {
            padding-bottom: @indent__l;
        }
    }
    .product.data.items {
        #reviews {
            overflow: hidden;

            .review-total {
                float: left;
                max-width: 40%;
            }

            #product-review-container,
            .review-add {
                &.no-review {
                    width: 100%;

                    .notlogged {
                        width: 70%;
                        margin: auto;
                        text-align: left;
                    }
                }

                float: right;
                width: 57.5%;
            }
        }

        #description {
            .lib-font-size(16px;)
        }

    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
    //
    //  Vendor product view
    //  -----------------------------------------

    .vendor-catalog-product-view {
        .product-info-main {
            .product-info-bottom {
                .product-info-bottom-right {
                    min-width: 250px;
                }
            }
        }
    }
}

@media print {
    .catalog-product-compare-index {
        .main-menu {
            display: none;
        }

        .footer-top {
            display: none;
        }

        .copyright {
            display: none;
        }
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    //
    //  Vendor product view
    //  -----------------------------------------

    .vendor-catalog-product-view {
        .product-info-main {
            .product-info-bottom {
                .product-info-bottom-left {
                    max-width: 400px;
                    .box-tocart {
                        .fieldset {
                            display: block;
                            .action.tocart {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .product-info-bottom-right {
                    min-width: 250px;
                }
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .vendor-catalog-product-view {
        .product-info-main {
            border: 1px solid #E7E7E7;
            .product-info-top {
                padding: @indent__base;
                border-bottom: 1px solid #E7E7E7;
                position: relative;
                .fulfilled-bazzarry {
                    position: static;
                    display: block;
                    width: 100%;
                    transform: none;
                    margin: 0 0 10px;
                }
            }
            .product-info-bottom {
                display: block;
                clear: both;
                .product-info-bottom-left {
                    display: block;
                    width: 100%;
                    max-width: none;
                    border: none;
                    .box-tocart {
                        .fieldset {
                            display: block;
                            .action.tocart {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .product-info-bottom-right {
                    display: block;
                    width: 100%;
                    max-width: none;
                    .vendor-profile-container {
                        .vendor-profile-logo,
                        .vendor-profile-description {
                            width: 100%;
                            padding: 0;
                            float: none;
                        }
                        .vendor-profile-logo {
                            display: block;
                            .vendor-profile-logo-img,
                            .vendor-title {
                                display: block;
                                width: 100%;
                                max-width: none;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render 'overflow-x' rule.
        border: none;
        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px 15px 60px;
            width: 180px;
            position: relative;
            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                    text-transform: capitalize;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
            .product-info-wrap {
                .product-item-actions {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    margin: 0;
                    .actions-primary, .actions-secondary {
                        display: inline-block;
                    }
                    .actions-secondary {
                        .action.towishlist {
                            .lib-font-size(14);
                            margin: 0 10px;
                        }
                    }
                }
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
    .addthis-smartlayers {
        .at4-show-content {
            //opacity: 0!important;
            //visibility: hidden;
        }
    }
    .at-share-close-control .at4-arrow.at-left {
        float: right;
        background: none !important;
        width: 100% !important;
        text-align: center;
        text-indent: unset !important;
        overflow: visible !important;
    }
    #at4-soc div.at4-arrow.at-right {
        float: left;
        background: none !important;
        width: auto !important;
        text-align: center;
        text-indent: unset !important;
        overflow: visible !important;
        font-size: 14px !important;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }

    .product.info.detailed .additional-attributes-wrapper {
        > label {
            .lib-font-size(16);
            margin-bottom: 10px;
        }
    }
    .vendor-catalog-product-view {
        .product-info-main {
            .product-info-top {
                .fulfilled-bazzarry {
                    .fulfilled-desc {
                        left: 20px;
                        right: auto;
                        z-index: 9999;
                        bottom: -10px;
                        position: static;
                        box-shadow: none;
                        border: 1px solid rgba(0, 0, 0, 0.19);
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.related {
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            margin-left: 20px;
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
}
