<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="opc-block-summary" data-bind="blockLoader: isLoading, afterRender: handleAfterRender">
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <!-- Next step button template -->
    <div id="opc-shipping_method-button" data-bind="visible: isShowNextBtn()">
        <div class="actions-toolbar" id="tigren-shipping-method-buttons-container">
            <div class="primary">
                <button data-role="opc-continue" class="button action continue primary"
                        data-bind="event: { click: onClickNextButton }">
                    <span translate="'Continue'" />
                </button>
            </div>
        </div>
    </div>
</div>
