.step-label h3 span {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.giftcard-fieldset h2 {
    margin-top: 4px;
    margin-bottom: 2px;
}

.giftcard-info .stock {
    text-align: right;
    color: #575757;
    margin-top: -20px;
}

#other_amount, .warnings #max, .warnings #min,  .warnings #invalid{
    display: none;
}

.warnings #max, .warnings #min, .warnings #invalid{
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px;
}

.required em {
    color: #e02b27;
}

.field {
    margin-top: 10px;
}