<li class="vendor-message-link">
    <a href="<?php echo $block->getMessageUrl()?>"><i class="message-icon-envelope"></i><?php echo __("Messages")?></a>
    <?php if($count = $block->getUnreadMessageCount()):?><span class="vnecoms-unread-message-count"><?php echo $count?></span><?php endif;?>
</li>