/**
* @copyright Copyright (c) 2016 www.tigren.com
*/
#tigren-social {
    .social-button {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

    &.pos-sunkmenu{
        position:absolute;
        top:50px;
        left:0px;
        z-index:9999;
        border: 1px solid grey;
        background-color:white;
        margin: 0;
        width: 50px;
        height: 30px;

        .social-button {
            display: block;
        }

        .label img{
            width: 45px;
            max-width: none;
        }

        .share-button-list{
            display:none;
            padding: 10px;

            .social-button{
                display:block;
                margin-bottom: 5px;
            }
        }
    }
}

.page-wrapper {
    position: relative;
}

