<?php
/**
 * @copyright Copyright (c) 2016 www.tigren.com
 */
$enableFacebook = $block->getScopeConfig('socialshare/facebook/enable_facebook');
$enableTwitter = $block->getScopeConfig('socialshare/twitter/enable_twitter');
$enableGooglePlus = $block->getScopeConfig('socialshare/googleplus/enable_google_plus');
$enablePinit = $block->getScopeConfig('socialshare/pinitsharing/enable_pinit');
$enableLine = $block->getScopeConfig('socialshare/line/enable_line');
$enableWhatsApp = $block->getScopeConfig('socialshare/whatsapp/enable_whatsapp');
$enableLinkedin = $block->getScopeConfig('socialshare/linkedin/enable_linkedin');
?>
<?php
$_product = $block->getCurrentProduct();
$_productUrl = $_product->getProductUrl();
$_productName = $_product->getName();
$_productShortDesc = $_product->getShortDescription();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helperImport = $objectManager->get('\Magento\Catalog\Helper\Image');

$_productImageUrl = $helperImport->init($_product, 'product_page_image_small')
    ->setImageFile($_product->getData('small_image'))// image,small_image,thumbnail
    ->resize(200)
    ->getUrl();
?>

<div id="tigren-social" class="product-sharing hidden-xs hidden-sm">
    <ul class="share-button-list">
        <?php if ($enableFacebook == 1): ?>
            <li>
                <?php $_u = 'u=' . $_productUrl; ?>
                <a title="<?= $block->escapeHtml(__('Facebook')) ?>"
                   href="<?php echo 'https://www.facebook.com/sharer/sharer.php?s=100&' . $_u; ?>" target="_blank"
                   class="link-facebook">
                    <?= $block->escapeHtml(__('Facebook')) ?>
                </a>
            </li>
        <?php endif ?>
        <?php if ($enableTwitter == 1): ?>
            <li>
                <a title="<?= $block->escapeHtml(__('Twitter')) ?>"
                   href="<?php echo 'http://twitter.com/share?url=' . $_productUrl; ?>" target="_blank"
                   class="link-twitter">
                    <?= $block->escapeHtml(__('Twitter')) ?>
                </a>
            </li>
        <?php endif ?>

        <?php if ($enablePinit == 1): ?>
            <li>
                <a title="<?= $block->escapeHtml(__('Pin it')) ?>"
                   href="<?php echo 'http://pinterest.com/pin/create/button/?url=' . $_productUrl . '&media=' . $_productImageUrl; ?>"
                   target="_blank" class="link-pinit">
                    <?= $block->escapeHtml(__('Pin it')) ?>
                </a>
            </li>
        <?php endif ?>

        <?php if ($enableLine == 1): ?>
            <li>
                <a title="<?= $block->escapeHtml(__('Line')) ?>"
                   href="<?php echo 'https://social-plugins.line.me/lineit/share?url=' . $_productUrl; ?>"
                   target="_blank" class="link-line">
                    <?= $block->escapeHtml(__('Line')) ?>
                </a>
            </li>
        <?php endif; ?>
        <?php if ($enableWhatsApp): ?>
            <li>
                <a title="<?= $block->escapeHtml(__('WhatsApp')) ?>"
                   href="<?= 'https://api.whatsapp.com/send?text=' . $_productUrl ?>" target="_blank" class="link-whatsapp">
                    <?= $block->escapeHtml(__('WhatsApp')) ?>
                </a>
            </li>
        <?php endif; ?>
        <?php if ($enableLinkedin): ?>
            <li>
                <a title="<?= $block->escapeHtml(__('Linkedin')) ?>"
                   href="<?= 'https://www.linkedin.com/shareArticle?mini=true&url=' . $_productUrl ?>" target="_blank" class="link-linkedin">
                    <?= $block->escapeHtml(__('Linkedin')) ?>
                </a>
            </li>
        <?php endif; ?>
    </ul>
</div>
