<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="html: $parent.name"></strong>
            <!-- ko if: (JSON.parse($parent.options).length > 0)-->
            <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
                <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
                <div data-role="content" class="content">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <dl class="item-options">
                        <!--ko foreach: JSON.parse($parent.options)-->
                        <dt class="label" data-bind="text: label"></dt>
                        <!-- ko if: ($data.full_view)-->
                        <dd class="values" data-bind="html: full_view"></dd>
                        <!-- /ko -->
                        <!-- ko ifnot: ($data.full_view)-->
                        <dd class="values" data-bind="html: value"></dd>
                        <!-- /ko -->
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="secondary">
                <div class="details-qty">
                    <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                    <span class="value" data-bind="text: $parent.qty"></span>
                </div>
                <a href="#" class="checkout-cart-item-remove" data-bind="click:removeItem,attr: {'id': 'remove-cart-item-'+$parent.item_id,'data-cart-item': $parent.item_id}" title="Remove">
                    <span data-bind="i18n: 'Remove'">Remove</span>
                </a>
            </div>
        </div>
    </div>
</div>
