<?php
/** @var \Tigren\VendorsProduct\Block\Product\View\Fulfilled $block */
/** @var \Magento\Catalog\Model\Product $product */
$product = $block->getProduct();
?>
<?php if ($product->getData('fulfilled_by_bazzarry')) : ?>
    <span class="fulfilled-bazzarry">
        <span class="title action primary tocart"><?= __('Fulfilled By Bazzarry') ?></span>
        <?php if($this->helper('Tigren\VendorsProduct\Helper\Data')->getFullfillDescription() != ''): ?>
            <span class="fulfilled-desc">
                <?= $this->helper('Tigren\VendorsProduct\Helper\Data')->getFullfillDescription(); ?>
            </span>
        <?php endif ?>
    </span>
    <script type="text/javascript">
        require([
            'jquery',
            'matchMedia'
        ], function ($, mediaCheck) {
            mediaCheck({
                media: '(min-width: 768px)',

                /**
                 * Switch to Desktop Version.
                 */
                entry: function () {
                    $(".fulfilled-bazzarry .title").hover(
                        function() {
                            $('.fulfilled-bazzarry .fulfilled-desc').fadeIn();
                        }, function() {
                            $('.fulfilled-bazzarry .fulfilled-desc').fadeOut();
                        }
                    );
                },

                /**
                 * Switch to Mobile Version.
                 */
                exit: function () {
                    $(".fulfilled-bazzarry .title").click(function (){
                        $(this).next().slideToggle();
                    });
                }
            });
        });
    </script>
<?php endif; ?>