<?php if($this->getData('order')->getPickupstoreId()) {?> <h3><?= /* @escapeNotVerified */ __('Store Pickup Info') ?></h3><?php } else {?> <h3><?= /* @escapeNotVerified */ __('Shipping Info') ?></h3><?php } ?>