// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .form.wishlist.items {
        .actions-toolbar {
            &:extend(.abs-reset-left-margin all);
        }
    }
    .wishlist{
        .product-items{
            .product-item{
                .product-item-inner{
                    .product-item-actions{
                        display: block;
                    }
                }
            }
        }
    }
    .product-social-links,
    .block-bundle-summary,
    .product-item,
    .table-comparison {
        .action.towishlist {
            text-transform: capitalize;
            &:before{
                content:"\f08a";
                font-family: 'FontAwesome';
                .lib-font-size(13);
                margin: 0 3px 0 0;
            }
            &.added-in-wishlist,
            &.in-wishlist {
                &:before {
                    content:"\f004";
                    color: red;
                }
            }
        }
    }

    .account .table-wrapper .data.table.wishlist {
        .lib-table-bordered(
        @_table_type: horizontal
        );

        thead > tr > th {
            border-bottom: 0;
        }

        tbody > tr:last-child > td {
            border-bottom: 1px solid @table__border-color;
        }

        .product.name {
            display: inline-block;
            margin-bottom: @indent__s;
        }

        .box-tocart {
            margin: @indent__s 0;

            .qty {
                vertical-align: middle;
                &:extend(.abs-input-qty all);
            }
        }

        .col {
            &.item {
                width: 50%;
            }

            &.photo {
                max-width: 150px;
            }

            &.selector {
                max-width: 15px;
            }
        }

        textarea {
            margin: @indent__s 0;
        }

        .input-text.qty {
            margin-bottom: @indent__s;
        }

        .action.primary {
            vertical-align: top;
        }

        .price {
            font-weight: @font-weight__bold;
        }
    }

    .link.wishlist {
        .counter {
            white-space: nowrap;

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .block-wishlist {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .product-item-name {
            margin-right: @indent__m;
        }
    }

    .products-grid.wishlist {
        .product {
            &-item {
                &-photo {
                    display: block;
                    margin-bottom: @indent__s;
                    text-align: center;
                }

                &-name {
                    margin-top: 0;
                }

                .price-box {
                    margin: 0;
                }

                .comment-box {
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                &-comment {
                    display: block;
                    height: 42px;
                    margin: @indent__s 0;
                    padding: 5px;
                }

                &-actions {
                    > * {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .box-tocart {
                    input.qty {
                        &:extend(.abs-input-qty all);
                    }

                    .tocart {
                        &:extend(.abs-revert-secondary-size all);
                        margin: 0;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-grid.wishlist {
        .product-item {
            padding-bottom: 0;
            border-bottom: 1px solid @secondary__color;

            &:first-child {
                border-top: 1px solid @secondary__color;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-grid.wishlist {
        margin-bottom: @indent__l;
        .product {
            &-item {
                padding: 10px 0;
                position: relative;

                &-photo {
                }

                &-name {
                    .lib-font-size(16);
                }

                &-actions {
                    display: block;
                    margin-bottom: 10px;
                    .action {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.edit,
                        &.delete {
                        }
                    }
                }

                &-name,
                &-description,
                .price-box,
                &-tooltip {
                }

                .box-tocart {
                    margin-bottom: 0;
                    > fieldset.fieldset {
                        margin: 0;
                    }
                    .stock {
                        margin-top: 7px;
                    }
                }

                .giftregisty-dropdown,
                .field.qty {
                    margin: 0 0 10px;
                }
            }
        }
    }

    .wishlist-index-index {
        .product {
            &-item {
                width: 100%;

                &-info {
                    width: auto;
                }
            }
        }
    }

    .cart.table-wrapper {
        .towishlist {
            &:before {
                overflow: visible;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .wishlist-index-index {
        .products-grid {
            &.wishlist {
                .product {
                    &-image-container {
                        max-width: 140px;
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .wishlist-index-index {
        .products-grid {
            .product-item-actions {
                margin: @indent__s 0 0;
            }
            .product-item-info {
                &:hover {
                    .product-item-inner {
                        display: block;
                        /* bottom: -140px; */
                        border: none;
                        box-shadow: 0px 8px 7px 0 rgba(0,0,0,.3);
                        margin: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .products-grid.wishlist {
        .product {
            &-item {
                &-info {
                    &:hover {
                        .product-item-inner {
                            display: block;
                        }
                    }
                }

                &-tooltip {
                    display: inline-block;
                }

                &-actions {
                    margin: 10px 0 0;

                    > * {
                        display: inline-block;
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                }

                .fieldset {
                    .field.qty,
                    .product-item-actions {
                        display: table-cell;
                        vertical-align: bottom;
                    }

                    .field.qty {
                        padding-right: @indent__s;
                    }
                }

                .box-tocart {
                    margin: 0;
                    .fieldset {
                        margin: 0;
                    }
                    .actions-primary {
                        margin: 0;
                    }

                    .stock {
                        margin: @indent__base 0 0;
                    }
                }

                .tocart {
                    width: auto;
                }
            }
        }
    }

    .wishlist-index-index {
        .product-item-info {
            width: auto;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .wishlist-index-index {
        .product-item-inner {
            @_shadow: 0px 8px 7px 0 rgba(0,0,0,.3);
            .lib-css(background, @color-white);
            .lib-css(box-shadow, @_shadow);
            left: 0px;
            margin: -4px 0 0 0px;
            padding: 5px 9px 9px;
            position: absolute;
            z-index: 2;
            border: none;
            width: 100%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .wishlist-index-index {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-bottom: @indent__base;
                margin-left: calc(~'(100% - 4 * 24.439%) / 3');
                padding: 0;
                width: 24.439%;

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}
