<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** * Category layered navigation * * @var $block \Magento\LayeredNavigation\Block\Navigation */ /** @var \Amasty\Shopby\Block\Navigation\ApplyButton $layer */ $layer = $block->getLayout()->createBlock('Amasty\Shopby\Block\Navigation\ApplyButton'); $uri = $block->getRequest()->getUriString(); $clearUrl = $layer->getClearUrl(); if(strpos($uri,'/shop/') != false){ $clearUrl = $block->getClearUrl(); } ?> <?php if ($block->canShowBlock()): ?> <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'><?php $filtered = count($block->getLayer()->getState()->getFilters()) ?> <div class="block-title filter-title" data-count="<?= /* @escapeNotVerified */ $filtered ?>"><strong data-role="title"><?= /* @escapeNotVerified */ __('Shop By') ?></strong></div><div class="block-content filter-content"><?= $block->getChildHtml('state') ?> <?php if ($block->getLayer()->getState()->getFilters()): ?> <div class="block-actions filter-actions"><a href="<?= /* @escapeNotVerified */ $clearUrl ?>" class="action clear filter-clear" title="<?= /* @escapeNotVerified */ __('Clear All') ?>"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a></div><?php endif; ?> <?php $wrapOptions = false; ?> <?php foreach ($block->getFilters() as $filter): ?> <?php if ($filter->getItemsCount()): ?> <?php if (!$wrapOptions): ?> <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= /* @escapeNotVerified */ __('Shopping Options') ?></strong> <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'><?php $wrapOptions = true; endif; ?> <div data-role="collapsible" class="filter-options-item"><div data-role="title" class="filter-options-title"><?= /* @escapeNotVerified */ __($filter->getName()) ?></div><div data-role="content" class="filter-options-content"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></div></div><?php endif; ?> <?php endforeach; ?> <?php if ($wrapOptions): ?></div><?php else: ?> <script>
                require([
                    'jquery'
                ], function ($) {
                    $('#layered-filter-block').addClass('filter-no-options');
                });</script><?php endif; ?></div><script type="text/javascript">
            require(['jquery', 'customscrollbar'], function ($) {
                $(document).ready(function ($) {
                    $(".filter-options-content ul.items, .filter-options-content ol.items").mCustomScrollbar({
                        axis:"y",
                        mouseWheel: {
                            enable: true
                        }
                    });
                });
            });</script></div><?php endif; ?>