<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Gender $block */

use Magento\Customer\Block\Widget\Gender;?>
<div class="field gender<?php if ($block->isRequired()) echo ' required' ?>">
    <label class="label"
           for="<?= $block->escapeHtmlAttr($block->getFieldId('gender')) ?>"><span><?= $block->escapeHtml(__('Gender')) ?></span></label>
    <div class="control">
        <select id="<?= $block->escapeHtmlAttr($block->getFieldId('gender')) ?>"
                name="<?= $block->escapeHtmlAttr($block->getFieldName('gender')) ?>"
                title="<?= $block->escapeHtmlAttr(__('Gender')) ?>"<?php if ($block->isRequired()): ?> class="validate-select" data-validate="{required:true}"<?php endif; ?>>
            <?php $options = $block->getGenderOptions(); ?>
            <?php $value = $block->getGender(); ?>
            <?php foreach ($options as $option):?>
                <?php if ($option->getValue() != ''): ?>
                    <option value="<?= $block->escapeHtmlAttr($option->getValue()) ?>"<?php if ($option->getValue() == $value) echo ' selected="selected"' ?>><?= $block->escapeHtml(__($option->getLabel())) ?></option>
                <?php endif; ?>
            <?php endforeach; ?>
        </select>
    </div>
</div>
