<?php 
/**
  * Copyright (c) 2019 Tigren Solutions
  * https://www.tigren.com
  */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<?php
$payment = $_order->getPayment();
$method = $payment->getMethod();
$action = $this->getUrl('deposits/receipt/upload');
/** @var \Tigren\BankDeposits\Helper\Data $bankHelper */
$bankHelper = $this->helper('Tigren\BankDeposits\Helper\Data');
$canUpload = $bankHelper->canUpload($_order->getStatus());
?>
<?php $helper = $this->helper('Tigren\StorePickup\Helper\Data'); ?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= /* @escapeNotVerified */ __('Order Information') ?></strong>
    </div>
    <div class="block-content">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="box box-order-shipping-address">
            <?php if ($_order->getPickupstoreId()): ?>
                <strong class="box-title"><span><?= /* @escapeNotVerified */ __('Store Pickup Address') ?></span></strong>
             <?php else: ?>   
                <strong class="box-title"><span><?= /* @escapeNotVerified */ __('Shipping Address') ?></span></strong>
            <?php endif; ?>
            <div class="box-content">
                <?php $storeDetails = $helper->getPickupStoreData($_order->getPickupstoreId());?>
                <strong><?= $storeDetails['store_name'] ?></strong>
                <address>
                    <?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getShippingAddress()) ?>
                </address>
            </div>
        </div>

        <div class="box box-order-shipping-method">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Shipping Method') ?></span>
            </strong>
            <div class="box-content">
            <?php if ($_order->getShippingDescription()): ?>
                <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                 <!-- Store Order Pickup time -->   
        <div class="order-details">
        <?php if($_order->getPickupstoreId()):?>
        <?php $pickupInterval = $helper->getPickupInterval($_order->getCreatedAt(), $_order->getPickupstoreId())?>
            <?php if(!empty($pickupInterval)): ?>
            <br/>
                <p>
                    <span class="label">
                        <?= __('Your Order Pickup Time is between <b>%1</b> till <b>%2</b>', $pickupInterval['from'],
                            $pickupInterval['to']) ?>
                    </span>
                </p>
                <p>
                    <span class="label">
                        <?= __('Store operational hours: <b>%1</b> to <b>%2</b>', $pickupInterval['open_time'],
                            $pickupInterval['close_time']) ?>
                    </span>
                </p>
           <?php endif; ?>
        <?php endif;?>
        </div>
            <?php else: ?>
                <?= /* @escapeNotVerified */ __('No shipping information available') ?>
            <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?= $block->getPaymentInfoHtml() ?>
                <?php if ($_order->getData('bank_receipt_url')) :  ?>
                    <button id="view-bank-deposits" type="button"><?= __('View bank receipt') ?></button>
                    <div id="bank-deposits-image" style="display: none">
                        <img src="<?= $bankHelper->getDepositsUrl($_order->getData('bank_receipt_url')) ?>" alt="bank-deposits"/>
                    </div>
                <?php endif; ?>
                <?php if ($method === 'bankdeposits'):?>
                <div class="bank-payment-info">
                    <div class="bank name"><?php echo __("Bank Name: ").$_order->getData('bank_name')?></div>
                    <div class="customer-bank-account"><?php echo __("Bank Account: ").$_order->getData('customer_bank_account')?></div>
                </div>
                <?php endif; ?>
            </div>
        </div>
        <?php if ($method === 'bankdeposits' && $canUpload) : ?>
            <div class="form-upload-bank-receipt">
                <form enctype="multipart/form-data" action="<?php /* @escapeNotVerified */
                echo $action ?>" class="fieldset upload-bank-receipt-form" method="post" id="upload-bank-receipt-form">
                    <?php echo $block->getBlockHtml('formkey'); ?>
                    <input type="hidden" name="order_id" value="<?= $_order->getId() ?>">
                    <div class="field review-field-media">
                        <label class="label"><span><?php /* @escapeNotVerified */
                                echo __('Attachments (jpg, jpeg, png)') ?></span></label>
                        <div class="control">
                            <input type="file" name="bank_receipt" id="bank_receipt" accept=".png, .jpg, .jpeg"/>
                        </div>
                        <div for="bank_receipt" generated="true" class="mage-error" id="media_field-error"
                             style="display: none;">
                            <?php /* @escapeNotVerified */
                            echo __('You can select maximum 10 images.') ?>
                        </div>
                    </div>
                    <div class="actions-toolbar review-form-actions">
                        <div class="primary actions-primary">
                            <button type="submit" class="action submit primary"><span><?php /* @escapeNotVerified */
                                    echo __('Submit Review') ?></span></button>
                        </div>
                    </div>
                </form>
            </div>
        <?php endif; ?>
    </div>
</div>
<Script>
    require(['jquery', 'Magento_Ui/js/modal/modal'], function ($, modal) {
        $(document).ready(function () {
            $('#view-bank-deposits').click(function () {
                var depositsImage = $('#bank-deposits-image'),
                    options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: false,
                        title: false,
                        buttons: true
                    };
                var popup = modal(options, depositsImage);
                depositsImage.css("display", "block");
                depositsImage.modal('openModal');
            })
        });
    });
</Script>
