<?php
$categories = $block->getCategoriesData();
?>
<?php if ($categories && count($categories) > 0):  ?>
<div class="cat-links">
    <?php foreach($categories as $key => $childrens) : ?>
    <p>
        <strong><?= $key ?>: </strong>
        <?php if (count($childrens)>0): ?>
            <?php foreach ($childrens as $catLv3) : ?>
            <a title="<?= $catLv3['name']?:'' ?>" href="<?= $catLv3['path']?:'' ?>"><?= $catLv3['name']?:'' ?></a>
            <?php endforeach; ?>
        <?php endif; ?>
    </p>
    <?php endforeach; ?>
</div>
<?php endif; ?>