<?php /** * Copyright © MageWorx. All rights reserved. * See LICENSE.txt for license details. */ ?> <?php /** * Gift card form template * * @var $block \MageWorx\GiftCards\Block\Cart\GiftCards * */ if ($block->canShow()) : ?> <div class="block discount" id="block-giftcard" data-mage-init='{"collapsible":{ "openedState": "active", "saveState": false, "active": <?php echo $block->isExpandedContent() ? 'true' : 'false'; ?> } }' ><div class="title" data-role="title"><strong id="block-discount-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('Gift Cards'); ?></strong></div><div data-role="content"><?php $currencySymbol = $block->getCurrencySymbol(); ?> <span id='giftcard-info-template' style="display: none"><dl class="giftcard-info-from-template" ><dt><?php echo __('Status');?>:</dt><dd><%= data.status %></dd><dt><?php echo __('Current Balance');?>:</dt><dd><%= data.balance %></dd><dt><?php echo __('Valid till');?>:</dt><dd><%= data.validTill %></dd></dl></span> <span id='giftcard-error-template' style="display: none"><dl class="giftcard-info-from-template"><dt><?php echo __('Error');?>:</dt><dd><%= data.message %></dd></dl></span> <div id="giftcard-info"></div><div class="content" aria-labelledby="block-discount-heading"><form method="post" action="<?php echo $block->getUrl('mageworx_giftcards/cart/activateGiftCard'); ?>" id="activateGiftCard" novalidate="novalidate" data-mage-init='{ "ajaxGiftCardInfo": { "ajaxUrl": "<?php echo $block->getUrl('mageworx_giftcards/cart/ajaxGiftCardInfo'); ?>", "giftCardInputFieldSelector": "#giftcard_code", "giftCardFormSelector": "#activateGiftCard", "applyButton": "button.action.check-giftcard-status", "infoTemplate": "#giftcard-info-template", "errorTemplate": "#giftcard-error-template", "infoPlaceholder": "#giftcard-info", "appliedPlaceholder": "#giftcard-applied", "appliedTemplate": "giftcard-applied-template" } }'><div class="fieldset giftcard"><div class="field"><label for="giftcard_code" class="label"><?php echo __('Redeem and use your Gift Card now'); ?></label> <div class="control"><input type="text" value="" name="giftcard_code" id="giftcard_code" class="input-text" placeholder="<?php echo __('Redeem and use your Gift Card now');?>" ></div></div><div class="actions-toolbar"><div class="primary"><button value="<?php echo __('Activate') ?>" class="action giftcards primary" title="Activate" type="submit"><span><span><?php echo __('Activate') ?></span></span></button></div></div></div></form><button class="action check-giftcard-status" type="button"><span><span><?php echo __('Check Gift Card status') ?></span></span></button> <div id="giftcard-applied" data-mage-init='{"remainingGiftCardInfo" : { "currencyFormat": "<?php echo $currencySymbol;?>%s", "remainingInfoUpdateUrl": "<?php echo $block->getUrl('mageworx_giftcards/cart/remainingGiftCardInfo'); ?>", "remainigGiftcardsInfoTemplate": "#giftcard-applied-template", "remainigGiftcardsInfoSelector": "#giftcard-applied", "blockSummaryPlaceholder": "#block-summary" } }'></div></div></div><script type="text/x-magento-template" id="giftcard-applied-template">
    <ul class="giftcards-applied-template items">
        <% _.each(appliedGiftcards, function(item, key) { %>
        <%  var itemPriceStr = '<span class="applied-container giftcard-item">'
                + '<span data-card-info="' + item.code + '"'
                + ' data-price-type=""' + ' class="price-wrapper ">'
                + '<span class="price">' + priceUtils.formatPrice(item.applied, currencyFormat) + '</span>'
                + '</span>'
            + '</span>'; %>
        <% var itemRemainingStr = '<span class="remaining-container giftcard-item">'
                + '<span data-card-info="' + item.code + '"'
                + ' data-price-type=""' + ' class="price-wrapper ">'
                + '<span class="price">' + priceUtils.formatPrice(item.remaining, currencyFormat) + '</span>'
                + '</span>'
            + '</span>'; %>
        <% var ancorStr = '<a href="' + "<?php echo $this->getUrl('mageworx_giftcards/cart/deActivateGiftCard/')?>id/" + key + '">' + $t('Remove') + '</a>'; %>
        <li class="main-line">
            <%= $t('%1 applied from Gift Card %2.').replace('%1', itemPriceStr).replace('%2', item.code) %></li>
        <li class="item">
            <%= $t('Remaining card balance: %1. (%2)').replace('%1', itemRemainingStr).replace('%2', ancorStr) %></li>
        <% }); %></ul></script></div><?php endif; ?>