<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="attr: {id: 'payment-method-' + getCode()}">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="bank-payment">
            <div class="bank">
                <input type="radio" name="bank_payment" value="YKB Bank" id="ykb-bank" class="bankdeposits_bankname"/>
                <label class="bank-logo" for="ykb-bank">
                    <span class=" ykb-bank" style="text-align: center; display: block"></span>
                    <span style="text-align: center; display: block">
                        <span data-bind="i18n: 'Account No.'"></span>
                        <span data-bind="i18n: '665173216'"></span>
                    </span>
                </label>
            </div>
            <div class="bank">
                <input type="radio" name="bank_payment" value="Saba Salim Bank" id="saba-bank" class="bankdeposits_bankname"/>
                <label class="bank-logo" for="saba-bank">
                    <span class="saba-bank" style="text-align: center; display: block"></span>
                    <span style="text-align: center; display: block">
                        <span data-bind="i18n: 'Account No.'"></span>
                        <span data-bind="i18n: '665173216'"></span>
                    </span>
                </label>
            </div>
            <div class="bank">
                <input type="radio" name="bank_payment" value="Symbol Bank" id="symbol-bank" class="bankdeposits_bankname"/>
                <label class="bank-logo" for="symbol-bank">
                    <span class="symbol-bank" style="text-align: center; display: block"></span>
                    <span style="text-align: center; display: block">
                        <span data-bind="i18n: 'Account No.'"></span>
                        <span data-bind="i18n: '665173216'"></span>
                    </span>
                </label>
            </div>
        </div>
        <!-- ko if: errorMessage -->
        <p class="cod-verify-msg error-msg"><!-- ko i18n: errorMessage --><!-- /ko --></p>
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
