// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'owlcarousel/_owl.carousel.less';
@import 'fontawesome/_font-awesome.less';
@import 'tigren_olmana/_mixin.less';
@import 'tigren_olmana/_header.less';
@import 'tigren_olmana/_footer.less';
@import 'tigren_olmana/_homepage.less';
@import 'customscrollbar/jquery.mCustomScrollbar.less';

/* Input*/
@font-size__base:14px;

@input-text__font-size:12px;
@select__font-size:@input-text__font-size;
@textarea__font-size:@input-text__font-size;

@input-text__height:35px;
@select__height:35px;

@color-input-placeholder:#c4c4c4;
@form-element-input__border-color: @color-gray82;
@form-element-input-placeholder__color: @color-text2;
@form-element-input__height: 35px;
@form-element-input__padding: 5px;
@textarea__padding:20px;

//
//  Layout grid
//  ---------------------------------------------

@total-columns: 12;

@checkout-sidebar__columns: 3;

//  Variables for layout columns
@layout-column__sidebar-width: 2.5;


//  Checkout columns width
@layout-column-checkout__width-left: 3;

//  Rem font size
.lib-font-size(@sizeValue) when not (ispercentage(@sizeValue)) and not (@sizeValue = false) and (isunit(@sizeValue, @font-size-unit)) {
    .lib-css(font-size, @sizeValue * 0.875);
}

.lib-font-size(@sizeValue) when not (ispercentage(@sizeValue)) and not (@sizeValue = false) and (isunit(@sizeValue, em)) {
    .lib-css(font-size, @sizeValue * 0.875);
}

.lib-font-size(@sizeValue) when not (ispercentage(@sizeValue)) and not (@sizeValue = false) and not (isunit(@sizeValue, em)) and not (isunit(@sizeValue, @font-size-unit)) {
    .lib-font-size-value(@sizeValue * 0.875);
    .lib-css(font-size, @fontValue);
}


input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="datetime"],
input[type="email"],
select {
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    border-radius: 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="radio"] {
    margin: 2px 5px 0 5px;
}

/* Color */

@color-f5:#f5f5f5;
@header-panel__text-color: #5d5d5d;
@header-panel__background-color: @color-white;
@header-icons-color: @color-white;
@footer__background-color:#0f233c;
@copyright__background-color:#FCFCFC;
@navigation__background: @color-white;
@block-items__counter__color: @color-gray43;
@background-header-color: #15243f;
@color-icon-header:#ababab;
@color-light:#2979dc;
@color-title-cat:#343f49;
@color-border:#dadada;
@color-border2:#2779dc;
@color-border3:#eaeaea;
@color-border4:#e7e7e7;
@color-border5:#f4f4f4;
@color-border6:@color-gray82;
@_link-color: @color-border2;
@_link-color-hover: #0062bd;
@color-links:#606060;
@color-links2:#a7a7a7;
@color-links3:#333e48;
@color-name:@_link-color-hover;
@price__color:#343f49;
@color-text1:#878787;
@color-text2:#7d7d7d;
@color-text3:#808080;
@color-star:#ffeb00;
@color-star2:#aaa;
@color-star3:#fed700;
@color-link-menu:#484848;
@color-remove:#ef0b0b;
@active__color:@_link-color-hover;
@primary__color:@color-links3;
@color-green:#5cb85c;
@color-green2:#669900;
@checkout-shipping-item__active__border-color: @active__color;
@checkout-sidebar-shipping-information-edit-icon__color:@primary__color;

@main-color2: #4F36CF;

/* color border*/
@border-header-color:#d7e0df;
@border-color__base:@color-gray82;

/* button */
@back-button2:#343e48;
@backgroun-color-button1:#eeebeb;
@_button-background: #2979dc;
@button-primary__hover__background:@background-header-color;
@button-primary__active__background:@background-header-color;
@button-primary__hover__border:none;
@button-primary__active__border:none;
@button-primary__border:none;
@button-primary__background:@color-border2;
@_button-border:@_button-background;
@button__font-size__l:14px;
@button__border-radius:5px;
@button__padding__l: 13px 15px;

/*screen*/
@screen__m: 769px;
@screen__xl:1500px;

@indent__s:5px;

/*checkout-progress-bar-item */

@checkout-progress-bar-item__active__background-color:@color-light;
@checkout-progress-bar-item-element-inner__active__border-color:@color-light;
@checkout-step-title__font-size:18px;
@checkout-step-title__font-weight:@font-weight__bold;
@checkout-shipping-address__max-width:100%;

@checkout-payment-option-title__color: @primary__color;
@checkout-payment-option-title-icon__color: @primary__color;


.lib-button-revert-secondary-color(
    @_button-color: @color-white,
    @_button-background: @primary__color,

    @_button-color-hover: @color-white,
    @_button-background-hover: @primary__color,

    @_button-color-active: @color-white,
    @_button-background-active: @primary__color
) {
    .lib-css(background, @_button-background);
    .lib-css(color, @_button-color);

    &:focus,
    &:active {
        .lib-css(background, @_button-background-active);
        .lib-css(color, @_button-color-active);
    }

    &:hover {
        .lib-css(background, @_button-background-hover);
        .lib-css(color, @_button-color-hover);
    }
}

//
//  Excl/Incl tax
//  ---------------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  body {
    &.popup-opened, &._has-modal {
      position: fixed;
      .modal-popup.modal-slide._inner-scroll {
        .modal-inner-wrap {
          height: auto;
          min-height: 100%;
          overflow: auto;
          max-height: 60%;
        }
      }
    }
  }
}
& when (@media-common = true) {
    ul, ol {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .quickview-catalog-product-view .product-options-wrapper .fieldset:last-child {
        margin-bottom: 5px;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button{
        -webkit-appearance:none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
    }
    .field.newsletter .mage-error {
        font-size: 12px;
        background: #faebe7;
        padding: 3px 10px;
    }
    input[type=radio] {
        box-shadow: none!important;
    }
    .fotorama__nav-wrap--vertical .fotorama__thumb__arr--left {
        top: 15px;
    }
    .fieldset > .legend {
        margin-bottom: 15px;
    }
    .fieldset > .field, .fieldset > .fields > .field {
        margin: 0 0 10px;
    }
    .field.my_attribute {
        margin: 0 0 8px !important;
    }
    .fields.name-fields {
        float: left;
        width: 100%;
        margin: 0 0 8px;
        .field-name-firstname {
            float: left;
            width: 48%;
            margin: 0;
        }
        .field-name-lastname {
            float: right;
            width: 48%;
            margin: 0;
        }
    }
    .abs-sidebar-totals {
        border-top: 1px solid @border-color__base;
        padding-top: 10px;

        tbody,
        tfoot {
            .mark {
                border: 0;
                font-weight: @font-weight__bold;
                padding: 12px 0;
                .lib-font-size(16);
            }

            .amount {
                border: 0;
                font-weight: @font-weight__bold;
                padding: 12px 0 12px 14px;
                text-align: right;
                white-space: nowrap;
                .lib-font-size(16);
            }
        }

        .table-caption {
            &:extend(.abs-no-display all);
        }

        .grand {
            th,
            td {
                padding: 12px 0;
            }

            strong {
                display: inline-block;
                font-weight: @font-weight__bold;
                padding: 0;
                .lib-font-size(16);
            }

            .mark {
                .lib-font-size(16);
                border-top: 1px solid @border-color__base;
                padding-right: @indent__s;
            }

            .amount {
                strong{
                    .lib-font-size(18);
                    color:@_link-color;
                }
            }
        }

        .msrp {
            margin-bottom: @indent__s;
        }

        tbody tr:last-child td {
            padding-bottom: 12px;
        }

        .totals-tax {
            &-summary {
                .mark,
                .amount {
                    border-bottom: @border-width__base solid @border-color__base;
                    border-top: @border-width__base solid @border-color__base;
                    cursor: pointer;
                }

                .amount .price {
                    padding-right: @indent__base;
                    position: relative;
                    .lib-icon-font(
                            @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-position: after
                    );

                    &:after {
                        position: absolute;
                        right: 3px;
                        top: 3px;
                    }
                }

                &.expanded {
                    .mark,
                    .amount {
                        border-bottom: 0;
                    }

                    .amount .price {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }
                }
            }

            &-details {
                border-bottom: @border-width__base solid @border-color__base;
                display: none;

                &.shown {
                    display: table-row;
                }
            }
        }

        .table-wrapper {
            margin-bottom: 0;
        }
    }

    .abs-incl-excl-tax {
        .price-including-tax,
        .price-excluding-tax {
            .lib-css(color, @primary__color);
            .lib-font-size(16);
            display: block;
            line-height: 1;
            white-space: nowrap;

            .price {
                font-weight: @font-weight__regular;
            }
        }
    }

    .abs-shopping-cart-items {
        margin-bottom: @indent__base;

        .actions.main {
            .continue{
                display: inline-block;
            }
            .clear {
                display: none;
            }
        }
    }

    .abs-discount-block {
        .block {
            &:extend(.abs-cart-block all);

            > .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }
        }

        .actions-toolbar {
            display: table-cell;
            vertical-align: top;
            width: 1%;

            .action {
                &.primary,
                &.cancel {
                    &:extend(.abs-revert-to-action-secondary all);
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    margin: 0 0 0 -1px;
                    white-space: nowrap;
                    width: auto;
                }
            }

            .secondary {
                bottom: 5px;
                left: @mobile-cart-padding;
                position: absolute;
            }
        }

        .action.check {
            &:extend(.abs-action-button-as-link all);
            font-weight: @font-weight__regular;
        }

        .fieldset {
            display: table;
            width: 100%;

            > .field {
                > .label {
                    display: none;
                }
            }
        }

        .field {
            display: table-cell;
        }
    }

    button{
        .button-style();
    }

    .button{
        .button-style();
        min-width: 100px;
    }

    a.button{
        border-radius: 5px;
        span{
            color: @color-white;
            margin-right: 5px;
        }
    }

    .account {
        .page-title-wrapper {
            .page-title{

                + .order-status{
                    margin-top: -5px;
                }
            }
        }
    }

    .page-print.account{
        .page-main{
            .page-title-wrapper{
                position: relative;
                .page-title{
                    margin-top: 0;
                }
                .barcode{
                    position: absolute;
                    top: 0;
                    right: 0;
                    img{
                        max-width: 200px;
                    }
                }
            }
        }
    }

    .form-upload-bank-receipt{
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .customtheme-verify-index{
        .page-main{
            width: 600px;
            max-width: 100%;
            margin: auto;
        }

        .verify-info{
            .page-title-wrapper {
                .page-title{
                    margin:20px 0;
                }
            }

            .actions-toolbar{
                .action.submit{
                    min-width: 120px;
                }
            }
        }
    }

    .opc-estimated-wrapper{
      margin: 0;
        .estimated-block{
            color:@color-white;
        }
    }

    .page-wrapper {
        .ie10 &,
        .ie11 & {
            height: auto!important;
        }
    }

    .ie10,
    .ie11{
        .product-item {
            .actions-secondary{
                display: block;
                overflow: hidden;

                a.tocompare{
                    float: right;
                }
            }
        }


    }

    .opc-estimated-wrapper{
        background:@background-header-color ;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .abs-account-table-margin-desktop {
        .lib-css(margin-top, 0);
    }
    .abs-pager-toolbar {
        position: relative;

        .toolbar-amount,
        .limiter {
            position: relative;
            z-index: 1;
        }

        .toolbar-amount {
            .lib-css(line-height, @pager__line-height);
            padding: 0;
        }

        .limiter{
            float:right;
        }

        .pages {
            position: absolute;
            width: 100%;
            z-index: 0;
        }
    }


    .page-main > .page-title-wrapper .page-title{
        margin-top: 20px;
    }

    .ie10,
    .ie11{
        .nav-sections-items {
            .nav-sections-item-content:nth-child(2){
                display: none;
            }

            &:hover{
                .nav-sections-item-content:nth-child(2){
                    display: block;
                }
            }
        }
        .navigation{
            overflow: visible!important;
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main,
    .container{
        max-width:@layoutxl__max-width ;
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
    .account{
        .block-collapsible-nav {
            top:-1px;

            .title{
                padding-top: 10px;
                padding-bottom: 10px;

                &:after{
                    margin-top: 6px;
                }
            }
        }
        .page.messages{
            margin-bottom: 20px;
        }
    }

    .opc-block-summary > .title{
        padding-right: 15px;
    }
}

@import 'tigren_olmana/_right-to-left.less';