// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


@_breadcrumbs-link-color: @color-links3;


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        margin-bottom: 5px;
        color:@color-links3;
        .lib-breadcrumbs();
        .lib-font-size(14);

        .item:not(:last-child):after{
            content: "\f054";
            font-family: 'FontAwesome';
            line-height: 34px;
        }

        a{
            color:@color-links3;
            line-height: 34px;

            &:visited{
                color:@color-links3;
            }
        }

        strong{
            background-color: @header-panel__background-color;
            padding:5px 10px;
            line-height:24px;
            display: block;
            .borderRadius(5px);
            text-transform: capitalize;
        }

    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
        margin: 0;
    }
}
