// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

@border-item__color:#eaeaea;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                width: 100%/2;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                text-transform: capitalize;
            }

            &-info {
                max-width: 100%;
                width: 152px;
                padding: 10px 15px;

                .page-products & {
                    width: 240px;
                }
            }

            &-actions {
                display: none;

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
               /* margin: @indent__m 0;*/
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                .price {
                    font-weight: @font-weight__regular;
                    white-space: nowrap;
                    color: @price__color;
                    .lib-font-size(20);
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
            }

            .price-from,
            .price-to {
                margin: 0;
                display: inline-block;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                line-height: 1;
                white-space: nowrap;
                border:none;
            }

            .actions-secondary{
                a{
                    color:@color-links2;
                    line-height: 20px;

                    &:hover{
                        color:@color-light;
                        text-decoration: none;
                    }

                    &.tocompare:before{
                        content:"\f0ec";
                        .lib-font-size(13);
                        font-family: 'FontAwesome';
                        margin: 0 3px 0 0;
                    }
                }
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-grid,
    .products-list{
        .product-item-name{
            a{
                color:@color-name;
                .lib-font-size(14);
                line-height: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display:block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                height: 32px;
                font-weight: @font-weight__bold;
                text-transform: capitalize;
            }
        }

        .reviews-actions{
            display: none;
        }

        .tocart{
            background:@color-border2;
            position: relative;
            border:none;
            line-height: 32px;
            padding: 0 15px;
            height: 32px;

            span{
                display: inline-block;

                &:before{
                    .iconSprite();
                    background-position: -134px -7px;
                    width: 18px;
                    height: 17px;
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;
                margin-bottom: 20px;
                box-shadow: 0 0 1px rgba(0, 0, 0, 0.19);
                border-bottom: 1px solid #dedede;

                &-info {
                    display: table-row;

                }

                &-photo {
                    display: table-cell;
                    padding: 20px;
                    vertical-align: middle;
                    width: 1%;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 20px;
                        width: 1px;
                        height: calc(~'100% - 40px');
                        background: @color-border3;
                    }
                }

                &-details {
                    display: table-cell;
                    padding: 20px;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-name{
            a{
                max-height: 32px;
                height:auto;
            }
        }

        .actions-primary{
            margin: 10px 0;
        }

        .actions-secondary{
            margin-bottom: 10px;

            a{
                margin-right: 15px;
            }
        }
    }

    .products-grid{
        .product-item-details{
            .item-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .actions-primary{
                    width: 100%;
                    margin-bottom: 10px;
                    order: -1;
                    text-align: center;
                }
                .special-price, .old-price {
                    display: inline-block;
                }
            }

            .actions-secondary {
                border-top: solid 1px @border-item__color;
                padding-top: 10px;
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
            }

        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 10px;
                width: 120px;
                vertical-align: middle;
            }
            .product-item-description {
                display: none;
            }
        }
    }

    .products-grid {
        .product-items {
            display: flex;
            flex-wrap: wrap;
            .product-item {
                padding-bottom: 60px;
                position: relative;
                .product-item-info {
                    padding: 0;
                    .product-item-details {
                        .price-box {
                            min-height: 36px;
                            width: 100%;
                            text-align: left;
                        }
                        .actions-secondary {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: calc(~'100% - 10px');
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .lib-css(box-shadow, @product-item__hover__box-shadow);
                position: relative;
                z-index: 2;
                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        left: 9px;
                        top: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 9px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }



    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            padding: 10px 15px;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                left: -5px;
                top: 0;
                width: 1px;
                height: calc(~'100% - 42px');
                background: @color-border3;
            }

            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                    .product-item-details{
                        /*.item-info{
                            .tocart{
                                background-color: #e6e6e6;
                                border:none;
                            }
                        }*/
                        .actions-secondary{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: calc(~'(100% - 5 * 20%) / 4');
                padding: 5px;
                width: 20%;

                &:nth-child(5n + 1) {
                    margin-left: 0;
                    .product-item-info{
                        &:before{
                            display: none;
                        }
                    }
                }


            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
