<div class="field my_attribute required">
    <label for="mobilenumber" class="label"><span><?php /* @escapeNotVerified */
            echo __('Mobile Number') ?></span></label>
    <div class="control">
        <input class="input-text" type="text" name="mobilenumber" id="mobilenumber" title="<?php /* @escapeNotVerified */
        echo __('mobilenumber') ?>" class="input-text" data-validate="{required:true}" autocomplete="off">
    </div>
</div>
  