// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .footer-top{
        background: @color-light;
        padding:12px 0;
    }

    .page-footer{
        background: @footer__background-color;
        color:@color-white;
        .footer.content{
            .lib-font-size(16);
            line-height: 30px;
            strong{
                .lib-font-size(18);
                text-transform: uppercase;
            }

            a{
                color:@color-white;
                .lib-font-size(16);
                font-weight: @font-weight__light;
            }

            .cat-links{

                a{
                    &:after{
                        content:",";
                    }
                    &:last-child:after{
                        display: none;
                    }
                }
            }

            .col-links{
                ul {
                    li {
                        .lib-font-size(16);
                        line-height: 30px;
                    }
                }
                strong{
                    display: block;
                    margin-bottom: 15px;
                    &.strong-hidden{
                        opacity: 0;
                    }
                }
                .share-buttons {
                    li {
                        display: inline-block;
                        padding: 0 10px 0 0;
                        a{
                            color:@color-white;
                            .lib-font-size(20);
                        }
                    }
                }
            }
        }
    }

    .copyright{
        padding: @indent__s * 1.5 0;
        text-align: left;
        color:@color-black;
        strong {
            .lib-font-size(20);
        }
        ul {
            padding: 0;
            li {
                display: inline-block;
                padding-right: @indent__base;
                a{
                    color:@color-black;
                    .lib-font-size(16);
                    text-transform: capitalize;
                }
            }
        }
        span{
            display: none;
        }
        .payment-icon{
            img{
                float:right;
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-footer{
        .footer.content{
            display: flex;
            justify-content: space-between;
            .lib-font-size(22);
            padding-top:50px;
            padding-bottom:50px;
            .cat-links{
                max-width: 34%;
            }
            .col-links{
                strong{
                    margin-bottom: 15px;
                }
            }
            strong{
                .lib-font-size(18);
                text-transform: uppercase;
            }
            a{
                color:@color-white;
                .lib-font-size(16);
            }
        }
    }
    .copyright{
        text-align: left;
        strong {
            .lib-font-size(16);
            line-height: 35px;
        }
        ul {
            li {
                display: inline-block;
                margin: 0;
                a{
                    color:@color-black;
                    .lib-font-size(16);
                    text-transform: capitalize;
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer{
        .footer.content{
            padding-bottom: 20px;
            .strong-hidden{
                display: none!important;
            }

            .col-links strong{
                margin: 0;
            }
        }
    }

}