// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-cat-banners {
        width: 100%;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 2%;

                a {
                    position: relative;
                    display: block;

                    span {
                        position: absolute;
                        .lib-font-size(22);
                        color: @color-title-cat;
                        left: 41%;
                        top: 50%;
                        .transformTranslate(0, -50%);
                        max-width: 59%;

                    }
                }
            }
        }
    }

    .products-grid {
        .owl-carousel {
            overflow: hidden;

            .owl-stage-outer {
                overflow: initial !important;
            }

            .owl-nav {
                div {
                    margin-top: -28px;
                }
            }
        }

        .owl-item {
            .product-item {
                width: 100% !important;
                margin-bottom: 0;
                .product-item-info {
                    border: none;
                    text-align: center;
                    &:hover {
                        margin: 0;

                        &:before {
                            opacity: 0;
                        }
                    }
                }
            }
            &.active + .active {
                .product-item {
                    .product-item-info {
                        &:before {
                            content: "";
                            position: absolute;
                            left: -10px;
                            top: 0;
                            width: 1px;
                            height: calc(~'100% - 42px');
                            background: @color-border3;
                        }
                    }
                }
            }
        }

        .product-item {
            .cat-tag {
                .lib-font-size(12);
                color: @color-text1;
                margin-bottom: 3px;
            }
        }

        &.grid-style2 {
            .product-item {
                .product-item-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;

                    .product-image-container {
                        max-width: 40%;
                    }

                    .product-item-details {
                        width: 56%;
                    }
                }

            }

        }
    }

    .home-list-producsts,
    .home-lists-product {
        .box-title,
        .block-title {
            border-bottom: solid 1px @color-border;
            overflow: hidden;
            margin-bottom: 5px;
            strong {
                .lib-font-size(22);
                font-weight: @font-weight__regular;
                line-height: 40px;
                position: relative;
                float: left;

                &:before {
                    width: 100%;
                    height: 1px;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: @color-border2;
                }
            }
        }
    }

    .home-list-producsts {
        margin-bottom: 27px;
        &.laptop-computer {
            margin-bottom: 17px;
        }
        &.recently-viewed {
            margin: 0;
        }
        .box-title {
            a {
                float: right;
                color: @color-links;
                .lib-font-size(15);
                padding: 5px 15px 5px 0;
                margin: 10px 0 0;
                position: relative;

                &:after {
                    content: "\f054";
                    font-family: 'FontAwesome';
                    color: #aeaeae;
                    .lib-font-size(14);
                    display: inline-block;
                    vertical-align: top;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }

            }

            .box-links {
                float: right;
                margin: 3px 15px 3px 0;

                a {
                    float: left;
                    margin-right: 10px;
                    padding: 2px 15px;
                    border: solid 2px transparent;
                    .borderRadius(14px);

                    &:after {
                        display: none;
                    }

                    &:hover {
                        border-color: @color-light;
                        text-decoration: none;
                        color: @color-links3;
                    }
                }
            }
        }

        .block-title {
            display: none;
        }
    }

    .rating-summary {
        .rating-result {
            &:before,
            > span:before {
                color: @color-star2;
                font-family: 'FontAwesome';
            }

            &:before {
                content: '\f006' '\f006' '\f006' '\f006' '\f006';
            }

            > span:before {
                content: '\f005' '\f005' '\f005' '\f005' '\f005';
                color: @color-star;
            }
        }
    }

    .page-main {
        .swatch-option {
            &.text {
                padding: 0 8px;
            }
            &.image,
            &.color {

                height: 30px;
                width: 30px;
                .borderRadius(50%);
                border: 1px solid #dedede;

                &:nth-child(5n) {

                }

                &:not(.disabled):hover,
                &.selected {
                    outline: none;
                    border: none;
                    position: relative;

                    &:before {
                        font-family: 'FontAwesome';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        color: @color-white;
                        .lib-font-size(13);
                        content: "\f00c";
                    }
                }
            }
        }
    }

    .home-lists-product{
        .products-list {
            .product {
                &-item {
                    &-photo {
                        max-width: 70px;
                        padding: 0;
                    }
                    &-details {
                        padding-left: 15px;
                    }
                }
                &-reviews-summary {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .modal-custom,
    .modal-popup,
    .modal-slide {
        .action-close {
            .lib-button-icon(
                    @icon-remove,
                @_icon-font-color: @modal-action-close__hover__color,
                @_icon-font-size: @modal-action-close__font-size,
                @_icon-font-line-height: @modal-action-close__font-size,
                @_icon-font-text-hide: true
            );
            &:hover {
                &:before {
                    color: @modal-action-close__hover__color;
                }
            }
        }
    }

    .modal-popup{
        &.confirm{
            .modal-inner-wrap{
                width: 500px;
                max-width: 90%;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                margin-top: 0;
                margin-bottom: 0;
                .lib-font-size(16px);
            }

            .modal-footer{
                button{
                    margin-top:3px ;
                    margin-bottom:3px ;
                    min-width: 97px;

                    &.btn.btn-secondary{
                        background-color: @background-header-color;
                    }
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .products-grid {
        .owl-carousel {
            padding: 5px;
        }
    }

    .cms-index-index {
        .nav-sections {
            margin-bottom: 0;
        }
    }

    .home-banners-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 27px;

        .main-banner {
            width: 58%;
        }

        .banner-right {
            width: 41.65%;
            display: flex;

            .tigren-bannermanager{
                width: 100%;
            }

            .slides {
                li {
                    a{
                        position: relative;
                        padding-bottom: 36.82%;
                        overflow: hidden;

                        img{
                            position: absolute;
                            width: 100%;
                            left:50%;
                            top:50%;
                            transform: translate(-50%,-50%);
                            -webkit-transform: translate(-50%,-50%);
                            -moz-transform: translate(-50%,-50%);
                        }
                    }

                    &:first-child {
                        margin-bottom: 1%;
                    }
                }
            }

        }
    }

    .home-banner-static1 {
        margin-bottom: 25px;

        .slides {
            display: flex;
            justify-content: space-between;

            li {
                width: 49%;
            }
        }
    }

    .home-banner-static2 {
        margin-bottom: 25px;
    }

    .home-banner-static3 {
        margin-bottom: 35px;

        .slides {
            overflow: hidden;

            li {
                margin: 1% 0;
                float: left;

                &:nth-child(2n) {
                    float: right;
                }

                &:nth-child(1),
                &:nth-child(4) {
                    width: 66.052%;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 31.961%;
                }

            }
        }
    }

    .home-cat-banners {
        ul {
            li {
                float: left;
                width: 31.915%;
                margin-right: 2.1%;

                &:nth-child(3n) {
                    margin-right: 0px;
                }
            }
        }
    }

    .home-lists-product {
        display: flex;
        justify-content: space-between;

        .block {
            width: 32%;
        }
    }

    //.filter-current,
    //.filter-actions{
    //    display: none;
    //}

    .block-content.filter-content > div#am-shopby-container,
    .filter-actions {
        display: none;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .home-banners-top {
        .main-banner {
            margin-bottom: 10px;
        }
    }

    .home-banner-static3,
    .banner-right{
        .slides li {
            margin-bottom: 10px;
        }
    }

    .home-cat-banners {
        a {
            img {
                width: 100%;
            }
        }
    }

    .block-content.filter-content > div#am-shopby-container,
    .filter-actions {
        display: none;
    }
}