<!-- ko if: (isVisible()) -->
<div class="ship-via">
    <table class="table-totals">
        <caption class="table-caption" data-bind="i18n: 'Additional Info'"></caption>
        <tbody>
        <!-- ko foreach: getOrderAttributes() -->
        <tr>
            <th class="mark"><span class="value" data-bind="text: label"></span></th>
            <td class="amount"><span class="value" data-bind="text: value"></span></td>
        </tr>
        <!-- /ko -->
        </tbody>
    </table>
</div>
<!--/ko-->
