<div class="tigren-bannermanager slider"><?php $htmlId = $block->getBannerItemHtmlId(); $bannerCollection = $block->getBannerCollection(); ?> <script type="text/javascript">
        require(['jquery','tigren/flexslider'], function($) {
            $(document).ready(function($) {
                var flexSliderSelector = '<?php echo $htmlId; ?>';
                $('.' + flexSliderSelector).flexslider({
                    animation: "slide",
                    animationLoop: false,
                    itemWidth: 410,
                    itemMargin: 5,
                    pausePlay: true,
                });
            });
        });</script><div class="tigren-bannermanager-slider"><div id="<?php echo $htmlId ?>" class="flexslider flexslider-content-image <?php echo $htmlId ?>" style="margin:auto"><ul class="slides"><?php foreach ($bannerCollection as $banner): ?> <li> <a href="<?= $banner->getBannerUrl() ?>" <?php echo $banner->getTarget() ? 'target="_blank" ' : ''; ?>style="display:block;" title="<?= $banner->getBannerTitle() ?>"><img alt="<?= $banner->getBannerTitle() ?>" src="<?= $block->getBannerImageUrl($banner) ?>" title="<?= $banner->getDescription() ?>"/></a></li> <?php endforeach ?></ul></div></div></div>