<div class="tigren-bannermanager slider-with-description"><?php $htmlId = $block->getBannerItemHtmlId(); $bannerCollection = $block->getBannerCollection(); ?> <script type="text/javascript">
        require(['jquery','tigren/flexslider'], function($) {
            $(document).ready(function($) {
                var flexSliderSelector = '<?php echo $htmlId; ?>';
                $('.' + flexSliderSelector).flexslider({
                    animation: "slide"
                });
            });
        });</script><div class="tigren-bannermanager-slider"><div id="<?php echo $htmlId ?>" class="flexslider flexslider-content-image <?php echo $htmlId ?>" style="margin:auto"><ul class="slides"><?php foreach ($bannerCollection as $banner): ?> <li> <a href="<?php echo $banner->getBannerUrl() ?>" <?php echo $banner->getTarget() ? 'target="_blank" ' : ''; ?>style="display:block;" title="<?= $banner->getBannerTitle() ?>"><img alt="<?= $banner->getBannerTitle() ?>" src="<?= $block->getBannerImageUrl($banner) ?>" title="<?= $banner->getDescription() ?>"/></a> <?php if ($banner->getDescription()) : ?> <p class="flex-caption"><?= $banner->getDescription() ?></p><?php endif; ?></li> <?php endforeach ?></ul></div></div></div>