<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * Currency switcher
 *
 * @var \Magento\Directory\Block\Currency $block
 */

?>
<?php if ($block->getCurrencyCount() > 1): ?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="switcher currency switcher-currency" id="switcher-currency<?= $block->escapeHtmlAttr($id) ?>">
    <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Currency')) ?></span></strong>
    <div class="actions dropdown options switcher-options custom-header-dropdown-parent">
        <div class="action toggle switcher-trigger custom-header-dropdown-link"
             id="switcher-currency-trigger<?= $block->escapeHtmlAttr($id) ?>"
             data-trigger-keypress-button="true">
            <strong class="language-<?= $block->escapeHtml($block->getCurrentCurrencyCode()) ?>">
                <span><?= __($block->escapeHtml($currentCurrencyCode)) ?></span>
            </strong>
        </div>
        <ul class="dropdown switcher-dropdown custom-header-dropdown-content"
            data-role="dropdownDialog"
            data-mage-init='{"dropdownDialog":{
                "appendTo":"#switcher-currency<?= $block->escapeHtmlAttr($id) ?> .options",
                "triggerTarget":"#switcher-currency-trigger<?= $block->escapeHtmlAttr($id) ?>",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <?php foreach ($currencies as $_code => $_name): ?>
                <?php if ($_code != $currentCurrencyCode): ?>
                    <li class="currency-<?= $block->escapeHtmlAttr($_code) ?> switcher-option">
                        <a href="#" data-post='<?= /* @noEscape */ $block->getSwitchCurrencyPostData($_code) ?>' title="<?= $block->escapeHtmlAttr($_code) ?>"><?= __($block->escapeHtml($_code)) ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
