// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@pager__color:@price__color;
@pager__visited__color:@price__color;
@pager__hover__color:@color-light;
@pager__active__color:@color-light;
@pager-current__color:@color-white;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();

        .action {
            @_shadow: inset 0 1px 0 0 @color-white, inset 0 -1px 0 0 fade(@border-color__base, 30);

            .lib-css(box-shadow, @_shadow);
            border-radius: 3px;
            padding: 0 8px;

            &.previous {
                margin-right: 8px;
            }

            &.next {
                margin-left: 8px;
            }
        }

        a.page,
        .action{
            width: 36px;
            height: 36px;
            border: solid 1px @color-border;
            line-height: 34px;
            .borderRadius(5px);
            .lib-font-size(14);
            font-weight: @font-weight__bold;
            margin: 0!important;
            box-shadow: none;
        }

        strong.page{
            width: 36px;
            height: 36px;
            line-height: 36px;
            background-color: @color-border2;
            .borderRadius(5px);
        }

        .item,
        .items{
            vertical-align: top;
        }

        .action{
            &.next,
            &.previous{
                &:before{
                    font-family: 'FontAwesome';
                    color:@pager__color!important;
                    font-size: 10px;
                    line-height: 36px;
                }
            }

            &.next:before{
                content: "\f054";
            }

            &.previous:before{
                content: "\f053";
            }

        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        & &-items {
            position: relative;
            white-space: normal;
            z-index: 1;
        }
    }
}
