// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-payment-method-title__border: @checkout-shipping-method__border;
@checkout-payment-method-title__padding: @checkout-shipping-method__padding;
@checkout-payment-method-title-mobile__padding: 15px;

@checkout-payment-method-content__padding__xl: 22px;

@checkout-billing-address-details__line-height: 27px;
@checkout-billing-address-details__padding: 0 30x 0 0;
@checkout-billing-address-form__max-width: @checkout-shipping-address__max-width;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .checkout-payment-method {
        .step-title {
            border-bottom: 0;
            margin-bottom: 0;
        }

        .payment-method {
            &:first-child {
                .payment-method-title {
                    border-top: 0;
                }
            }

            &._active {
                .payment-method-content {
                    display: block;
                }
            }

            & + .payment-method {
                .payment-method-title {
                    .lib-css(border-top, @checkout-payment-method-title__border);
                }
            }
            form {
                &.form-purchase-order {
                    margin-bottom: 15px;
                }
            }
        }

        input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
            &:checked ~ label {
                color: @color-black;
            }
            &:focus ~ label:before {
            }
            &:checked ~ label:before {
                background-color: #33efbf;
                border-color: #33efbf;
            }
            &:checked ~ label:after {
                content: '';
                position: absolute;
                right: 7px;
                top: 3px;
                width: 4px;
                height: 9px;
                border-bottom: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
            }
            &.mage-error ~ label {
                &:before {
                    border-color: @color-red9;
                }
            }
            & ~ label {
                cursor: pointer;
                font-size: 14px;
                line-height: 19px;
                position: relative;
                display: block;
                padding-right: 30px;
                clear: both;
                &:before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    border: 2px solid @color-gray80;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 1px;
                    text-align: center;
                }
            }
        }

        .payment-method-content {
            > .actions-toolbar {
                > .primary {
                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                        }
                    }
                }
            }

            #po_number {
                margin-bottom: 20px;
            }
            .checkout-agreements-block {
                clear: both;
                position: relative;
            }
            .bank-payment {
                height: auto;
                margin-bottom: @indent__base;
                display: flex;
                .bank{
                    width: 100%;
                    display: block;
                    margin-left: 15px;
                    .bank-logo{
                        width: 100%;
                        .ykb-bank{
                            background-image: url('@{baseDir}images/ykb_bank.jpg');
                            background-color: transparent;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            width: 140px;
                            height: 70px;
                            margin: 0 auto 20px;
                        }
                        .saba-bank{
                            background-image: url('@{baseDir}images/saba_bank.jpg');
                            background-color: transparent;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            width: 140px;
                            height: 70px;
                            margin: 0 auto 20px;
                        }
                        .symbol-bank{
                            background-image: url('@{baseDir}images/symbol_bank.jpg');
                            background-color: transparent;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center center;
                            width: 140px;
                            height: 70px;
                            margin: 0 auto 20px;
                        }
                    }
                }
            }
        }

        .payment-method-title {
            margin: 0;
            position: relative;
            padding: 15px 0;
            .payment-icon {
                display: inline-block;
                margin-right: @indent__xs;
                vertical-align: middle;
            }

            .action-help {
                display: inline-block;
                margin-left: @indent__xs;
            }
            &#payment-method-checkmo {
                &:after {
                    background-image: url('@{baseDir}images/i-money.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 50px;
                    height: 30px;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    margin-top: -15px;
                }
            }
            &#payment-method-banktransfer,
            &#payment-method-bankdeposits {
                &:after {
                    background-image: url('@{baseDir}images/i-bank.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 45px;
                    height: 30px;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    margin-top: -15px;
                }
            }
            &#payment-method-cashondelivery {
                &:after {
                    background-image: url('@{baseDir}images/i-cod.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    width: 50px;
                    height: 30px;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    margin-top: -15px;
                }
            }
        }

        .payment-method-content {
            display: none;
            .lib-css(padding, 0 @checkout-payment-method-content__padding__xl @indent__base 0);
            .fieldset {
                &:not(:last-child) {
                    margin: 0 0 @indent__base;
                }
            }
        }

        .sms-verify {
            float: right;
            width: 100%;
            margin: 0 0 20px;
            > .label {
                .lib-font-size(18);
                font-weight: @font-weight__bold;
                margin: 0 0 @indent__s;
                display: block;
            }
            > .control {
                float: right;
                margin-left: 20px;
                input {
                    height: 36px;
                    max-width: 120px;
                }
            }
            #code-send-sms, #cod-submit {
                float: right;
                height: 36px;
                padding: 0 20px;
                line-height: 36px;
                margin-left: 10px;
                .lib-font-size(15);
            }
            #code-resend-sms {
                float: right;
                height: 36px;
                padding: 0 20px;
                line-height: 36px;
                margin-left: 10px;
                .lib-font-size(15);
                background: #eee;
                border: 1px solid #ccc;
                color: #000;
            }
        }

        .cod-verify-msg {
            display: block;
            max-width: 500px;
            clear: both;
            position: relative;
            float: right;
            width: 100%;
            text-align: right;
            &.success-msg {
                background: #e5efe5;
                color: #006400;
                margin: 10px 0 0;
                padding: 10px 45px 10px 10px;
                &:before {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 24px;
                    line-height: 24px;
                    color: #006400;
                    content: '\e60e';
                    font-family: 'luma-icons';
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    right: 0;
                    top: 19px;
                    width: 40px;
                    position: absolute;
                    text-align: center;
                }
            }
            &.error-msg {
                background: #fae5e5;
                color: #e02b27;
                margin: 10px 0 0;
                padding: 10px 45px 10px 10px;
                &:before {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 24px;
                    line-height: 24px;
                    color: #b30000;
                    content: '\e61f';
                    font-family: 'luma-icons';
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    right: 0;
                    top: 19px;
                    width: 40px;
                    position: absolute;
                    text-align: center;
                }
            }
        }

        .payment-group {
            & + .payment-group {
                .step-title {
                    margin: @indent__base 0 0;
                }
            }
        }

        .field-select-billing,
        .billing-address-form {
            .lib-css(max-width, 50%);
        }

        .billing-address-same-as-shipping-block {
            margin: 0 0 15px;
            position: relative;
        }

        .checkout-billing-address {
            margin: 0 0 @indent__base;

            .primary {
                .action-update {
                    margin-right: 0;
                }
            }

            .action-cancel {
                &:extend(.abs-action-button-as-link all);
            }

            .billing-address-details {
                .lib-css(line-height, @checkout-billing-address-details__line-height);
                .lib-css(padding, @checkout-billing-address-details__padding);
            }
        }

        .payment-method-note {
            & + .checkout-billing-address {
                margin-top: @indent__base;
            }
        }

        .field-select-billing {
            > .label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .payment-method-iframe {
            background-color: transparent;
            display: none;
            width: 100%;
        }

        .no-payments-block {
            margin: @indent__base 0;
        }

        .payments {
            .legend {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-payment-method {
        .sms-verify {
            #code-send-sms, #cod-submit {
                margin-top: 15px;
            }
            #code-resend-sms {
                margin-top: 15px;
                clear: right;
            }
        }
        .payment-method-content {
            .bank-payment {
                display: block;
                max-width: 100%;
                .bank {
                    .bank-logo {
                        .ykb-bank, .saba-bank, .symbol-bank {
                            margin: 10px auto;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-payment-method {
        .payment-methods {
            .lib-css(margin, 0);
        }

        .payment-method-content {
            .lib-css(padding, 0 @checkout-payment-method-title-mobile__padding @indent__base);
        }

        .checkout-billing-address {
            .action-cancel {
                margin-top: @indent__s;
            }
            .field-select-billing,
            .billing-address-form {
                .lib-css(max-width, 100%);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .checkout-payment-method {
        .payment-method-content {
            .bank-payment {
                max-width: 50%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .checkout-payment-method {
        .payment-method-content {
            .bank-payment {
                max-width: 85%;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-payment-method {
        .actions-toolbar {
            .primary {
                float: right;
                margin: 0;
            }
        }

        .fieldset {
            > .field-select-billing {
                > .control {
                    float: none;
                    width: 100%;
                }
            }
        }
    }

    .checkout-billing-address {
        .action-update {
            float: right;
        }

        .actions-toolbar {
            .action-cancel {
                margin: 6px @indent__base 0 0;
            }
        }
    }
}
