// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-progress-bar__font-size: 18px;
@checkout-progress-bar__font-weight: @font-weight__semibold;
@checkout-progress-bar__margin: @indent__xl;

@checkout-progress-bar-item__background-color: @color-gray-middle1;
@checkout-progress-bar-item__border-radius: 6px;
@checkout-progress-bar-item__color: @color-gray80;
@checkout-progress-bar-item__margin: @indent__s;
@checkout-progress-bar-item__transition: background .3s;
@checkout-progress-bar-item__width: 100%/3;

@checkout-progress-bar-item__active__background-color: #2979dc;
@checkout-progress-bar-item__active__color: @primary__color;
@checkout-progress-bar-item__active__font-weight: @font-weight__semibold;
@checkout-progress-bar-item__complete__color: @color-gray80;
@checkout-progress-bar-item__hover__background-color: #2979dc;

@checkout-progress-bar-item-element__height: @checkout-progress-bar-item-element__width;
@checkout-progress-bar-item-element__width: 38px;

@checkout-progress-bar-item-element-inner__background-color: @page__background-color;
@checkout-progress-bar-item-element-inner__border-color: @color-gray80;
@checkout-progress-bar-item-element-inner__color: @primary__color;
@checkout-progress-bar-item-element-inner__height: @checkout-progress-bar-item-element-inner__width;
@checkout-progress-bar-item-element-inner__width: @checkout-progress-bar-item-element__width - ( @checkout-progress-bar-item-element-outer-radius__width*2 );
@checkout-progress-bar-item-element-inner__active__border-color: #2979dc;
@checkout-progress-bar-item-element-inner__active__content: @icon-checkmark;

@checkout-progress-bar-item-element-outer-radius__width: 6px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Progress Bar
    //  ---------------------------------------------

    .opc-progress-bar {
        &:extend(.abs-reset-list all);
    }
}

//
//  Desktop
//  _____________________________________________

& when (@media-common = true) {

    .opc-progress-bar {
        .lib-css(margin, @checkout-progress-bar__margin 0);
        counter-reset: i;
        display: block;
        font-size: 0;
        background-image: url('@{baseDir}images/checkout-progress-bar-bg.png');
        background-color: #fff;
        background-repeat: repeat-x;
        background-position: 0 26px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .opc-progress-bar-item {
        .lib-css(margin, 0 0 @checkout-progress-bar-item__margin);
        .lib-css(width, @checkout-progress-bar-item__width);
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: top;

        &:before { // Horizontal line
            .lib-css(background, @checkout-progress-bar-item__background-color);
            .lib-css(top, @checkout-progress-bar-item-element__width/2);
            .lib-css(transition, @checkout-progress-bar-item__transition);
            content: '';
            height: 7px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }

        &:first-child {
            &:before {
                .lib-css(border-radius, @checkout-progress-bar-item__border-radius 0 0 @checkout-progress-bar-item__border-radius);
            }
        }

        &:last-child {
            &:before {
                .lib-css(border-radius, 0 @checkout-progress-bar-item__border-radius @checkout-progress-bar-item__border-radius 0);
            }
        }

        > span {
            display: inline-block;
            padding-top: 45px;
            width: 100%;
            word-wrap: break-word;

            .lib-typography(
            @_color: @checkout-progress-bar-item__color,
            @_font-family: false,
            @_font-size: @checkout-progress-bar__font-size,
            @_font-style: false,
            @_font-weight: @checkout-progress-bar__font-weight,
            @_line-height: false
            );

            &:before, // Item element
            &:after {
                .lib-css(background, @checkout-progress-bar-item__background-color);
                .lib-css(height, @checkout-progress-bar-item-element__height);
                .lib-css(margin-left, -(@checkout-progress-bar-item-element__width/2));
                .lib-css(transition, @checkout-progress-bar-item__transition);
                .lib-css(width, @checkout-progress-bar-item-element__width);
                border-radius: 50%;
                content: '';
                left: 50%;
                position: absolute;
                top: 0;
                z-index: 3;
            }

            &:after { // Item element inner
                .lib-css(background, @checkout-progress-bar-item-element-inner__background-color);
                .lib-css(height, @checkout-progress-bar-item-element-inner__height);
                .lib-css(margin-left, -(@checkout-progress-bar-item-element-inner__width/2));
                .lib-css(top, @checkout-progress-bar-item-element-outer-radius__width);
                .lib-css(width, @checkout-progress-bar-item-element-inner__width);
                content: counter(i);
                counter-increment: i;
                .lib-typography(
                @_color: @checkout-progress-bar-item-element-inner__color,
                @_font-family: false,
                @_font-size: @checkout-progress-bar__font-size,
                @_font-style: false,
                @_font-weight: @font-weight__bold,
                @_line-height: false
                );
            }
        }

        &._complete {
            cursor: pointer;
            &:before {
              .lib-css(background, @checkout-progress-bar-item__active__background-color);
            }
            &:hover {
                &:before {
                    .lib-css(background, @checkout-progress-bar-item__active__background-color);
                }

                > span {
                    &:before {
                        .lib-css(background, @checkout-progress-bar-item__active__background-color);
                    }
                }
            }

            > span {
                .lib-css(color, @checkout-progress-bar-item__complete__color);
                &:before {
                  .lib-css(background, @checkout-progress-bar-item__active__background-color);
                }
                &:after {
                    .lib-css(font-family, @icons__font-name);
                  .lib-css(background, @checkout-progress-bar-item__active__background-color);
                    .lib-css(content, @checkout-progress-bar-item-element-inner__active__content);
                  .lib-css(color, @color-white);
                }
            }
        }

        &._active {
            &:before {
                .lib-css(background, @checkout-progress-bar-item__active__background-color);
                width: 50%;
            }

            &:after { // Horizontal line
                .lib-css(background, @checkout-progress-bar-item__background-color);
                .lib-css(top, @checkout-progress-bar-item-element__width/2);
                .lib-css(transition, @checkout-progress-bar-item__transition);
                content: '';
                height: 7px;
                right: 0;
                position: absolute;
                width: 50%;
                z-index: 2;
            }

            > span {
                .lib-css(font-weight, @checkout-progress-bar-item__active__font-weight);

                &:before {
                    .lib-css(background, @checkout-progress-bar-item__active__background-color);
                }

                &:after {
                }
            }
            &._complete {
                &:after { // Horizontal line
                    .lib-css(background, @checkout-progress-bar-item__active__background-color);
                }
                > span {
                    .lib-css(color, @checkout-progress-bar-item__active__color);
                }
            }
        }
    }

    // Not allow guest checkout
  .not-allow-guest-checkout {
    .opc-progress-bar-item._active:before {
      .lib-css(background, @checkout-progress-bar-item__background-color);
    }
    .opc-progress-bar-item._active > span:before {
      .lib-css(background, @checkout-progress-bar-item__background-color);
    }
    .opc-progress-bar-item._active > span {
    .lib-css(color, @checkout-progress-bar-item__color);
    }
  }
}
//
//  Mobile
//  _____________________________________________


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .opc-progress-bar-item {
    > span {
      font-size: 13px;
    }
  }
}
