// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-shipping-address__max-width: 500px;
@checkout-shipping-address__margin-top: 0;

@checkout-shipping-item-icon__background-color: @checkout-shipping-item__active__border-color;
@checkout-shipping-item-icon__color: @color-white;
@checkout-shipping-item-icon__content: @icon-checkmark;

@checkout-shipping-item__border: 2px solid @color-gray80;
@checkout-shipping-item__line-height: 30px;
@checkout-shipping-item__margin: 0;
@checkout-shipping-item__padding: 20px;
@checkout-shipping-item__transition: .3s border-color;
@checkout-shipping-item__width: 32%;
@checkout-shipping-item-tablet__width: 100%/2;
@checkout-shipping-item-mobile__width: 100%;
@checkout-shipping-item__active__border-color: @color-orange-red1;

@checkout-shipping-item-icon__selected__height: 18px;
@checkout-shipping-item-icon__selected__width: 18px;

@checkout-shipping-item-mobile__padding: 20px;
@checkout-shipping-item-mobile__margin: 20px 0;
@checkout-shipping-item-mobile__active__padding: 20px;

@checkout-shipping-item-before__border-color: @color-gray80;
@checkout-shipping-item-before__height: calc(~'100% - 20px');

@checkout-shipping-method__border: @checkout-step-title__border;
@checkout-shipping-method__padding: @indent__base;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .opc-wrapper {

        //
        //  Shipping Address
        //  ---------------------------------------------

        .form-login,
        .form-shipping-address {
            .lib-css(margin-top, @checkout-shipping-address__margin-top);
            .lib-css(margin-bottom, @checkout-shipping-address__margin-top);
            .fieldset {
                .field {
                    .label {
                        font-weight: @font-weight__regular;
                    }
                }

                .note {
                    font-size: @font-size__base;
                    margin-top: @indent__s;
                }
            }
        }

        .warehouses-shipping-methods {
            > dt {
                clear: both;
                padding: 15px;
                border: 1px solid #d8d8d8;
                border-bottom: none;
                margin: 0;
                color: #5942d2;
                font-size: 15px;
                overflow: hidden;
                text-transform: uppercase;
            }
            > dd {
                clear: both;
                padding: 15px;
                border: 1px solid #d8d8d8;
                margin: 0 0 20px;
                overflow: hidden;
                .cart.table-wrapper {
                    tr.cart-item {
                        .col:not(.item) {
                            text-align: right;
                            &.image {
                                text-align: center;
                            }
                            .details-qty {
                                .label {
                                    position: static;
                                    width: auto;
                                    height: auto;
                                }
                            }
                            &.price {
                                .price-excluding-tax, .price {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #2979dc;
                                }
                            }
                        }
                    }
                }
            }
            .table-checkout-shipping-method {
                .method-item {
                    width: 100% / 3;
                    &:nth-child(5n+1) {
                        clear: none;
                    }
                    &:nth-child(3n+1) {
                        clear: left;
                    }
                }
            }
        }

        .vendor-title {
            clear: both;
            color: #5942d2;
            font-size: 18px;
            overflow: hidden;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 20px;
            display: block;
        }

        .shipping-address-items {
            font-size: 0;
            text-align: right;
        }

        .shipping-address-item {
            &:extend(.abs-add-box-sizing all);
            .lib-css(font-size, @font-size__base);
            .lib-css(line-height, @checkout-shipping-item__line-height);
            .lib-css(margin, @checkout-shipping-item__margin);
            .lib-css(padding, @checkout-shipping-item__padding);
            .lib-css(transition, @checkout-shipping-item__transition);
            .lib-css(width, @checkout-shipping-item-tablet__width);
            display: inline-block;
            position: relative;
            vertical-align: top;
            word-wrap: break-word;
            cursor: pointer;
            &:after {
                .lib-css(border, 1px solid @checkout-shipping-item-icon__background-color);
                .lib-css(color, @checkout-shipping-item-icon__color);
                .lib-css(height, @checkout-shipping-item-icon__selected__height);
                .lib-css(width, @checkout-shipping-item-icon__selected__width);
                font-size: 12px;
                line-height: 18px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                content: "";
                border-radius: 3px;
            }
            &.selected-item {
                .lib-css(border-color, @checkout-shipping-item__active__border-color);

                &:after {
                    .lib-css(background, @checkout-shipping-item-icon__background-color);
                    .lib-css(color, @checkout-shipping-item-icon__color);
                    .lib-css(content, @checkout-shipping-item-icon__content);
                    .lib-css(font-family, @icons__font-name);
                    .lib-css(height, @checkout-shipping-item-icon__selected__height);
                    .lib-css(width, @checkout-shipping-item-icon__selected__width);
                    font-size: 12px;
                    line-height: 18px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                }

                .action-select-shipping-item {
                    &:extend(.abs-no-display-s all);
                    visibility: hidden;
                }
            }
        }

        .field {
            &.addresses {
                &:extend(.abs-add-clearfix all);
            }
        }

        .action-show-popup {
            margin: 0 0 @indent__base;

            > span {
                &:before {
                    content: '+';
                    padding-right: @indent__xs;
                }
            }
        }

        .action-select-shipping-item {
            float: right;
            margin: @indent__base 0 0;
        }

        .action-links {
            text-align: right;
        }
        .edit-address-link {
            &:extend(.abs-action-button-as-link all);
            display: inline-block;
            margin: 15px 0 0 15px;
            font-weight: bold;
            font-size: 12px;
            &.delete-address-link {
                padding-right: 15px;
                border-left: 1px solid @color-blue2;
                margin-left: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .shipping-type-selection-delivery, .shipping-type-selection-store-pickup {
            .shipping-type-description {
                margin: 10px 0;
                position: relative;
                padding: 0 25px 0 0;
                input[type="radio"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    margin: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    & ~ label {
                        padding: 0;
                        &:before {
                            content: '';
                            width: @indent__base;
                            height: @indent__base;
                            background-position: -161px -6px;
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            top: 0;
                            text-align: center;
                            border-radius: 50%;
                            z-index: 2;
                            .iconSprite();
                        }

                        span {
                            position: relative;
                            z-index: 1;
                            clear: both;
                            display: block;
                            color: @color-black;
                            .lib-font-size(14);
                            line-height: 20px;
                            font-weight: bold;
                        }
                    }
                    &:checked ~ label {
                        color: @color-black;
                    }
                    &:checked ~ label {
                        span {
                            color: @color-black;
                            font-weight: bold;
                        }
                    }
                    &:checked ~ label:before {
                        width: @indent__base + 1;
                        height: @indent__base + 1;
                        background-position: -184px -6px;
                    }
                }
            }
        }
        #store-pickup-map {
            width: 100%;
            margin-top: 10px;
            height: 500px;
        }
        .table-checkout-shipping-method {
            display: block;
            margin-bottom: 0;
            .method-item {
                float: right;
                width: 20%;
                &:nth-child(5n+1) {
                    clear: right;
                }
                .item-selection {
                    margin: 10px 0;
                    position: relative;
                    padding: 0 25px 0 0;
                    input[type="radio"] {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .method-details {
                        .method-price {
                            > .price {
                                background: #eee;
                                margin: 0;
                                padding: 3px 10px;
                                display: inline-block;
                                border: 1px solid #ccc;
                                font-weight: bold;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #opc-shipping_method-button {
        margin: 0;
        .primary {
            width: 100%;
            margin: 0;
            .action.primary {
                width: 100%;
                margin: 0;
            }
        }
    }

    //
    //  Shipping Methods
    //  ---------------------------------------------

    .checkout-shipping-method {
        .step-title {
            margin-bottom: 0;
        }

        .no-quotes-block {
            margin: @indent__base 0;
        }
    }

    .methods-shipping {
        .actions-toolbar {
            .action {
                &.primary {
                    &:extend(.abs-button-l all);
                    margin: @indent__base 0 0;
                }
            }
        }
    }

    .table-checkout-shipping-method {
        thead {
            th {
                display: none;
            }
        }

        tbody {
            td {
                .lib-css(border-top, @checkout-shipping-method__border);
                .lib-css(padding-bottom, @checkout-shipping-method__padding);
                .lib-css(padding-top, @checkout-shipping-method__padding);

                &:first-child {
                    padding-left: 0;
                    padding-right: 0;
                    width: 20px;
                }
            }

            tr {
                &:first-child {
                    td {
                        border-top: none;
                    }
                }
            }

            .col-price {
                font-weight: @font-weight__semibold;
            }

            .row-error {
                td {
                    border-top: none;
                    padding-bottom: @indent__s;
                    padding-top: 0;
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .opc-wrapper {
        .form-login,
        .form-shipping-address,
        .methods-shipping {
            .lib-css(margin, 0);
            .lib-css(padding, 0);
        }

        .form-login {
            + .form-shipping-address {
                .lib-css(margin-top, -(@checkout-step-content-mobile__margin-s));
            }
        }

        .shipping-address-item {
            .lib-css(border-bottom, 2px solid @checkout-shipping-item-before__border-color);
            .lib-css(margin, @checkout-shipping-item-mobile__margin);
            .lib-css(padding, @checkout-shipping-item-mobile__padding);
            .lib-css(width, @checkout-shipping-item-mobile__width);

            &.selected-item {
                .lib-css(padding, @checkout-shipping-item-mobile__active__padding);
                border-bottom-width: 2px;
            }
            &:nth-child(2n) {
                margin: 0 0 15px;
            }
        }

        .action-select-shipping-item {
            float: none;
            margin-top: @indent__s;
            width: 100%;
        }

        .action-show-popup {
            width: 100%;
        }

        .methods-shipping {
        }

        .warehouses-shipping-methods {
            > dd {
                .cart.table-wrapper {
                    tr.cart-item {
                        padding: 0 75px 0 50px;
                        .product-item-photo {
                            left: auto;
                            right: 0;
                        }
                        .col:not(.item) {
                            width: 100%;
                            padding: 5px;
                        }
                        .checkout-cart-item-remove {
                            position: absolute;
                            top: 13px;
                            left: 0;
                        }
                    }
                }
            }
            .table-checkout-shipping-method {
                .method-item {
                    width: 100% / 2;
                    &:nth-child(5n+1) {
                        clear: none;
                    }
                    &:nth-child(3n+1) {
                        clear: none;
                    }
                    &:nth-child(2n+1) {
                        clear: left;
                    }
                }
            }
        }

        .vendor-title {
            clear: both;
            color: #5942d2;
            font-size: 18px;
            overflow: hidden;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 20px;
            display: block;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .form-login,
        .form-shipping-address,
        .methods-shipping {
            .lib-css(margin, 0);
            .lib-css(padding, 0);
        }

        .table-checkout-shipping-method {
            display: block;
            margin-bottom: 10px;
            .method-item {
                float: right;
                width: 50%;
                &:nth-child(5n+1) {
                    clear: none;
                }
                &:nth-child(2n+1) {
                    clear: right;
                }
            }
        }

        .form-login {
            + .form-shipping-address {
                .lib-css(margin-top, -(@checkout-step-content-mobile__margin-s));
            }
        }

        .shipping-address-item {
            .lib-css(border-bottom, 2px solid @checkout-shipping-item-before__border-color);
            .lib-css(margin, @checkout-shipping-item-mobile__margin);
            .lib-css(padding, @checkout-shipping-item-mobile__padding);
            .lib-css(width, @checkout-shipping-item-mobile__width);

            &.selected-item {
                .lib-css(padding, @checkout-shipping-item-mobile__active__padding);
                border-bottom-width: 2px;
            }
            &:nth-child(2n) {
                margin: 0 0 15px;
            }
        }

        .action-select-shipping-item {
            float: none;
            margin-top: @indent__s;
            width: 100%;
        }

        .action-show-popup {
            width: 100%;
        }

        .methods-shipping {
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #opc-content-shipping_method-button, #opc-content-tigren-shipping-method-buttons-container {
        display: none;
    }
    .checkout-shipping-method {
        .actions-toolbar {
            > .primary {
                float: right;
            }

            .action {
                &.primary {
                    margin: 0;
                }
            }
        }
    }

    .opc-wrapper {
        .form-login,
        .form-shipping-address {
            .lib-css(max-width, @checkout-shipping-address__max-width);
            .fieldset.address {
                margin: 0;
            }
        }

        .form-login {
            .lib-css(border-bottom, @checkout-step-title__border);
            padding-bottom: @indent__base;
        }
    }

    .table-checkout-shipping-method {
        width: auto;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .opc-wrapper {
        .shipping-address-item {
            .lib-css(width, @checkout-shipping-item__width);

            &:nth-child(3n + 2) {
                margin: 0 2%;
            }
            &:nth-child(3n+1) {
                clear: left;
            }
            &:nth-child(3n + 1) {
                &:before {
                    display: none;
                }
            }

            &.selected-item {
                &:before {
                    display: none;
                }

                + .shipping-address-item {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .table-checkout-shipping-method {
        min-width: 500px;
    }
}
