//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .opc-wrapper {
        #store-pickup-map {
            width: 100%;
            margin-top: 10px;
            height: 500px;
        }
    }
}