<?php
// @codingStandardsIgnoreFile

/** @var Tigren\QuickView\Block\Catalog\Product\ProductList\Item\AddTo\QuickView $block */
?>
<?php if ($block->isQuickViewEnabled()): ?>
    <?php $buttonText = $block->getQuickViewButtonText(); ?>
    <a class="tigren-quick_view tigren_quick_view_button"
       data-quick_view-url='<?= $block->getQuickViewUrl() ?>'
       href="javascript:void(0);" title="<?= __('Quick View') ?>">
    <span><?= $buttonText ?></span>
</a>
<?php endif; ?>