// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin: 0;
        .form.subscribe {
            display: table;
            width: 100%;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 32px,
                @_icon-font-color: @form-element-input-placeholder__color,
                @_icon-font-margin: 0 0 0 8px
                );
                display: block;

                &:before{
                    display: none;
                }
            }
        }

        input {
            padding-left: 35px;
            height:42px;
            border-bottom-left-radius: 21px;
            border-top-left-radius: 21px;
            .lib-font-size(15);
            border:none;
            &::placeholder{
                color:@color-input-placeholder;
            }
        }

        .title {


        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            border-radius: 0 21px 21px 0;
            margin-left: -1px;
            white-space: nowrap;
            background: @back-button2;
            min-width: 112px;
            .lib-font-size(14px);
            line-height: 22px;
            padding:10px;
            border:none;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        width: 100%;
        display: flex;
        align-items: center;
        margin:0;
        justify-content: space-between;

        .title{
            width: 50%;
            margin: 0;
            color:@color-white;
            .lib-font-size(15);

            strong{
                .lib-font-size(20);
                font-weight: @font-weight__light;
                margin-right:35px;
            }

        }

        .content{
            width:565px;
        }
    }
}
