.pc-country{
    float: right;
}
#country-name{color: #0d6aad}
.price-comparison-container{clear: both;margin-bottom: 30px; min-height: 300px; position: relative;}
.price-comparison-container .loading-mask{ background: rgba(255, 255, 255, 0.5); bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0; z-index: 100;]}
.price-comparison{border-top: 1px solid #ccc;padding-top: 20px; position: relative;}
.pc_title{font-weight: bold; font-size: 16px; text-transform: uppercase; margin-bottom: 10px;float: left;}
.pc_filter{float: right; width: 50%; display: block; text-align: right;}
.pc_filter ul, .pc_filter li{list-style: none;}
.pc_filter label{display: inline;}
.pc_filter select {display: inline;width: auto;}

.pc_arrow-up, .pc_arrow-down{position: absolute; left: 0; right: 0; margin: auto;}
.pc_arrow-up {width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #FFF; top: 2px;}
.pc_arrow-down {width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #FFF; bottom: 2px;}

.pc_vendor-offers{clear: both;}
.pc_vendor-offers thead, .pc_vendor-offers tbody tr{border-bottom: 1px solid #eee;}
.pc_vendor-offers thead th{padding: 20px 12px;}
.pc_vendor-offers .review-count{font-size: 13px}
.pc_vendor-offers .product-item td{padding: 20px 10px;}
.pc_vendor-offers .vendor_info{width: 100px; text-align: left;}
.pc_vendor-offers .product_price{width: 150px; vertical-align: middle;}
.pc_vendor-offers .add_to_cart{text-align: right; width: 160px;vertical-align: middle;}
.pc_vendor-offers tbody tr:hover{background: #fafafa;}
.pc_vendor-offers .product_price .price-box .price{font-size: 18px;}
.pc_vendor-offers .product_price .old-price .price{font-size: inherit;}

.pc_vendor-offers .logo-container img{border: 1px solid #d3d3d3; vertical-align: middle;}
.pc_vendor-offers h3.vendor-title{margin-top: 0;}
.pc_vendor-offers .vendor-title a{color: #555; font-weight: bold;}
.pc_vendor-offers .vendor-profile-description{float: none; padding: 0;width: auto;}

.pc_showmore{text-align: center; display: block; padding-top: 10px;}
.pc_showmore a{position: relative;}
.pc_vendor-offers .product-item td.view_product {
    text-align: right;
    vertical-align: middle;
}
.pc_vendor-offers .product-item td.vendor_review {
    vertical-align: middle;
}
.pc_vendor-offers .product-item td.view_product a{
    line-height: 29px;
}
@media screen and (max-width: 639px) {
    .pc_filter{float: left; width: 100%; display: block; text-align: left;}
    .pc_vendor-offers thead {
        display: none;
    }
    .pc_vendor-offers tbody tr {
        display: block;
        width: 100%;
        position: relative;
        padding-bottom: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .pc_vendor-offers .product-item td.vendor_info {
        display: block;
        width: 80px;
        text-align: left;
        padding: 0;
        float: left;
    }
    .pc_vendor-offers .product-item td.vendor_description {
        display: block;
        width: calc(100% - 90px);
        float: right;
        padding: 0;
    }
    .pc_vendor-offers .product-item td.product_price,
    .pc_vendor-offers .product-item td.add_to_cart{
        display: block;
        float: left;
        width: 50%;
        padding: 15px 0;
    }

    .pc_vendor-offers .product-item td.product_price {
        clear: left;
    }

    .pc_vendor-offers .product-item td.view_product{
        display: block;
        text-align: center;
        width: 50%;
        padding: 15px 0;
    }
    .pc_vendor-offers .product-item td.add_to_cart .action.primary{
        width: 100%;
    }
    .pc_vendor-offers .product-item td.view_product a{
        width: 100%;
    }
}