<?php
// @codingStandardsIgnoreFile
?>
<?php
/**
 * @var $block \Swissup\Highlight\Block\ProductList\All
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $title = $block->getTitle();
    $items = $block->getProductCollection()->getItems();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;

    $mode = 'grid';
    $image = 'category_page_grid';
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $currentLocale = $block->getLocale();
}
?>
<?php if ($exist):?>
    <div class="block widget block-highlight highlight-<?php /* @escapeNotVerified */ echo $mode; ?> highlight-cols-<?php /* @escapeNotVerified */ echo $block->getColumnCount(); ?> <?php /* @escapeNotVerified */ echo $block->getCssClass(); ?>">
        <?php if ($title): ?>
            <div class="block-title">
                <strong role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo $title; ?></strong>
                <?php if ($block->getShowPageLink() && $block->getPageLinkPosition() === 'top') : ?>
                    <p class="subtitle">
                        <a class="action view"
                            href="<?= $block->escapeHtml($block->getPageUrl()) ?>"
                            title="<?= $block->escapeHtml($block->getPageLinkTitle()) ?>"
                            ><span><?= $block->escapeHtml($block->getPageLinkTitle()) ?></span></a>
                    </p>
                <?php endif ?>
            </div>
        <?php endif; ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items owl-carousel" >
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <div class="product-item-name">
                                <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                   class="product-item-link">
                                    <?php echo $block->escapeHtml($_item->getName()) ?>
                                </a>
                            </div>
                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo" title="<?= $_item->getName() ?>">
                                <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <div class="product-item-details">
                                <div class="item-info">
                                    <?php echo $block->getProductPriceHtml($_item, $this->getPriceSuffix()); ?>
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                    <button class="action tocart primary" disabled
                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                    <?php
                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                    ?>
                                                    <button class="action tocart primary" disabled
                                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <?php if ($showWishlist || $showCompare): ?>
                                    <div class="actions-secondary" data-role="add-to-links">
                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                            <a href="#"
                                               data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                               class="action towishlist" data-action="add-to-wishlist"
                                               title="<?php /* @escapeNotVerified */ echo __('Wishlist') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Wishlist') ?></span>
                                            </a>
                                        <?php endif; ?>
                                        <?php if ($block->isQuickViewEnabled()): ?>
                                            <?php $buttonText = $block->getQuickViewButtonText(); ?>
                                            <a class="tigren-quick_view tigren_quick_view_button"
                                               data-quick_view-url='<?= $block->getQuickViewUrl($_item->getId()) ?>'
                                               href="javascript:void(0);" title="<?= $buttonText ?>">
                                                <span><?= $buttonText ?></span>
                                            </a>
                                        <?php endif; ?>
                                        <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                            <a href="#" class="action tocompare"
                                               title="<?php /* @escapeNotVerified */ echo __('Compare') ?>"
                                               data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'>
                                                <span><?php /* @escapeNotVerified */ echo __('Compare') ?></span>
                                            </a>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
        </div>
        <script type="text/javascript" xml="space">
            // <![CDATA[
            require(['jquery', 'owlcarousel'], function ($) {
                $(document).ready(function ($) {
                    var itemListSelector,
                        flexSliderSelector = '<?php echo $block->getCssClass(); ?>';

                    if (flexSliderSelector && flexSliderSelector !== '') {
                        itemListSelector = '.' + flexSliderSelector + ' .product-items';
                    } else {
                        itemListSelector = '.product-items';
                    }

                    $(itemListSelector).owlCarousel({
                        nav: true,
                        rtl: <?php if($currentLocale == 'ar_SA'):?> true <?php else: ?> false <?php endif ?>,
                        dots: true,
                        margin: 0,
                        responsive: {
                            1200: {
                                items: 6,
                                slideBy:6
                            },

                            480:{
                                items: 3,
                                slideBy:3,
                                margin: 10
                            },

                            0:{
                                items: 2,
                                slideBy:2,
                                margin: 10
                            }
                        }
                    });
                });
            });
            // ]]>
        </script>
    </div>
<?php endif;?>
