<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Profile\Description
 */
/** @var \Tigren\Vendors\Helper\Data $helper */
$helper = $this->helper('Tigren\Vendors\Helper\Data');
?>
<?php if ($helper->showProfile()) : ?>
    <?php if ($block->canShowVendorShortDescription()): ?>
        <span class="vendor-headline"><?php echo $block->escapeHtml($block->getStoreDescription()) ?></span>
    <?php endif; ?>
<?php endif; ?>
