<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Profile\JoinedDate
 */
/** @var \Tigren\Vendors\Helper\Data $helper */
$helper = $this->helper('Tigren\Vendors\Helper\Data');
?>
<?php if ($helper->showProfile()) : ?>
    <span class="vendor-joined-date"><?php echo __("Joined since %1", $block->escapeHtml($block->getJoinedDate())) ?></span>
<?php endif; ?>
