<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Profile\Logo
 */
/** @var \Tigren\Vendors\Helper\Data $helper */
$helper = $this->helper('Tigren\Vendors\Helper\Data');
?>
<?php if ($helper->showProfile()) : ?>
    <?php if ($block->getVendorUrl()): ?>
        <a class="vendor-profile-logo-img" href="<?php echo $block->getVendorUrl(); ?>"
           title="<?php echo $block->escapeHtml($block->getStoreName()) ?>"><img
                    title="<?php echo $block->escapeHtml($block->getStoreName()) ?>"
                    alt="<?php echo $block->escapeHtml($block->getStoreName()) ?>"
                    src="<?php echo $block->getLogoUrl() ?>"/></a>
    <?php else: ?>
        <img class="vendor-profile-logo-img" title="<?php echo $block->escapeHtml($block->getStoreName()) ?>"
             alt="<?php echo $block->escapeHtml($block->getStoreName()) ?>" src="<?php echo $block->getLogoUrl() ?>"/>
    <?php endif; ?>
<?php endif; ?>
