<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Profile\Phone
 */
/** @var \Tigren\Vendors\Helper\Data $helper */
$helper = $this->helper('Tigren\Vendors\Helper\Data');
$vendorConfigs = $helper->getOperationTime($helper->getVendorId());
?>
<?php if ($helper->showProfile()) : ?>
    <?php if ($vendorConfigs && $block->canShowVendorOperationTime()): ?>
        <span class="vendor-operation-time">
            <?php echo $block->escapeHtml($vendorConfigs); ?>
        </span>
    <?php endif; ?>
<?php endif; ?>
