<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * telephone template
 *
 * @var $block \Vnecoms\Vendors\Block\Profile\Phone
 */
/** @var \Tigren\Vendors\Helper\Data $helper */
$helper = $this->helper('Tigren\Vendors\Helper\Data');
?>
<?php if ($helper->showProfile()) : ?>
    <?php if ($block->canShowVendorPhone()): ?>
        <?php if ($block->getVendor()->getTelephone()): ?>
            <span class="vendor-phone"><?php echo $block->escapeHtml($block->getVendor()->getTelephone()); ?></span>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
