<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Profile\Content
 */
/** @var \Tigren\Vendors\Helper\Data $helper */
$helper = $this->helper('Tigren\Vendors\Helper\Data');
?>
<?php if ($helper->showProfile()) : ?>
    <h3 class="vendor-title">
        <?php if ($block->getVendorUrl()): ?>
            <a href="<?php echo $block->getVendorUrl(); ?>"
               title="<?php echo $block->escapeHtml($block->getStoreName()) ?>"><?php /* @escapeNotVerified */ echo __('Seller: ') ?><?php echo $block->escapeHtml($block->getStoreName()) ?></a>
        <?php else: ?>
            <?php /* @escapeNotVerified */ echo __('Seller: ') ?><?php echo $block->escapeHtml($block->getStoreName()) ?>
        <?php endif; ?>
    </h3>
<?php endif; ?>