@font-face {
    font-family: 'vendor-profile';
    src:    url('../fonts/vendor-profile.eot?fc87wr');
    src:    url('../fonts/vendor-profile.eot?fc87wr#iefix') format('embedded-opentype'),
    url('../fonts/vendor-profile.ttf?fc87wr') format('truetype'),
    url('../fonts/vendor-profile.woff?fc87wr') format('woff'),
    url('../fonts/vendor-profile.svg?fc87wr#vendor-profile') format('svg');
    font-weight: normal;
    font-style: normal;
}

.vendor-profile-container{
    display: block;
    padding: 10px;
    background-color: #FBFBFB;
}

.vendor-profile-container:after{
    display: block;
    content: ".";
    clear: both;
    font-size: 0px;
    width: 0;
    height: 0;
}
.vendor-profile-logo{
    width: 20.6667%;
    display: block;
    float: left;
    text-align: left;
}

.vendor-profile-description{
    display: block;
    width: calc(79.3333% - 40px);
    float: right;
    padding: 0 20px;
}
.vendor-headline{
    display: block;
    margin-bottom: 15px;
}
.vendor-profile-description h3.vendor-title{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.vendor-profile-description h3.vendor-title a{
    color: inherit;
}
.vendor-profile-description .vendor-info{
    color: #888;
    margin-top: 10px;
}
.vendor-profile-description .vendor-info span {
    margin-right: 10px;
    display: inline-block;
}
.vendor-profile-description .vendor-phone:before,
.vendor-profile-description .vendor-operation-time:before
{
    font-family: "vendor-profile";
    content: "\f041";
    padding-right: 10px;
    color: #6c6c6c;
    display: inline-block;
}
.vendor-profile-description .vendor-sales-count:before,
.vendor-profile-description .vendor-joined-date:before,
.vendor-profile-description .vendor-location:before {
    background-image: url('../images/vendor_icons.png');
    background-size: 100px auto;
    background-color: transparent;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    margin-right: 10px;
}
.vendor-profile-description .vendor-location:before{
    width: 14px;
    height: 14px;
    background-position: -46px -5px;
}
.vendor-profile-description .vendor-sales-count:before{
    width: 16px;
    height: 14px;
    background-position: -5px -5px;
}
.vendor-profile-description .vendor-joined-date:before{
    width: 15px;
    height: 13px;
    background-position: -27px -5px;
}
.vendor-profile-description .vendor-phone:before{
    content: "\e902";
}
.vendor-profile-description .vendor-operation-time:before{
    content: "\e900";
}

.vendor-info > span:nth-child(3n+1){
    clear: left;
}

