<?php
$depositsUrl = $block->getDepositsUrl();
$info = $block->getBankInfo();
?>
<?php if ($info):?>
<div class="bank-name"><?php echo __("Bank Name: ").$info['bank_name']?></div>
<div class="bank-account"><?php echo __("Bank Account: ").$info['bank_account']?></div>
<?php endif;?>
<?php if ($depositsUrl): ?>
    <button type="button" id="view-bank-deposits" class="btn btn-primary"><?= __('View bank receipt') ?></button>
    <div id="bank-deposits-image" style="display: none">
        <img src="<?= $depositsUrl ?>" alt="<?= __('bank-deposits') ?>"/>
    </div>
<?php endif; ?>
<Script>
    require(['jquery', 'Magento_Ui/js/modal/modal'], function ($, modal) {
        $(document).ready(function () {
            $('#view-bank-deposits').click(function () {
                var depositsImage = $('#bank-deposits-image'),
                    options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: false,
                        title: false,
                        buttons: true
                    };
                var popup = modal(options, depositsImage);
                depositsImage.css("display", "block");
                depositsImage.modal('openModal');
            })
        });
    });
</Script>