// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;
@navigation__background: @color-white;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .main-menu {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 28px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @color-white
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-bottom: 1px solid @color-gray82;
            font-size: 1.4rem;
            font-weight: @font-weight__regular;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
                font-weight: @font-weight__regular;
            }

            a{
                color:@navigation-level0-item__color;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                    .lib-font-size(12)!important;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            display: none;
            .lib-list-reset-styles();
            padding: @indent__s 0;
        }

        .active{
            .switcher-dropdown {
                display: block;
            }
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                .lib-font-size(14);
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: @font-weight__bold;
                    padding: 1rem @indent__base;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }

                a:before{
                    display: inline-block;
                    min-width: 18px;
                    .lib-css(color, @navigation-level0-item__color);
                }
                &:first-child{
                    > a {
                        border-top:none;
                        &:before{
                            display: inline-block;
                            min-width: 18px;
                            .lib-css(color, @navigation-level0-item__color);
                        }
                    }
                }
                &:nth-child(2){
                    > a {
                        &:before{
                            display: inline-block;
                            min-width: 18px;
                            .lib-css(color, @navigation-level0-item__color);
                        }
                    }
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__regular;
                padding: 1rem @indent__base;
            }

            .header.links {
                border: 0;
                .nav.current {
                    strong {
                        border-top: 1px solid @color-gray82;
                        padding: 1rem @indent__base;
                        display: block;
                    }
                }
            }
        }

        .navigation {
            padding: 0;

            a{
                padding-top: 8px;
                padding-bottom: 8px;
            }

            .parent {
                .level-top {
                    position: relative;
                    .lib-icon-font(
                        @_icon-font-content: @icon-down,
                        @_icon-font-size: 42px,
                        @_icon-font-position: after,
                        @_icon-font-display: block
                    );

                    &:after {
                        position: absolute;
                        right: 7px;
                        top: 10px!important;
                        .lib-font-size(12)!important;
                    }

                    &.ui-state-active {
                        .lib-icon-font-symbol(
                            @_icon-font-content: @icon-up,
                            @_icon-font-position: after
                        );
                    }
                }
            }

            .level0{
                .lib-font-size(14);

                &:first-child{
                    border-top:0px;
                }

                > .level-top{
                    font-weight: normal;
                    text-transform: capitalize;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                > .level1{
                    font-weight: normal;
                }
            }

            ul.level0.submenu .submenu.level2{
                display: none!important;
            }
            .submenu:not(:first-child) {
                .active {
                    > a {
                        border: none;
                        padding-left: 15px;
                        color: @_link-color-hover;
                        font-weight: bold;
                    }
                }
            }
        }

        &~ .top-menu-links {
            display: none;
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
             background:@color-white;
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 102;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: darken(@navigation__background, 5%);
        border: solid darken(@navigation__background, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        width: 33.33%;
        position: relative;

        &:before{
            font-family: 'FontAwesome';
            font-size: 18px;
            line-height: 52px;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            color:@background-header-color;
        }

        &[aria-controls = "store.menu"]{
            &:before{
                content: "\f0c9";
            }
        }

        &[aria-controls = "store.links"]{
            &:before{
                content: "\f007";
            }
        }

        &[aria-controls = "store.settings"]{
            &:before{
                content: "\f013";
            }
        }

        a{
            float: left;
            padding: 15px 0;
            width: 100%;
            min-height: 50px;
            text-indent: -9999px;
        }

        &.active {
            background: transparent;
            border-bottom: 0;

            &:before{
                color:@_link-color-hover;
            }
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }


    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 52px;
        width: 100%;

        &.active {
            display: block;
        }

        padding:0 ;

        .menu-banners-wrap{
            top:auto!important;
            left:auto!important;
            border-top: 1px solid @color-gray82;

            ul.level0.submenu{
                display: block!important;
                border: none;
                padding-bottom: 10px;
            }

            .submenu:not(:first-child){
                padding-left: 15px;
            }

            .category-banner-menu,
            li.level1 > img {
                display: none;
            }
            li.level1 > .banner-image-url {
                display: none;
                padding: 0;
            }
        }
    }

    .lib-main-navigation();

    .navigation {
      li.level1 {
        position: relative;
        text-transform: uppercase;
        ul.level1 {
          li.level2 {
            text-transform: capitalize;
          }
        }
      }
    }

    .top-menu-links{
        list-style: none;
        margin: 0;
        padding:0;

        li{
            border-bottom: 1px solid @color-gray82;
            margin:0;

            a{
                display:block;
                padding:8px 15px;
                color:@color-gray34;
                text-transform: capitalize;
            }
        }
    }

    .nav-sections{
        & + .navigation{
            display: none;
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    body{
        &:not(.cms-index-index){
            .main-menu{
                border-bottom:solid 1px @color-border4;
                margin-bottom: 5px;
            }
        }
    }

    .main-menu{
        .container{
            position: relative;
        }
    }
    .nav-sections {
        float:left;
        .section-item-title {
            &.active {
                .nav-sections-item-switch {
                    color: @color-link-menu;
                    &:hover {
                        color: @color-link-menu;
                    }
                }
            }
        }
        li.level0 {

            > .level-top{
                color: @color-links3;
                line-height: 40px;
                padding: 0 8px;
                .lib-font-size(14);
                font-weight: normal;
            }

            &:hover{
                > .level-top{
                    background: @header-panel__background-color;
                    font-weight: @font-weight__bold;
                }
            }
        }
        li.level1 {
          position: relative;
          text-transform: uppercase;
          ul.level1 {
            li.level2 {
              text-transform: capitalize;
            }
          }
        }
    }

    .navigation{
        .menu-banners-wrap{
            background: @color-white;
            font-weight: 400;
            min-width: 230px;
            display: none;
            margin: 0 !important;
            position: absolute;
            z-index: 1;
            margin-top: 11px;
            border:none;
            border-top:solid 2px @_link-color;
            top: -2px!important;
            left: 100%!important;
            min-height:calc(~'100% + 2px');
            width:calc(~'300% - 32px');
            padding-left:40px;
            padding-top:10px;
            box-shadow: 6px 8px 8px -6px rgba(0, 0, 0, 0.19);
            margin-left: -9px!important;

            .category-list{
                overflow-y: auto;
                overflow-x: hidden;
                max-height: 500px;

                &::-webkit-scrollbar {
                    width: 5px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                }

                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: darkgrey;
                    outline: 1px solid slategrey;
                }
            }

            &:before{
                content: "";
                position: absolute;
                width: calc(~'33.3333% + 22px');
                height: 100%;
                background: @color-white;
                right: 100%;
                margin-right: -22px;
                z-index: 0;
                top: 0;
                box-shadow: -5px 8px 8px -6px rgba(0, 0, 0, 0.19);
            }



            &.has-banner{
                .category-banner-menu{
                    position: absolute;
                    left: 40px;
                    bottom: 15px;
                    width: calc(~'100% - 55px');
                    margin: 0;

                    img{
                        width: 100%;
                        float: left;
                    }
                }
            }

            li.level1{
                position: relative;
                > img{
                    float:left;
                    width: 90px;
                }
                > .banner-image-url{
                    float:left;
                    width: 90px;
                    padding: 0 !important;
                }

                > img ~ ul.level1,
                > .banner-image-url ~ ul.level1,
                > a:nth-last-child(3){
                    float: right;
                    width:calc(~'100% - 90px');
                    min-width: auto;
                }
            }
        }


        ul.level0 {
            &.submenu{
                display: block !important;
                background: transparent;
                border: none;
                box-shadow: none;
                position: static!important;

                .active > a{
                    border:none;
                }

                li.level1{
                    float:left;
                    width:25%;
                    background: transparent!important;

                    &:nth-child(4n+1){
                        clear: left;
                    }

                    > a{
                        font-weight: @font-weight__bold;
                    }

                    a{
                        background: transparent!important;
                        padding: 3px 20px;
                        &:hover{
                            background: transparent;
                            text-decoration: underline;
                        }
                    }
                }

                .ui-menu-icon{
                    display: none!important;
                }

                .submenu {
                    display: block!important;
                    position: static!important;
                    box-shadow: none;
                    border: none;
                    li.level2 {
                      text-transform: capitalize;
                    }
                    &.level2{
                        display: none!important;
                        li{
                            padding-left: 10px;

                            a{
                                .lib-font-size(12);
                                padding: 5px 20px;
                            }
                        }
                    }
                }
            }
        }

        .level0 {
            .submenu {
                a{
                    padding: 5px 10px;
                }
            }
        }
    }

    .top-menu-links{
        float:left;
        list-style: none;
        margin:5px 0;
        padding:0;

        li{
            margin:0;
            float:left;
            border-left:solid 1px @color-border4;

            a{
                .lib-font-size(16);
                font-weight: @font-weight__bold;
                text-transform: capitalize;
                color:@color-link-menu;
                line-height: 30px;
                padding:0 23px;
                display: block;

                &:hover{
                    text-decoration: none;
                    color:@_link-color;
                }
            }
        }
    }

    .nav-sections-item-title {
        display: none;
        .lib-font-size(16);
        font-weight: @font-weight__bold;
        text-transform: capitalize;

        &:first-child{
            display: block;

            a{
                position: relative;
                padding:5px 30px 5px 0;
                display: block;
                line-height: 30px;

                &:hover{
                    text-decoration: none;
                    color:@_link-color;
                }

                &:after{
                    content:"\f078";
                    font-family: 'FontAwesome';
                    font-size: 9px;
                    margin-left:20px;
                    vertical-align: top;
                    margin-top:5px;
                }

            }
        }
    }

    .main-menu{
        .container{
            z-index: 3;
        }
    }

    .nav-sections-items{
        .nav-sections-item-content:nth-child(2){
            display: none;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 300ms, opacity 300ms;
        }


        &:hover{
            .nav-sections-item-content:nth-child(2){
                display: block;
                visibility: visible;
                opacity: 1;
                transition: visibility 0s linear 0s, opacity 300ms;
            }
        }



    }

    .nav-sections-item-content {
        &:not(:nth-child(2)){
            display: none;
        }
    }

    .nav-sections-item-content > * {
        &:not(.navigation){
            display: none;
        }
    }


    .nav-sections-item-content {
        > .navigation {
            position: absolute;
            z-index: 10;
            top:41px;
            left:20px;
            width:25%;
            background: @color-white;
            border-top:solid 2px @_link-color;
            border-radius: 0 0 10px 10px;
            -webkit-border-radius: 0 0 10px 10px;
            -moz-border-radius: 0 0 10px 10px;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.19);

            &:before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: solid 5px @_link-color;
                border-left: solid 5px transparent;
                border-right: solid 5px transparent;
                margin-top: -7px;
                left: 40px;
            }

            ul{
                padding:0;
            }

            .ui-menu{
                padding:0 15px;
                li.level0{
                    display: block;
                    margin:0;
                    position: static;

                    >a{
                        display: block;
                        .lib-font-size(14);
                        position: relative;
                        z-index: 2;
                        border-bottom: solid 1px @color-border4;
                    }

                    &:last-child{
                        border-bottom: none;
                    }
                }
                .level0.parent > .level-top > .ui-menu-icon:after{
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                }
                li.level0{
                    &.parent {
                        &:hover {
                            .menu-banners-wrap{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .menu-banners-wrap {
                top: -2px !important;
                left: 100% !important;
                min-height: calc(~'100% + 2px');
                width: calc(~'300% - 32px');
                padding-left: 40px !important;
                padding-top: 10px !important;
                margin-left: -9px !important;
                display: block!important;
                visibility: hidden;
                opacity: 0;
                transition: .3s opacity;
                &.has-banner {
                    padding-bottom: calc(~'36% + 15px');
                }
            }

        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }

    .nav-sections{
        & + .navigation{
            float: left;
            width: auto;
            margin: 0;
            position: static;

            ul{
                position: static;
            }

            li.level0{
                position: static;
                margin: 0;
                padding: 5px 0;

                a.level-top{
                    border-left:solid 1px @color-border4;
                    .lib-font-size(16);
                    font-weight: @font-weight__bold;
                    text-transform: capitalize;
                    color:@color-link-menu;
                    line-height: 30px;
                    padding:0 23px;
                    display: block;
                }

                &:hover{
                    a.level-top{
                        text-decoration: none;
                        color:@_link-color;
                    }
                }

                &.parent{
                    > a.level-top{
                        span{
                            &:after{
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 12px;
                                line-height: 20px;
                                color: inherit;
                                content: '\e622';
                                font-family: 'luma-icons';
                                vertical-align: middle;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                                margin-left: 10px;
                                margin-right: -5px;
                            }
                        }
                    }
                    .menu-banners-wrap{
                        display: block!important;
                        visibility: hidden;
                        opacity: 0;
                        transition: .3s opacity;
                    }
                    &:hover{
                        .menu-banners-wrap{
                            visibility: visible;
                            opacity: 1;
                        }
                        > a.level-top{
                            span{
                                &:before{
                                    content: "";
                                    position: absolute;
                                    width: 0;
                                    height: 0;
                                    border-bottom: solid 5px #2779dc;
                                    border-left: solid 5px transparent;
                                    border-right: solid 5px transparent;
                                    margin-bottom: -6px;
                                    bottom:0;
                                    left: 50%;
                                    transform: translate(-50% 0);
                                    -webkit-transform: translate(-50% 0);
                                }
                            }
                        }
                    }
                }
            }

            .menu-banners-wrap{
                position: absolute!important;
                top: 41px!important;
                left: @layout-indent__width!important;
                width: calc(~'100%' - @layout-indent__width*2 );
                padding:@layout-indent__width;
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.19);
                margin: 0!important;

                &:before{
                    display: none;
                }

                &.has-banner {
                    .category-banner-menu{
                        position: static;
                        width: 100%;
                        margin-top: @layout-indent__width;
                    }
                }
            }

            .level0{
                &.active,
                &.has-active{
                    > .level-top{
                        border:none;
                        color:@_link-color;
                    }
                }
            }
        }
    }
}
