<?php
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php $_source  = $block->getSource() ?>
<?php $_order   = $block->getOrder() ?>
<?php $block->setPriceDataObject($_source) ?>

<?php if ((float) $_source->getMageworxGiftcardsAmount()): ?>
    <tr>
        <td class="label">
            <?php /* @escapeNotVerified */ echo $_order->getMageworxGiftcardsDescription() ?>
        </td>
        <td><?php /* @escapeNotVerified */ echo $block->displayPriceAttribute('mageworx_giftcards_amount') ?></td>
    </tr>
<?php endif; ?>
