// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body *{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .page-header{
        background:@background-header-color;
        margin-bottom: 0;
        .panel.wrapper {
            .greet.welcome {
                color: @color-white;
            }
            .switcher {
                .options {
                    .action.toggle {
                        color: @color-white;
                    }
                }
            }
        }

        .header.panel {
            > .header.links {
                > li {
                    > a {
                        color: @color-white;
                        &:hover, &:visited {
                            color: @color-white;
                            text-decoration: underline;
                        }
                    }
                    > * {
                        color: @color-white;
                    }
                }
            }
        }
        .block-search{

            .control{
                .borderRadius(10px);
                display: flex;
                position: relative;
            }

            input{
                height:40px;
                border:none;
                padding:0 60px 0 20px;
                background: none;
                border-radius: 0 10px 10px 0;
                -webkit-border-radius: 0 10px 10px 0;
                -moz-border-radius: 0 10px 10px 0;
                background: @color-white;

                &::placeholder{
                    color:@color-input-placeholder;
                }
            }

            .select-filter{
                width: auto;
                border: none;
                display: inline-block;
                position: relative;

                span{
                    background: @color-border2;
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                    border-radius: 10px 0 0 10px;
                    -wekibt-border-radius: 10px 0 0 10px;
                    -moz-border-radius: 10px 0 0 10px;
                    height: 40px;
                    position: relative;
                    color:@color-white;
                    padding: 10px 20px;
                    line-height: 25px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    white-space: nowrap;

                    &:after{
                        content: "\f078";
                        font-family: 'FontAwesome';
                        font-size: 9px;
                        margin-left: 20px;
                        vertical-align: top;
                    }
                }

                ul{
                    position: absolute;
                    left:0;
                    top:100%;
                    background: @color-white;
                    list-style: none;
                    margin:0;
                    display: none;
                    overflow-y: auto;
                    max-height: 620px;
                    padding: 10px 0;
                    border-radius: 0 0 10px 10px;
                    min-width: 100%;
                    z-index: 6;
                    box-shadow: 0 4.5px 4.5px rgba(0, 0, 0, 0.19);

                    li{
                        margin: 0;
                        a{
                            display: block;
                            white-space: nowrap;
                            text-align: left;
                            padding: 5px 20px;
                            .lib-font-size(14);
                            color:@color-links3;
                            cursor: pointer;

                            &:hover{
                                background: @header-panel__background-color;
                                text-decoration: none;
                                color:@color-border2;
                            }
                        }
                    }
                }
                &.active  {

                    ul{
                        display: block;
                    }
                }
            }

            .action.search:before{
                content: "\f002";
                font-family: 'FontAwesome';
                color: @color-light;
                font-size: 18px;
                line-height: 40px;
                margin: 0 10px;
                width: 20px;
            }
        }

        &.fixed{
            position: fixed;
            z-index: 101;
            width: 100%;
            top: 0;

            .panel.wrapper{
                display: none;
            }
        }

    }

    .switcher-language{
        a{

            img{
              height: 17px;
              float: left;
              vertical-align: middle;
              margin-right: 5px;
            }

            span{
              float: left;
              vertical-align: middle;
            }

        }
    }


    .page-title-wrapper{
        .page-title{
            .lib-font-size(22);
            font-weight: @font-weight__heavier;
            text-transform: capitalize;
        }
    }

    .box-wishlist{
        float:right;

        a{
            position: relative;
            padding-right: 10px;
            display: block;

            i.fa{
                font-size: 32px;
                color:@color-white;
            }

            .qty{
                position: absolute;
                width: 20px;
                height:20px;
                text-align: center;
                line-height: 20px;
                background:@color-light ;
                color:@color-black;
                .borderRadius(50%);
                right:0;
                bottom:-4px;
            }

        }
    }

    .minicart-wrapper{
        .action{
            &.gotocart{
                position: relative;

                &:before{
                    .iconSprite();
                    background-position: -74px 0;
                    width: 37px;
                    height: 36px;
                    display: inline-block;
                }

                .counter.qty{
                    position: absolute;
                    right: 0;
                    width: 20px;
                    height:20px;
                    text-align: center;
                    line-height: 20px;
                    background:@color-light ;
                    color:@color-black;
                    .borderRadius(50%);
                    bottom: 0;
                    margin-right: -2px;
                }
            }
            &.showcart{
                vertical-align: bottom;

                &:before{
                    display: none!important;
                }

                &:after{
                    font-size: 12px;
                    line-height: 37px;
                    content: '\e622';
                    font-family: 'luma-icons';
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    margin-left: 5px;
                    color: @color-white;
                }

                &.active{
                    &:after{
                        content:'\e621';
                    }
                }
            }
        }
    }

    .header{
        &.links{
            li{
                &:first-child{
                    a {
                        &:before{
                            content:"\f090";
                            font-family: 'FontAwesome';
                            .lib-font-size(14);
                            color: @color-white;
                            margin: 0 5px;
                        }
                    }
                }
                &:nth-child(2){
                    a {
                        &:before{
                            content:@fa-var-user;
                            font-family: 'FontAwesome';
                            .lib-font-size(14);
                            color: @color-white;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .container{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: auto;
    }

    .page-header{
        .header.panel {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        .panel.wrapper{
            border-bottom: none;
            background: #4844D6;
        }
    }

    .customer-welcome {
        &.active{
            .header.links {
                z-index: 105;
            }
        }

        .action.switch{
            color: @color-white;
        }

        ul.header.links{
            border:none;
            background: @color-white;
            box-shadow: 0 4.5px 4.5px rgba(0, 0, 0, 0.19);
            border-top: solid 2px @color-border2;
            margin: 0;

            &:after,
            &:before{
                display: none;
            }

            li{
                a,
                strong{
                    border-bottom: solid 1px @color-border4;
                    line-height: 20px;
                    padding: 8px 15px;
                    color:@color-links3;
                    display: block;
                    font-weight: @font-weight__regular;

                    &:before{
                        display: none;
                    }
                }

                &:last-child{
                    a,
                    strong{
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .header{
        &.panel {
            > .header.links {
                > .authorization-link:after{
                    content: "";
                }

                > li{
                    border-right: solid 1px @border-header-color;
                    padding-right: 15px;
                    .lib-font-size(14);
                    line-height: 22px;
                }
            }

            .switcher{
                margin-right:0;

                .switcher-trigger{
                    strong{
                        line-height: 22px;
                        padding: 0 5px;
                    }
                }

                &.switcher-currency {
                    + .switcher-language{
                        border-right: solid 1px @border-header-color;
                        padding-right: 15px;
                    }
                }

                .options {
                    .lib-dropdown(
                        @_icon-font-line-height: 20px
                    );

                    .action.toggle:after {
                        height: 17px;
                        font-size: 10px;
                    }
                }
            }
        }

        &.content{
            text-align: center;
            padding: 5px 20px 0;
        }

        .switcher-language{
            a{
                color:@color-white;

                &:hover{
                    text-decoration: none;
                }
            }
        }

        &.content{
            .switcher-language{
                color:@color-white;
                display: inline-block;
                float: right;
                margin: 13px 20px 0;
                vertical-align: top;
            }
        }
    }

    .logo {
        margin: 0px auto 5px 0;
    }

    .block-search{
        width:calc(~'100% - 500px');
        padding-left:0;
        float:none;
        display: inline-block;
        margin-top: 2px;

        .search-icon{
            display: none;
        }
    }

    .box-wishlist{
        margin-top:8px;
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .container{
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .page-header{
        .panel.wrapper{
            display: none;
        }

        .header.content{
            padding-bottom: 60px;

            .block-search{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 5px 15px;
                background: @color-white;

                .control{
                    margin:0;
                    padding:0;
                    border:solid 1px @color-border6;
                }

                .select-filter{
                    span{
                        padding: 10px;

                        &:after{
                            margin-left: 5px;
                        }
                    }
                }

                input{
                     padding:0 35px 0 5px;
                }
            }

            .switcher-language{
                display: none;
            }
        }
    }

    .logo{
        margin-left:41px;
    }

    .box-wishlist{
        margin-top:5px;
    }
    .nav-sections {
      .switcher-language{
        a{

          img{
            height: 17px;
            float: none;
            vertical-align: middle;
            margin-right: 5px;
          }

          span{
            float: none;
            vertical-align: middle;
          }

        }
      }
    }


    .page-main{
        padding-top: 20px;
    }

    .customer-welcome{
        li {
            a{
                &:before{
                    display: none!important;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .logo{
       width: 145px;
        .logo {
            margin-bottom: 8px;
            margin-top: 8px;
        }
    }

    .page-header{
        .nav-toggle{
            top:10px;
        }

        .box-wishlist{
            margin-right:-10px;

            a {
                height:36px;
                line-height: 36px;

                i.fa{
                    .lib-font-size(19);
                }

                .qty{
                    bottom: 0;
                }
            }
        }
    }

    .page-main{
        .home-list-producsts,
        .home-lists-product{
            .box-title,
            .block-title{
                strong{
                    .lib-font-size(16);
                }

                .box-links{
                    width: 100%;
                    margin-right:0;

                    a{
                        width: 50%;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
    }

}