// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */


.hide-txt(){
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.iconSprite() {
    .hide-txt();
    background-image: url('@{baseDir}images/olmana-icons.png');
    background-size: 600px auto;
    background-color: transparent;
    background-repeat: no-repeat;
    content: "";
}

.borderRadius(@radius) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.transformTranslate(@x, @y){
    transform: translate(@x , @y);
    -webkit-transform: translate(@x , @y);
    -moz-transform: translate(@x , @y);
}

.button-style2(){
    .lib-font-size(14);
    font-weight: @font-weight__bold;
    padding: 15px;
    line-height: 23px;
    min-width: 200px;
}

.button-style(){
    border: none;
    font-weight: bold;
    line-height: 29px;
    padding: 3px 10px;
    box-shadow: none!important;
    background: @_button-background;
    color:@color-white;

    &:hover,
    &:focus,
    &:active{
        background: @_button-background;
        color:@color-white;
        border:none;
    }
}