<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<div class="product-addto-links" data-role="add-to-links">
    <?= $block->getChildHtml() ?>
</div>
<?php
/** @var \Tigren\CustomTheme\Helper\Data $helper */
$helper = $this->helper('Tigren\CustomTheme\Helper\Data');
$isLoggedIn = $helper->getIsLoggedIn();
$baseUrl = $helper->getBaseUrl();
$wishlistUrl = $helper->getWishlistUrl();
$checkoutUrl = $helper->getCheckoutUrl();
?>
<script>
    require([
        'jquery',
        'mage/url'
    ], function ($, url) {
        $(document).ready(function () {
            var isLoggedIn = "<?= $isLoggedIn ?>",
                baseUrl = "<?= $baseUrl ?>",
                wishlistUrl = "<?= $wishlistUrl ?>",
                loginUrlPath = url.build('customer/account/login'),
                closeButton = $(parent.document).find('.mfp-close'),
                iframe = $(parent.document).find('.mfp-iframe').contents(),
                wishlistButton = $(iframe).find('.product-addto-links .towishlist'),
                compareButton = $(iframe).find('.product-addto-links .tocompare');

            wishlistButton.on("click", function () {
                $('body').trigger('processStart');
                $(window).unload(function (e) {
                    if (isLoggedIn) {
                        parent.document.location.replace(wishlistUrl);
                        closeButton.click();
                    } else {
                        parent.document.location.replace(baseUrl + loginUrlPath);
                        closeButton.click();
                    }
                });
            });

            compareButton.on('click', function () {
                $('body').trigger('processStart');
            });

            $(iframe).on('click', 'a[href*="checkout/cart"], a[href*="catalog/product_compare"]', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
                parent.document.location = $(e.currentTarget).attr('href');
            });
        });

        $(document).on("popupSuccess", function () {
            var closeButton = $(parent.document).find('.mfp-close'),
                iframe = $(parent.document).find('.mfp-iframe').contents(),
                checkoutUrl = "<?= $checkoutUrl ?>",
                toCheckoutButton = $(iframe).find('.btn.btn-secondary.to-checkout');

            toCheckoutButton.on("click", function (e) {
                parent.document.location.replace(checkoutUrl);
                closeButton.click();
            });
        });
    });
</script>
