<?php
/** @var \Tigren\CustomTheme\Block\Product\CustomInfo $block */
$categories = $block->getCategoryData();
$tags = $block->getTagsData();
?>
<?php if (count($categories) > 0): ?>
    <div>
    <span><?= /* @escapeNotVerified */
        __('Categories') ?></span>
    <?php foreach ($categories as $category): ?>
        <a href="<?= $category['path'] ?>" title="<?= /* @escapeNotVerified */
        $category['name'] ?>"><?= /* @escapeNotVerified */
            $category['name'] ?></a>
    <?php endforeach; ?>
    </div><?php endif; ?>
<?php if (count($tags) > 0): ?>
    <div>
        <span><?= /* @escapeNotVerified */
            __('Tag') ?></span>
        <?php foreach ($tags as $tag) : ?>
            <a href="<?= $tag['url'] ?>" title="<?= /* @escapeNotVerified */
            $tag['label'] ?>"><?= /* @escapeNotVerified */
                $tag['label'] ?></a>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

