<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice" data-bind="attr: {id: 'payment-method-' + getCode()}">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <div class="messages" data-bind="visible:hasError">
            <div role="alert" class="message message-error error">
                <div data-ui-id="checkout-cart-validationmessages-message-error" data-bind="text: errorMessage"></div>
            </div>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions()"></p>

        <div class="payment-option-content" data-role="content">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <form class="form form-mageworx-giftcards form-discount" id="mageworx-giftcards-form" data-bind="blockLoader: isLoading">
                <div class="payment-option-inner">
                    <!-- ko if: giftCardInfo.isChecked-->
                    <!-- ko if: giftCardInfo.isValid-->
                    <div id="giftcard-info">
                        <ul class="giftcard-info-from-template">
                            <li>
                                <strong><!-- ko i18n: 'Status:'--><!-- /ko --></strong>
                                <span><!-- ko i18n: giftCardInfo.status--><!-- /ko --></span>
                            </li>
                            <li>
                                <strong><!-- ko i18n: 'Current Balance:'--><!-- /ko --></strong>
                                <span data-bind="html: giftCardInfo.balance"></span>
                            </li>
                            <li>
                                <strong><!-- ko i18n: 'Valid till:'--><!-- /ko --></strong>
                                <span><!-- ko text: giftCardInfo.validTill--><!-- /ko --></span>
                            </li>
                        </ul>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <div class="field">
                        <label class="label" for="mageworx-giftcard-code">
                            <span data-bind="i18n: 'Redeem and use your Gift Card now'"></span>
                        </label>
                        <div class="control">
                            <input class="input-text"
                                   type="text"
                                   id="mageworx-giftcard-code"
                                   name="giftcard_code"
                                   data-validate="{'required-entry':true}"
                                   data-bind="value: giftCartCodeFieldValue, attr:{placeholder: $t('Redeem and use your Gift Card now')} "/>
                        </div>
                    </div>
                </div>
                <p class="giftcard-msg"><!-- ko i18n: giftcardErrorMessage --><!-- /ko --></p>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action action-apply" type="submit" data-bind="'value': $t('Activate'), click: activateGiftCard">
                            <span><!-- ko i18n: 'Activate'--><!-- /ko --></span>
                        </button>
                    </div>
                    <div class="secondary">
                        <button class="action action-check" type="button" data-bind="'value': $t('Check Gift Card status'), click: checkGiftCardInfo">
                            <span data-bind="i18n: 'Check Bazzarry Pay status'"></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- ko foreach: getRegion('applied-gift-cards-info') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <ul class="giftcards-applied-template items">
            <!-- ko if: isAvailable() -->
            <!-- ko foreach: getAppliedGiftCards() -->
            <li class="main-line">
        <span class="applied-container giftcard-item">
            <span class="price-wrapper">
                <span class="price"><!-- ko text: $parent.getFormattedPrice(applied)--><!-- /ko --></span>
            </span>
        </span>
                <!-- ko i18n: 'applied from Gift Card'--><!-- /ko -->
                <!-- ko text: code + '.'--><!-- /ko -->
            </li>
            <li class="item">
                <!-- ko i18n: 'Remaining card balance:'--><!-- /ko -->
                <span class="remaining-container giftcard-item">
            <span class="price-wrapper">
                <span class="price"><!-- ko text: $parent.getFormattedPrice(remaining) + '.'--><!-- /ko --></span>
                (<a href="#" class="action" data-bind="text: $t('Remove'), click: function(data, event) { $parent.removeGiftCard(code, event); }"></a>)
            </span>
        </span>
            </li>
            <!-- /ko -->
            <!-- /ko -->
        </ul>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order')},
                        enable: (getCode() == isChecked() && enablePlaceOrder),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
