<?php
/** @var \Magento\Framework\Registry $registry */
$product = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\Registry')->registry('current_product');
/** @var \Magento\Review\Block\Product\View\ListView $block */
$rating = $product->getRatingSummary()->getRatingSummary();
if (!$rating){
    $rating = 0;
}
$reviewCount = $product->getRatingSummary()->getReviewsCount();
$reviews = $block->getReviewsCollection()->getItems();
$rate1 = [];$rateBarWidth1 = 0;
$rate2 = [];$rateBarWidth2 = 0;
$rate3 = [];$rateBarWidth3 = 0;
$rate4 = [];$rateBarWidth4 = 0;
$rate5 = [];$rateBarWidth5 = 0;

if ($reviews && $reviewCount != 0) {
    foreach ($reviews as $review) {
        $rates = $review->getRatingVotes();
        if ($rates) {
            foreach ($rates as $rate) {
                $rateValue = $rate->getPercent();
                if ($rateValue == 20) {
                    $rate1[] = $rateValue;
                }
                if ($rateValue == 40) {
                    $rate2[] = $rateValue;
                }
                if ($rateValue == 60) {
                    $rate3[] = $rateValue;
                }
                if ($rateValue == 80) {
                    $rate4[] = $rateValue;
                }
                if ($rateValue == 100) {
                    $rate5[] = $rateValue;
                }
            }
        }
        $count[] = $rates->count();
    };
    $rateCount = array_sum($count);
    if($rateCount != 0){
        $rateBarWidth1 = (count($rate1) / $rateCount) * 100;
        $rateBarWidth2 = (count($rate2) / $rateCount) * 100;
        $rateBarWidth3 = (count($rate3) / $rateCount) * 100;
        $rateBarWidth4 = (count($rate4) / $rateCount) * 100;
        $rateBarWidth5 = (count($rate5) / $rateCount) * 100;
    }
}

?>
<?php
if ($reviewCount != 0) :
?>
<div class="review-total">
    <div class="title">
        <?php /* @escapeNotVerified */ echo __('Average Rating') ?>
    </div>
    <div class="ratings">
        <div class="rating-summary">
            <h1 class="rating-average">
                <?php $ratingAver = ($rating / 100) * 5;?>
                <?php echo round($ratingAver, 1); ?>
            </h1>
            <div class="rating-result">
                <span style="width:<?php echo $rating ?>%">
                     <span>
                         <?php /* @escapeNotVerified */ echo __('%1 of 100', $rating) ?>
                     </span>
                 </span>
                <p><?php /* @escapeNotVerified */ echo __('( %1 Reviews )', $reviewCount) ?></p>
            </div>
        </div>
        <div class="rating-summary-details">
            <table class="ratings-table">
                <colgroup>
                    <col class="review-label">
                    <col class="review-value">
                </colgroup>
                <tbody>
                <tr>
                    <th><span>5</span></th>
                    <td>
                        <div class="rating-bar">
                            <div class="rating" style="width:<?php echo $rateBarWidth5 ?>%;"></div>
                        </div>
                    </td>
                    <th><?php echo round($rateBarWidth5).'%' ?></th>
                </tr>
                <tr>
                    <th><span>4</span></th>
                    <td>
                        <div class="rating-bar">
                            <div class="rating" style="width:<?php echo $rateBarWidth4 ?>%;"></div>
                        </div>
                    </td>
                    <th><?php echo round($rateBarWidth4).'%' ?></th>
                </tr>
                <tr>
                    <th><span>3</span></th>
                    <td>
                        <div class="rating-bar">
                            <div class="rating" style="width:<?php echo $rateBarWidth3 ?>%;"></div>
                        </div>
                    </td>
                    <th><?php echo round($rateBarWidth3).'%' ?></th>
                </tr>
                <tr>
                    <th><span>2</span></th>
                    <td>
                        <div class="rating-bar">
                            <div class="rating" style="width:<?php echo $rateBarWidth2 ?>%;"></div>
                        </div>
                    </td>
                    <th><?php echo round($rateBarWidth2).'%' ?></th>
                </tr>
                <tr>
                    <th><span>1</span></th>
                    <td>
                        <div class="rating-bar">
                            <div class="rating" style="width:<?php echo $rateBarWidth1 ?>%;"></div>
                        </div>
                    </td>
                    <th><?php echo round($rateBarWidth1).'%' ?></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<?php endif; ?>
