<?php /** * @author Tigren Solutions <info@tigren.com> * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved. * @license Open Software License ("OSL") v. 3.0 */ ?> <?php /** @var $block Magento\Bundle\Block\Catalog\Product\View\Type\Bundle */ ?> <?php $product = $block->getProduct(); $helper = $this->helper('Magento\Catalog\Helper\Output'); ?> <?php $options = $block->decorateArray($block->getOptions()); ?> <?php if ($product->isSaleable()): ?> <?php if (count($options)): ?> <script type="text/javascript">
            require([
                'jquery',
                'Magento_Bundle/js/price-bundle'
            ], function ($) {
                'use strict';
                var widget = $('#product_addtocart_form').priceBundle({
                    "optionConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>,
                    "controlContainer": ".field.option"
                });
                return;
            });</script><fieldset class="fieldset fieldset-bundle-options"><?= $block->getChildHtml('product_info_bundle_options_top'); ?> <?php foreach ($options as $option): ?> <?php if (!$option->getSelections()): ?> <?php continue; ?> <?php endif; ?> <?= $block->getOptionHtml($option) ?> <?php endforeach; ?></fieldset><?php else: ?> <p class="empty"><?= __('No options of this product are available.') ?></p><?php endif; ?> <?php endif; ?>