<?php
// @codingStandardsIgnoreFile
?>
<?php
/**
 * @var $block \Swissup\Highlight\Block\Product\Abstract
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $title = $block->getTitle();
    $items = $block->getProductCollection()->getItems();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;

    $mode = 'list';
    $image = 'category_page_list';
    $showDescription = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
}
?>

<?php if ($exist):?>
    <div class="block widget block-highlight highlight-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $block->getCssClass(); ?>">
        <?php if ($title): ?>
            <div class="block-title">
                <strong role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo $title; ?></strong>
                <?php if ($block->getShowPageLink() && $block->getPageLinkPosition() === 'top') : ?>
                    <p class="subtitle">
                        <a class="action view"
                            href="<?= $block->escapeHtml($block->getPageUrl()) ?>"
                            title="<?= $block->escapeHtml($block->getPageLinkTitle()) ?>"
                            ><span><?= $block->escapeHtml($block->getPageLinkTitle()) ?></span></a>
                    </p>
                <?php endif ?>
            </div>
        <?php endif; ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ol class="product-items">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo" title="<?= $block->escapeHtml($_item->getName()) ?>">
                                <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                       class="product-item-link">
                                        <?php echo $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>

                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php echo $block->getProductPriceHtml($_item, $this->getPriceSuffix()); ?>

                            </div>
                        </div>
                        <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>

            <?php if ($block->getShowPageLink() && $block->getPageLinkPosition() !== 'top') : ?>
                <div class="actions-toolbar">
                    <a class="action view"
                        href="<?= $block->escapeHtml($block->getPageUrl()) ?>"
                        title="<?= $block->escapeHtml($block->getPageLinkTitle()) ?>"
                        ><span><?= $block->escapeHtml($block->getPageLinkTitle()) ?></span></a>
                </div>
            <?php endif ?>
        </div>
    </div>
<?php endif;?>
