// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 9;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: 0;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        #maincontent {
            max-width: 100%;
            padding: 0;
            padding-top: 130px;
            position: relative;
        }
        .page-title-wrapper {
            text-align: center;

            .page-title {
                .lib-font-size(40);
                margin: 30px auto 30px;
                font-weight: bold;
            }
        }

        .checkout-shipping-stores {
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.19);
            padding: 15px;
            border: 1px solid #f0f0f0;
            .select-title {
                .lib-font-size(15);
                font-weight: normal;
                margin: 0 0 10px;
            }
            .step-content {
                margin: 0;
                .shipping-store-container {
                    margin: 0;
                    .field {
                        margin: 0 0 10px;
                        .label {
                            display: none;
                        }
                    }
                }
            }
        }

        .field[name='shippingAddress.firstname'], .field[name='billingAddresscheckmo.firstname'],
        .field[name='billingAddresscashondelivery.firstname'], .field[name='billingAddressbankdeposits.firstname'],
        .field[name='billingAddress.firstname'] {
            width: 49%;
            display: inline-block;
            margin-right: 2%;
        }
        .field[name='shippingAddress.lastname'], .field[name='billingAddresscheckmo.lastname'],
        .field[name='billingAddresscashondelivery.lastname'], .field[name='billingAddressbankdeposits.lastname'],
        .field[name='billingAddress.lastname']
        {
            width: 49%;
            display: inline-block;
        }
        .field[name='shippingAddress.country_id']{
            display: none !important;
        }

        .field.location-type {
            .option {
                display: inline-block;
                padding-right: 20px ;
            }
        }

        .page-header {
            .header.content {
                padding-bottom: 0;
                .nav-toggle {
                    display: none;
                }
                .logo {
                    margin-left: 0;
                }
                .secure-checkout-label {
                    float: left;
                    font-size: 15px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 45px;
                    padding-left: 20px;
                    position: relative;
                    margin-left: 20px;
                    &:before {
                        background-image: url('@{baseDir}images/i-lock.png');
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 14px;
                        height: 16px;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -8px;
                    }
                }
            }
        }

        .opc-progress-bar {
            text-align: center;

            .opc-progress-bar-item > span:after {
                line-height: 26px;
            }
        }

        .opc-block-summary {
            .minicart-items-wrapper {
                width: 100%;
                padding: 0;
            }
        }

        .block.items-in-cart {
            margin-bottom: 20px;
            .block-title {
                padding: 10px;
                position: relative;
                overflow: hidden;
                width: 100%;
                strong {
                    float: left;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 30px;
                }
                a {
                    float: right;
                    line-height: 30px;
                    font-weight: bold;
                }
            }
            .content.minicart-items {
                padding: 10px;
                background: @color-white;
            }
        }

        .opc-wrapper {
            .form-login,
            .form-shipping-address {
                .fieldset .field .label {
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            padding-bottom: 10px;
        }

        .step-content {
            margin: 0 0 @indent__base;
            overflow: hidden;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }

        .page-main {
            text-align: center;
            padding-top: 130px;
            position: relative;
            max-width: 100%;
            z-index: 1;
            .opc-progress-bar {
                top: 10px;
            }
            .actions-toolbar {
                text-align: center;

                .primary {
                    float: none;
                    margin-top: 10px;
                }
            }

            .message {
                &.success,
                &.info,
                &.error,
                &.notice,
                &.warning {
                    display: inline-block;
                    margin: -15px 0 15px;
                }
            }
        }
    }

    #opc-sidebar {
        background: #fafafa;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .checkout-index-index {
        .block.items-in-cart {
            .block-title {
                a {
                    float: left;
                    width: 100%;
                    display: block;
                    line-height: 30px;
                }
            }
        }
        .opc-estimated-wrapper {
            margin-bottom: 20px;
        }
        .checkout-container {
            padding: 0 @indent__base;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 10px;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
    .checkout-index-index {
        .page-header {
            .header.content {
                .secure-checkout-label {
                    font-size: 12px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }
    .checkout-container {
        max-width:@layout__max-width;
        margin: 0 auto @indent__base;
        padding: 0 @indent__base;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .opc-wrapper {
        width: 65%;
    }
    .opc-sidebar {
        margin: 0 0 20px;
        width: 35%;
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .checkout-container {
        max-width:@layoutxl__max-width;
        margin: 0 auto @indent__base;
    }
}
