<?php
/**
 * @author Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license Open Software License ("OSL") v. 3.0
 */

/**
 * Category view template
 *
 * @var $block \Magento\Framework\View\Element\Template
 */
?>
<div class="other-sellers-section">
    <h3 class="other-sellers-title"><?= $block->escapeHtml(__('Other Sellers')) ?></h3>
    <p><a href="#" title="75 More Offers">(75) more offers </a> starting from <span class="price">$0.1</span></p>
    <p><strong><?= $block->escapeHtml(__('2 Eligible for FREE SHIPPING')) ?></strong></p>
</div>
