<?php
/**
 * @author    Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license   Open Software License ("OSL") v. 3.0
 */

?>
<script>
    require([
        'jquery'
    ], function ($) {
        var customerPhoneNumber = $("#mobilenumber");
        customerPhoneNumber.addClass("required");
        customerPhoneNumber.keyup(function () {
            if (
                ($(this).val().length > 0) && ($(this).val().substr(0, 4) != '+967')
                || ($(this).val() == '')
            ) {
                $(this).val('+967');
            }
        });
        $('.save').on('click', function () {
            if (customerPhoneNumber.val() == "+967") {
                customerPhoneNumber.val('');
            }
            var regex = /^[0-9]+$/;
            if (!customerPhoneNumber.val().substr(5).match(regex)) {
                customerPhoneNumber.val('');
            }
        });
        $.fn.putCursorAtEnd = function () {
            return this.each(function () {
                var $el = $(this),
                    el = this;
                if (el.setSelectionRange) {
                    var len = $el.val().length * 2;
                    setTimeout(function () {
                        el.setSelectionRange(len, len);
                    }, 1);

                } else {
                    $el.val($el.val());

                }
                this.scrollTop = 999999;

            });

        };
        customerPhoneNumber.putCursorAtEnd().on("click", function () { // could be on any event
            customerPhoneNumber.putCursorAtEnd()
        });
        customerPhoneNumber.putCursorAtEnd().on("focus", function () { // could be on any event
            customerPhoneNumber.putCursorAtEnd()
        });
        customerPhoneNumber.on("focus", function () {
            if (customerPhoneNumber.val() == "") {
                customerPhoneNumber.val("+967");
            }
        })
    });
</script>