<?php
/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsMessage\Block\Message
 */
$_vendor = $block->getVendor();
?>
<div class="new-message-container hide" id="new-message-container">
    <div class="block block-new-message">
        <div class="block-title"><strong><?php echo __("New Message")?></strong></div>
        <div class="block-content">
            <form id="new-msg-form">
                <fieldset class="fieldset info">
                    <div class="field">
                        <label class="label" for="firstname">
                            <span><?php echo __("Recipient")?></span>
                        </label>
                        <div class="control">
                            <span><?php echo $_vendor->getVendorId()?></span>
                        </div>
                    </div>
                    <div class="field required">
                        <label class="label" for="firstname">
                            <span><?php echo __("Subject")?></span>
                        </label>
                        <div class="control">
                            <input id="msg_subject" name="message[subject]" value="" title="<?php echo __("Subject")?>" class="input-text" type="text"  data-validate="{required:true}">
                        </div>
                    </div>
                    <div class="field required">
                        <div class="control">
                            <textarea name="message[content]" id="msg_content" class="textarea input-text" rows="2" cols="15" data-validate="{required:true}"></textarea>
                        </div>
                    </div>
                    <div class="actions-toolbar">
                        <div class="message-upload-wrapper" data-bind="scope: 'message-uploader'">
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        </div>
                        <script type="text/x-magento-init">
                            {
                               ".message-upload-wrapper": {
                                   "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
                               }
                            }
                        </script>
                        <div class="send-btn-container">
                            <button type="button" class="message-icon-paper-plane-o action save btn-primary primary" id="new-msg-send-btn" title="<?php echo __("Send")?>"><span> <?php echo __("Send")?></span></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="block-control"><a href="javascript: void(0)" class="close-btn" id="new-msg-close-btn"><i class="message-icon-discard"></i></a></div>
        <script type="text/javascript">
        //<![CDATA[
        window.tinyMCE_GZ = window.tinyMCE_GZ || {}; window.tinyMCE_GZ.loaded = true;
        require([
            "jquery",
            'uiRegistry',
            "Magento_Ui/js/modal/alert",
            "mage/translate",
            "Vnecoms_VendorsMessage/js/wysiwyg/tiny_mce/setup",
        ], function($, registry, alert) {
            /*Init wysiwyg*/
            wysiwygpage_msg_content = new tinyMceWysiwygSetup(
        	    "msg_content",
        	    {
            	    "enabled":true,
            	    "theme":"simple",
            	    "theme_advanced_buttons1":"bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent",
            	    "theme_advanced_buttons2":"",
            	    "theme_advanced_buttons3":"",
            	    "theme_advanced_buttons4":"",
            	    "plugins":"",
            	    "width":"100%",
                    "content_css": "<?php echo $block->getContentCss()?>"
        	    }
            );
            wysiwygpage_msg_content.turnOn();
            $('body').on('click',"#vnecoms-msg-btn",function(){
                <?php if($block->isLoggedIn() && $block->canSendMessage()):?>
                    $("#new-message-container").removeClass("hide");
                <?php else:?>
                    <?php if(!$block->isLoggedIn()){$title = __("Login Required"); $msg = __("You need to login to use this feature.");} else{$title = __("Error"); $msg = __("You can not send message to your self.");}?>
                    alert({
            			modalClass: 'alert ves-error',
                        title: '<?php echo $title;?>',
                        content: '<?php echo $msg;?>',
                    });
                <?php endif;?>
            });

            /*Close button click*/
            $("#new-msg-close-btn").click(function(){
            	$("#new-message-container").addClass("hide");
            });

            /**
             * Get uploaded file values
             */
            function getUploadedValues() {
                var uploadedValues = [];
                if(registry.get('message-uploader').value()){
                    var uploader = registry.get('message-uploader').value();
                    uploader.each(function(file){
                        uploadedValues.push(file.file);
                    });
                }

                return uploadedValues.join('||');
            };

            /*Send message*/
            $("#new-msg-send-btn").click(function(){
            	if(dataForm.valid()){
                	if(!$('#msg_content').val()){
                		alert({
                			modalClass: 'alert ves-error',
                            title: '<?php echo __("Error...");?>',
                            content: '<?php echo __("Please enter your message body.");?>',
                        });
                        return;
                	}
                	$('#vnecoms-msg-notification').removeClass('hide');
                	$("#new-message-container").addClass('hide');
            		$.ajax({
                        method: "POST",
                        url: "<?php echo $block->getSendUrl();?>",
                        data: {
                            subject: $("#msg_subject").val(),
                            content: tinyMCE.get('msg_content').getContent(),
                            attachments: getUploadedValues()
                        }
                    }).done(function(msg) {
                    	$('#vnecoms-msg-notification').addClass('hide');
                        $("#msg_subject").val('');
                        $(".action-remove").click();
                        tinyMCE.get('msg_content').setContent('<p></p>');
                    });
            	}
            });

            var dataForm = $('#new-msg-form');            
            dataForm.mage('validation');
        });
        //]]>
        </script>
    </div>
</div>

<div class="message-notification-box hide" id="vnecoms-msg-notification"><?php echo __("Sending ...")?></div>