#giftcard-info dl {
    display: inline-block;
    margin-bottom: 5px;
}
#giftcard-info dt {
    float: left;
    margin: 0 11px;
    font-weight: normal;
    clear: left;
}
#giftcard-info dd {
    font-weight: bold;
    margin: 0;
    float: left;
}
.check-giftcard-status {
    margin-top: 11px;
}
.giftcards-applied-template {
    margin-top: 15px;
}
.main-line {
    font-weight: bold;
    margin-bottom: 0;
}