// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .opc-wrapper {
        .form-discount {
            max-width: 300px;
            .field {
                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }
    }
}
