<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <!-- ko if: (isStoreSelected() == 0) -->
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <!--/ko-->
    <!-- ko if: (isStoreSelected() == 1) -->
    <div class="ship-to">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Pick From'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <strong><!-- ko text: getStoreDetails().store_name --><!-- /ko --></strong><br/>
            <!-- ko text: getStoreDetails().firstname --><!-- /ko --> <!-- ko text: getStoreDetails().lastname --><!-- /ko --> <br/>
            <!-- ko text: _.values(getStoreDetails().street).join(", ") --><!-- /ko --><br/>
            <!-- ko if: (getStoreDetails().city) --><!-- ko text: getStoreDetails().city --><!-- /ko -->, <!-- /ko --><span data-bind="html: getStoreDetails().region"></span> <!-- ko text: getStoreDetails().postcode --><!-- /ko --><br/>
            <!-- ko text: getCountryName(getStoreDetails().country_id) --><!-- /ko --><br/>
            <!-- ko if: (getStoreDetails().telephone) -->
            <a data-bind="text: getStoreDetails().telephone, attr: {'href': 'tel:' + getStoreDetails().telephone}"></a>
            <!-- /ko --><br/>
        </div>
    </div>
    <!--/ko-->
    <div class="ship-via">
        <div class="shipping-information-title">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="action action-edit" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>
    </div>
</div>
<!--/ko-->
