<ul class="opc-progress-bar">
    <li class="opc-progress-bar-item _complete">
        <span><?php /* @escapeNotVerified */echo __('Shipping') ?></span>
    </li>

    <li class="opc-progress-bar-item _complete">
        <span><?php /* @escapeNotVerified */echo __('Review & Payments') ?></span>
    </li>
    <li class="opc-progress-bar-item checkout-success _complete _active">
        <span><?php echo __('Done') ?></span>
    </li>
</ul>