<!--
  ~ @author Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license Open Software License ("OSL") v. 3.0
  -->
<li class="checkout-shipping-address" data-bind="fadeVisible: visible(), afterRender: handleAfterRender, css: {'_store_pickup_active': isSelectedStorePickup(), '_has_logged_in': hasLoggedIn()}"
    id="shipping">
    <div class="checkout-shipping-type" id="shipping-type">
        <div class="step-content" data-role="content" id="checkout-step-shipping-type">
            <div class="shipping-type-selection-delivery" id="onepage-checkout-shipping-type-delivery">
                <div class="shipping-type-description">
                    <input class="radio" data-bind="
                            checkedValue: 'delivery',
                            checked: selectedShippingType,
                            attr: {
                                name: 'checkout_shipping_type',
                                id: 'shipping-type-delivery',
                                'aria-labelledby': 'shipping-type-delivery'
                            }"
                           ko-disable="deliveryDisabled"
                           type="radio"/>
                    <label data-bind="
                            attr: {
                                id: 'shipping_type_delivery_label',
                                for: 'shipping-type-delivery'
                            }">
                        <span data-bind="i18n: 'Ship to my delivery address'"></span>
                    </label>
                </div>
            </div>
            <div class="shipping-type-selection-store-pickup" id="onepage-checkout-shipping-type-store-pickup">
                <div class="shipping-type-description">
                    <input class="radio" data-bind="
                            checkedValue: 'store_pickup',
                            checked: selectedShippingType,
                            attr: {
                                name: 'checkout_shipping_type',
                                id: 'shipping-type-store-pickup',
                                'aria-labelledby': 'shipping-type-store-pickup'
                            }"
                           ko-disable="storePickupDisabled"
                           type="radio"/>
                    <label data-bind="
                            attr: {
                                id: 'shipping_type_store_pickup_label',
                                for: 'shipping-type-store-pickup'
                            }">
                        <span data-bind="i18n: 'Ship to a nearby pickup location, I will pick it up myself'"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <render args="storeSuggestionTemplate"/>

    <div class="step-title" data-bind="fadeVisible: !isSelectedStorePickup(), i18n: 'Shipping Address'"
         data-role="title"></div>
    <div class="step-content"
         data-role="content"
         id="checkout-step-shipping">

        <!-- ko if: (!quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!--/ko-->

        <!-- ko if: (!isSelectedStorePickup()) -->
        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button class="action action-show-popup"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                type="button">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div data-bind="visible: isFormPopUpVisible()" id="opc-new-shipping-address">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->
        <!--/ko-->
    </div>
</li>


<!--Shipping method template-->
<li class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    id="opc-shipping_method"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: ratesByWarehouse().length >= 2  -->
        <div class="no-quotes-block message-notice notice message">
            <div data-bind="i18n: 'You are buying from more than one seller. Please select the shipping method from each seller.'"></div>
        </div>
        <!-- /ko -->

        <div aria-hidden="false"
             class="step-content"
             data-role="content"
             id="checkout-step-shipping_method"
             role="tabpanel">
            <!-- ko if: rates().length > 1  -->
            <form class="form methods-shipping" data-bind="submit: setShippingInformation" id="co-shipping-method-form"
                  novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <!--ko foreach: { data: ratesByWarehouse, as: 'vendorWh'}-->
                    <!--ko if: vendorWh.is_main -->
                        <div class="vendor-title"><span><!-- ko i18n: 'Seller: ' --><!-- /ko --></span><span data-bind="text:vendorWh.vendor_id"></span></div>
                    <!-- /ko -->
                    <dl class="warehouses-shipping-methods">
                        <!--ko foreach: { data: vendorWh.warehouses, as: 'warehouseShipping'}-->
                        <!--ko if: $parent.is_main -->
                            <dt data-bind="text: warehouseShipping.title"></dt>
                        <!-- /ko -->
                        <!--ko ifnot: $parent.is_main -->
                            <dt><span><!-- ko i18n: 'Seller: ' --><!-- /ko --></span><span data-bind="text: $parent.shipping_title"></span></dt>
                        <!-- /ko -->
                        <dd>
                            <!-- ko if: warehouseShipping && warehouseShipping.items && warehouseShipping.items.length  -->
                            <div class="cart table-wrapper">
                                <table class="cart items data table" id="shopping-cart-table">
                                    <tbody>
                                    <!-- ko foreach: { data: warehouseShipping.items, as: 'item'} -->
                                    <tr class="cart-item item-info">
                                        <td class="col image" data-th="Item">
                                            <span class="product-item-photo"
                                                  data-bind="attr: {'style': 'height: ' + $parents[2].getHeight(item) + 'px; width: ' + $parents[2].getWidth(item) + 'px;' }">
                                                <span class="product-image-wrapper">
                                                    <img
                                                            data-bind="attr: {'src': $parents[2].getSrc(item), 'width': $parents[2].getWidth(item), 'height': $parents[2].getHeight(item), 'alt': $parents[2].getAlt(item), 'title': $parents[2].getAlt(item) }"/>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="col details">
                                            <div class="product-item-details">
                                                <div class="product-item-inner">
                                                    <div class="product-item-name-block">
                                                        <strong class="product-item-name"
                                                                data-bind="html: item.name"></strong>
                                                        <!-- ko if: (item.options.length > 0)-->
                                                        <div class="product options"
                                                             data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
                                                                    <span class="toggle" data-role="title"><!-- ko i18n: 'View Details' -->
                                                                        <!-- /ko --></span>
                                                            <div class="content" data-role="content">
                                                                <strong class="subtitle">
                                                                    <!-- ko i18n: 'Options Details' -->
                                                                    <!-- /ko --></strong>
                                                                <dl class="item-options">
                                                                    <!--ko foreach: item.options-->
                                                                    <dt class="label" data-bind="text: label"></dt>
                                                                    <!-- ko if: ($data.full_view)-->
                                                                    <dd class="values"
                                                                        data-bind="html: full_view"></dd>
                                                                    <!-- /ko -->
                                                                    <!-- ko ifnot: ($data.full_view)-->
                                                                    <dd class="values" data-bind="html: value"></dd>
                                                                    <!-- /ko -->
                                                                    <!-- /ko -->
                                                                </dl>
                                                            </div>
                                                        </div>
                                                        <!-- /ko -->
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col price">
                                            <div class="subtotal">
                                                <!-- ko if: $parents[2].isPriceInclTaxDisplayed() -->
                                                <span class="price-including-tax"
                                                      data-bind="text: $parents[2].getValueInclTax(item), attr:{'data-label': $t('Incl. Tax')}">
                                                        </span>
                                                <!-- /ko -->
                                                <!-- ko if: $parents[2].isPriceExclTaxDisplayed() -->
                                                <span class="price-excluding-tax"
                                                      data-bind="text: $parents[2].getValueExclTax(item), attr:{'data-label': $t('Excl. Tax')}">
                                                        </span>
                                                <!-- /ko -->
                                            </div>
                                        </td>
                                        <td class="col qty">
                                            <div class="secondary">
                                                <div class="details-qty">
                                                                        <span class="label"><!-- ko i18n: 'Qty: ' -->
                                                                            <!-- /ko --></span>
                                                    <span class="value"
                                                          data-bind="text: item.qty"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col action">
                                            <a class="checkout-cart-item-remove" data-bind="click:$parents[2].removeItem,attr: {'data-cart-item': item.item_id}"
                                               href="#"
                                               title="Remove">
                                                <span data-bind="i18n: 'Remove'">Remove</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- /ko -->

                            <!-- ko if: warehouseShipping && warehouseShipping.rates && warehouseShipping.rates.length  -->
                            <div class="table-checkout-shipping-method">
                                <!--ko foreach: { data: warehouseShipping.rates, as: 'method'}-->
                                <div class="method-item"
                                     data-bind=" afterRender: $parents[2].handleAfterRenderShippingMethod(method)">
                                    <div class="item-selection">
                                        <input class="radio"
                                               data-bind=" value: method.carrier_code + '_' + method.method_code,
                                                                checked: $parents[2].isMethodChecked(method.carrier_code + '_' + method.method_code),
                                                                attr: {
                                                                    'data-warehouse': $parents[1].entity_id + '_' + 'warehouse_' + $parent.warehouse_id,
                                                                    'id': 'warehouse_s_method_' + $parents[1].entity_id + '_' + method.method_code,
                                                                    'name': 'warehouse_shipping_method__' + $parents[1].entity_id + '_' + $parent.warehouse_id,
                                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                                },
                                                                click: $parents[2].changeWarehouseMethod.bind($parents[2])"
                                               name="shipping_method"
                                               type="radio"/>
                                        <label data-bind="attr: {'for': 'warehouse_s_method_' + $parents[1].entity_id + '_' + method.method_code}"><strong
                                                data-bind="text: method.method_title, attr: {'id': $parents[1].entity_id + '_label_method_' + method.method_code + '_' + method.carrier_code}"></strong></label>
                                        <div class="method-details">
<!--                                            <p data-bind="text: method.carrier_title, attr: {'id':  $parents[1].entity_id + '_label_carrier_' + method.method_code + '_' + method.carrier_code}"></p>-->
                                            <!-- ko if:  method.comment -->
<!--                                            <p class="col" data-bind="html: method.comment"></p>-->
                                            <!-- /ko -->
                                            <div class="method-price">
                                                <!-- ko foreach: $parents[2].getRegion('price') -->
                                                <!-- ko template: getTemplate() --><!-- /ko -->
                                                <!-- /ko -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div data-bind=" attr: {'id': 'checkout-shipping-method-load-after' + warehouseShipping.warehouse_id}"></div>
                            <!-- /ko -->
                        </dd>
                        <!-- ko ifnot: warehouseShipping.rates.length > 0 -->
                        <dd>
                            <div class="no-quotes-block message-error message error">
                                <span data-bind="i18n: 'Sorry, no quotes are available for this warehouse at this time.'"></span>
                            </div>
                        </dd>
                        <!-- /ko -->
                        <!-- /ko -->
                    </dl>
                    <!-- ko if: $parent.ratesByWarehouse().length > 1 && vendorWh.is_main -->
                    <span class="vendor-title" data-bind="text:'Other Vendors'"></span>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- Hide the default shipping methods -->
                    <!-- ko if: isAllWarehouseMethodSelected()  -->
                    <table class="table-checkout-shipping-method" style="display: none;">
                        <thead>
                        <tr class="row">
                            <th class="col col-method" data-bind="i18n: 'Select Method'"></th>
                            <th class="col col-price" data-bind="i18n: 'Price'"></th>
                            <th class="col col-method" data-bind="i18n: 'Method Title'"></th>
                            <th class="col col-carrier" data-bind="i18n: 'Carrier Title'"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <tr class="row" data-bind="click: $parent.selectShippingMethod">
                            <td class="col col-method">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input class="radio"
                                       data-bind="attr: {
                                                    checked: $parent.rates().length == 1,
                                                    'value' : method.carrier_code + '_' + method.method_code,
                                                    'id': 's_method_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                 }"
                                       type="radio"/>
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input class="radio"
                                       data-bind="
                                                value: method.carrier_code + '_' + method.method_code,
                                                checked: $parent.isSelected,
                                                attr: {
                                                    'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                },
                                                click: $parent.selectShippingMethod"
                                       type="radio"/>
                                <!--/ko-->
                                <!-- /ko -->
                            </td>
                            <td class="col col-price">
                                <!-- ko foreach: $parent.getRegion('price') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                                <!-- /ko -->
                            </td>

                            <td class="col col-method"
                                data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></td>

                            <td class="col col-carrier"
                                data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></td>
                        </tr>

                        <!-- ko if:  method.error_message -->
                        <tr class="row row-error">
                            <td class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"
                                           type="radio"/>
                                </span>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- /ko -->
                        </tbody>
                    </table>
                    <!-- /ko -->
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="actions-toolbar" data-bind="visible: false" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button class="button action continue primary" data-role="opc-continue" type="submit">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 1 -->
            <div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'-->
                <!-- /ko --></div><!-- /ko -->
        </div>
    </div>
</li>


<li data-bind="fadeVisible: visible()" id="message-error">
    <div class="message notice"
         if="errorValidationMessage().length"
         role="alert">
        <span text="errorValidationMessage()"/>
    </div>
</li>

<!--Shipping method button template-->
<li data-bind="fadeVisible: visible()" id="opc-content-shipping_method-button">
    <div class="actions-toolbar" id="opc-content-tigren-shipping-method-buttons-container">
        <div class="primary">
            <button class="button action continue primary" data-bind="event: { click: onClickNextButton }"
                    data-role="opc-continue">
                <span><!-- ko i18n: 'Continue'--><!-- /ko --></span>
            </button>
        </div>
    </div>
</li>