<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Edit $block */

use Magento\Customer\Block\Address\Edit;
use Magento\Customer\Block\Widget\Company;
use Magento\Customer\Block\Widget\Fax;
use Magento\Customer\Block\Widget\Telephone;
use Magento\Customer\Helper\Address;
use Magento\Directory\Helper\Data;

?>
<?php $_company = $block->getLayout()->createBlock(Company::class) ?>
<?php $_telephone = $block->getLayout()->createBlock(Telephone::class) ?>
<?php $_fax = $block->getLayout()->createBlock(Fax::class) ?>
<form class="form-address-edit"
      action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Contact Information')) ?></span></legend>
        <br>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
        <div class="fields name-fields">
            <?= $block->getNameBlockHtml() ?>
        </div>

        <?php if ($_company->isEnabled()): ?>
            <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
        <?php endif ?>

        <?php if ($_telephone->isEnabled()): ?>
            <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
        <?php endif ?>

        <?php if ($_fax->isEnabled()): ?>
            <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
        <?php endif ?>

    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Address')) ?></span></legend>
        <br>
        <?php $_streetValidationClass = $this->helper(Address::class)->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1" class="label">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('street') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       name="street[]"
                       value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('street') ?>"
                       id="street_1"
                       class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 1, $_n = $this->helper(Address::class)->getStreetLines(); $_i < $_n; $_i++): ?>
                        <div class="field additional">
                            <label class="label" for="street_<?= /* @noEscape */
                            $_i + 1 ?>">
                                <span><?= $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]"
                                       value="<?= $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                       id="street_<?= /* @noEscape */
                                       $_i + 1 ?>"
                                       class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>

        <div class="field location-type">
            <label class="label" for="location_type">
                <span><?= /* @noEscape */
                    __('Location Type') ?></span>
            </label>
            <div class="control">
                <div class="choice field">
                    <input type="radio" id="home" name="location_type" value="home"
                           <?= $block->getAddress()->getLocationType() == 'home' ? 'checked' : '' ?>>
                    <label for="home"><?= __('House') ?></label>
                </div>
                <div class="choice field">
                    <input type="radio" id="work" name="location_type" value="work"
                           <?= $block->getAddress()->getLocationType() == 'work' ? 'checked' : '' ?>>
                    <label for="work"><?= __('Work') ?></label>
                </div>
            </div>
        </div>

        <div class="field nearest-landmark">
            <label class="label" for="nearest-landmark">
                <span><?= /* @noEscape */
                    __('Nearest Landmark') ?></span>
            </label>
            <div class="control">
                <input type="text"
                       id="nearest-landmark"
                       name="nearest_landmark"
                       value="<?= $block->escapeHtmlAttr($block->getAddress()->getNearestLandmark()) ?>"
                >
            </div>
        </div>

        <?php if ($this->helper(Address::class)->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <label class="label" for="vat_id">
                    <span><?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="vat_id"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                           title="<?= /* @noEscape */
                           $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                           class="input-text <?= $block->escapeHtmlAttr($this->helper(Address::class)->getAttributeValidationClass('vat_id')) ?>"
                           id="vat_id">
                </div>
            </div>
        <?php endif; ?>
        <div class="field region required">
            <label class="label" for="region_id">
                <span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('region') ?></span>
            </label>
            <div class="control">
                <select id="region_id" name="region_id"
                        title="<?= /* @noEscape */
                        $block->getAttributeData()->getFrontendLabel('region') ?>"
                        class="validate-select" <?= /* @noEscape */
                        !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text"
                       id="region"
                       name="region"
                       value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                       title="<?= /* @noEscape */
                       $block->getAttributeData()->getFrontendLabel('region') ?>"
                       class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper(Address::class)->getAttributeValidationClass('region')) ?>"
                       <?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
            </div>
        </div>
        <div class="field country" style="visibility: hidden; height: 0;">
            <label class="label" for="country"><span><?= /* @noEscape */
                    $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
            <div class="control">
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>

        <?php if ($block->isDefaultBilling()): ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
            <div class="field choice set billing">
                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                <label class="label" for="primary_billing">
                    <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1"/>
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                <label class="label" for="primary_shipping">
                    <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_shipping" value="1">
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    data-action="save-address"
                    title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?= $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action cancel" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"
               title="<?= $block->escapeHtmlAttr(__('Cancel')) ?>">
                <span><?= $block->escapeHtml(__('Cancel')) ?></span>
            </a>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */
    $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */
    $this->helper(Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */
    $this->helper(Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }


</script>
<script>
    require([
        'jquery'
    ], function ($) {
        var customerPhoneNumber = $("#telephone");
        customerPhoneNumber.addClass("required");
        customerPhoneNumber.keyup(function () {
            if (
                ($(this).val().length > 0) && ($(this).val().substr(0, 4) != '+967')
                || ($(this).val() == '')
            ) {
                $(this).val('+967');
            }
        });
        $('.save').on('click', function () {
            if (customerPhoneNumber.val() == "+967") {
                customerPhoneNumber.val('');
            }
            var regex = /^[0-9]+$/;
            if (!customerPhoneNumber.val().substr(5).match(regex)) {
                customerPhoneNumber.val('');
            }
        });
        $.fn.putCursorAtEnd = function () {
            return this.each(function () {
                var $el = $(this),
                    el = this;
                if (el.setSelectionRange) {
                    var len = $el.val().length * 2;
                    setTimeout(function () {
                        el.setSelectionRange(len, len);
                    }, 1);

                } else {
                    $el.val($el.val());

                }
                this.scrollTop = 999999;

            });

        };
        customerPhoneNumber.putCursorAtEnd().on("click", function () { // could be on any event
            customerPhoneNumber.putCursorAtEnd()
        });
        customerPhoneNumber.on("focus", function () {
            if (customerPhoneNumber.val() == "") {
                customerPhoneNumber.val("+967");
            }
        });
        customerPhoneNumber.putCursorAtEnd().on("focus", function () { // could be on any event
            customerPhoneNumber.putCursorAtEnd()
        });
    });
</script>
