<?php
/**
 * @copyright Copyright (c) 2016 www.tigren.com
 */

$position = $block->getScopeConfig('socialshare/position/position');
if ($position == 'sidebar') {
    $enableFacebook = $block->getScopeConfig('socialshare/facebook/enable_facebook');
    $enableTwitter = $block->getScopeConfig('socialshare/twitter/enable_twitter');
    $enablePinit = $block->getScopeConfig('socialshare/pinitsharing/enable_pinit');
    ?>
    <div id="tigren-social" class="pos-<?php echo $position; ?>">
        <div class="share-button-list">
            <?php
            if ($enableFacebook == 1):
                echo $block->getFacebookButton();
            endif;

            if ($enableTwitter == 1):
                echo $block->getTwitterButton();
            endif;

            if ($enablePinit == 1):
                echo $block->getPinItButton();
            endif;
            ?>
        </div>
    </div>
<?php } ?>
