.cr-steps-container{

}
.cr-step-title{font-size: 21px; margin-bottom: 16px;}
.cr-step{display: none;}
.cr-step-active{display: block;}
.cr-step .cr-step-content{}
.cr-step .cr-step-content .field.field-vendor_city{
    width: 48%;
    display: inline-block;
    margin-right: 4%;
}
.cr-step .cr-step-content:after{display: table; content: ""; clear: both;}
.cr-step-content-col1, .cr-step-content-col2{width: calc(50% - 10px); float: left;}
.cr-step-content-col1{margin-right: 10px;}
.cr-step-content-col2{margin-left: 10px;}

.cr-confirm{display: none; margin-bottom: 30px;}
.cr-confirm.complete{display: block;}
.cr-confirm.complete input ~ label {font-size: 12px !important;}

.cr-nav-container{
    padding: 75px 0;
    z-index: 10;
    position: relative;
    clear: both;
}
.cr-nav-container .cr-nav-1cols{display: none;}
.cr-nav-3cols .cr-nav-step{width: 33.33%;}
.cr-nav-4cols .cr-nav-step{width: 24.99%;}
.cr-nav-5cols .cr-nav-step{width: 19.99%;}
.cr-nav-6cols .cr-nav-step{width: 16.66%;}
.cr-nav{display: block; list-style: none; padding: 0; margin: 0;}
.cr-nav:after{display: table; content:""; clear: both;}
.cr-nav-step{display: block; float: left; width: 300px; text-align: center; position: relative; height: 80px;}
.cr-nav-step:after, .cr-nav-step:before{
    display: block;
    width: 100%;
    height: 6px;
    background: #C4C4C4;
    content: "";
    position: absolute;
    top: 27px;
    /* margin-top: -4px; */
    transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}
.cr-nav-step:before{left: 0;}
.cr-nav-step:after{right: 0;}
.cr-nav-step.current:after{background: #C4C4C4; width: 50%}
.cr-nav-step.current:last-child:after{background: #FF0000; width: 50%}
.cr-nav-step.current:before{background: #FF0000; border-color: #FF0000; width: 100%}
.cr-nav-step.complete:after{background: #30F1BA; width: 50%}
.cr-nav-step.complete + .cr-nav-step.current:before{background: #FF0000; width: 100%; left: -50%}
.cr-nav-step.complete:before{background: #30F1BA; border-color: #FF0000; width: 50%}
.cr-nav-step-title{position: absolute; left: 0; right: 0; bottom: 0;font-size: 14px; font-weight: 300;}
.cr-nav-step-number{
    border: 9px solid #C4C4C4;
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 36px;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    color: #666;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -27px;
    font-size: 21px;
    transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}
.cr-nav-step.current .cr-nav-step-number{background: #fff; border-color: #FF0000; color: #000000;}
.cr-nav-step.complete .cr-nav-step-number{background: #fff; border-color: #30F1BA; color: #000000;}
.cr-nav-step.complete .cr-nav-step-number{cursor: pointer;}
.cr-nav-step.complete .cr-nav-step-number:hover{color: #000000;}

.cr-container .actions-toolbar{text-align: center;}
.cr-container .actions-toolbar .cr-next-btn,
.cr-container .actions-toolbar .cr-submit-btn,
.cr-container .actions-toolbar .cr-previous-btn{display: inline-block; float: none; width: 190px; padding: 13px 0; margin-bottom: 10px;}
#vendor-registration-agreement {
    /*position: static;*/
}
@media screen and (min-width: 769px) {
    .cr-nav-container{
        padding: 95px 0;
    }
}
@media screen and (max-width: 900px) {
    .cr-nav-6cols .cr-nav-step-title{display: none;}
    .cr-nav-6cols .cr-nav-step.current .cr-nav-step-title{display: block; white-space: nowrap;}
    .cr-nav-6cols .cr-nav-step-6.current .cr-nav-step-title,
    .cr-nav-6cols .cr-nav-step-5.current .cr-nav-step-title,
    .cr-nav-6cols .cr-nav-step-4.current .cr-nav-step-title{left: auto;}
}

@media screen and (max-width: 710px) {
    .cr-nav-5cols .cr-nav-step-title{display: none;}
    .cr-nav-5cols .cr-nav-step.current .cr-nav-step-title{display: block; white-space: nowrap;}
    .cr-nav-5cols .cr-nav-step-5.current .cr-nav-step-title,
    .cr-nav-5cols .cr-nav-step-4.current .cr-nav-step-title{left: auto;}
}

@media screen and (max-width: 610px) {
    .cr-nav-4cols .cr-nav-step-title{display: none;}
    .cr-nav-4cols .cr-nav-step.current .cr-nav-step-title{display: block;}
    .cr-nav-4cols .cr-nav-step-4.current .cr-nav-step-title,
    .cr-nav-4cols .cr-nav-step-3.current .cr-nav-step-title{left: auto;}
}

@media screen and (max-width: 500px) {
    .cr-step-content-col1, .cr-step-content-col2{width: 100%; float: none; margin: 0; margin-bottom: 20px;}
    .cr-step-content-col2{display: none;}
    .cr-nav-step .cr-nav-step-title{display: none; bottom: -10px; font-size: 11px;}
    .cr-nav-3cols .cr-nav-step-3.current .cr-nav-step-title{
        left: 0;
        transform: translate(0, -50%);
    }
}


@media screen and (max-width: 639px) {
    .cr-nav-container{padding-bottom: 10px;}
    .cr-steps-container{padding-top: 10px;}
}
