// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@block-auth__dropdown__padding: @indent__m;
@block-auth__dropdown__background-color: @color-white;
@block-auth__or-label__size: 36px;
@block-auth__width: 0;
@block-auth__border: 1px solid @color-gray-light3;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .authentication-dropdown {
        box-sizing: border-box;

        .modal-inner-wrap {
            padding: @block-auth__dropdown__padding;
        }
    }

    .authentication-wrapper {
        z-index: 1;
        margin: 0 auto;
        text-align: left;
        position: relative;
        .action.action-auth-toggle {
            position: absolute;
            top: -55px;
            right: 0;
            background: @color-light;
            color: @color-white;
            border: none;
            padding: 5px 10px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        ._has-auth-shown & {
            z-index: @modal__z-index;
        }
        .authentication-dropdown {
            max-width: 400px;
            right: 0;
        }
    }

    .authentication-msg {
        margin-top: 5px!important;
    }

    .not-allow-guest-checkout {
        .authentication-wrapper {
            max-width: 400px;
            position: relative;
            .action.action-auth-toggle {
                display: none;
            }
            .authentication-dropdown {
                max-width: 400px;
                right: 0;
                display: block;
                visibility: visible;
                position: static;
                transform: none;
                padding: 0;
                border: none;
                opacity: 1;
                .modal-header {
                    display: none;
                }
                .modal-inner-wrap {
                    padding: 0;
                    transform: none;
                    background: transparent;
                    box-shadow: none;
                }
            }
            .block-authentication {
                display: block !important;
                .block-customer-login {
                    .fieldset {
                        margin: 0;
                    }
                }
            }
        }
    }

    .action-auth-toggle {
        &:extend(.abs-action-button-as-link all);
    }

    .block-authentication {
        .block-title {
            .lib-font-size(@h3__font-size);
            border-bottom: 0;
            margin-bottom: @indent__m;

            strong {
                font-weight: @font-weight__light;
            }
        }

        .field {
            .label {
                font-weight: @font-weight__bold;
            }
        }

        .actions-toolbar {
            margin-bottom: @indent__xs;

            > .secondary {
                text-align: left;
                float: left;
                width: 100%;
                .action {
                    background: @color-light;
                    color: @color-white;
                    border: none;
                    padding: 7px 10px;
                    font-weight: bold;
                    border-radius: 5px;
                    display: block;
                    margin: 0;
                    text-align: center;
                }
            }
        }

        .action.action-register,
        .action.action-login {
            &:extend(.abs-button-l all);
        }

        .block[class] {
            margin: 0;

            ul {
                list-style: none;
                padding-left: @indent__s;
            }

            .field {
                .control,
                .label {
                    float: none;
                    width: auto;
                }
            }

            & + .block {
                border-top: 1px solid @color-gray-light5;
                margin-top: @indent__xl;
                padding-top: @indent__xl;
                position: relative;

                &:before {
                    .lib-css(height, @block-auth__or-label__size);
                    .lib-css(line-height, @block-auth__or-label__size - 2px);
                    .lib-css(margin, -(@block-auth__or-label__size/2 + 1px) 0 0 -(@block-auth__or-label__size / 2));
                    .lib-css(min-width, @block-auth__or-label__size);
                    background: @color-white;
                    border: 1px solid @color-gray-light5;
                    border-radius: 50%;
                    box-sizing: border-box;
                    color: @color-gray-light5;
                    content: attr(data-label);
                    display: inline-block;
                    left: 50%;
                    letter-spacing: normal;
                    padding: 0 .2rem;
                    position: absolute;
                    text-align: center;
                    text-transform: uppercase;
                    top: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .authentication-wrapper .authentication-dropdown {
        max-width: 100%;
    }
    .block-authentication {
        .actions-toolbar {
            margin-bottom: @indent__xs;
            > .primary {
                text-align: left;
                .action.action-login {
                    display: inline-block;
                    width: auto;
                    padding: 5px 10px;
                    margin-bottom: 0;
                }
                .action.action-remind {
                    display: inline-block;
                    width: auto;
                    padding: 5px 10px;
                }
            }
            > .secondary {
                padding-top: @indent__s;
                .action {
                    display: inline-block;
                    width: auto;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .authentication-dropdown {
        .lib-css(background-color, @block-auth__dropdown__background-color);
        .lib-css(border, @block-auth__border);
        -webkit-transform: scale(1, 0);
        -webkit-transform-origin: 0 0;
        -webkit-transition: -webkit-transform linear .1s, visibility 0s linear .1s;
        position: absolute;
        text-align: left;
        top: 100%;
        transform: scale(1, 0);
        transform-origin: 0 0;
        transition: transform linear .1s, visibility 0s linear .1s;
        visibility: hidden;
        width: 100%;

        &._show {
            .lib-css(z-index, @dropdown-list__z-index);
            -webkit-transform: scale(1, 1);
            -webkit-transition: -webkit-transform linear .1s, visibility 0s linear 0s;
            transform: scale(1, 1);
            transition: transform linear .1s, visibility 0s linear 0s;
            visibility: visible;
        }
    }

    .authentication-wrapper {
    }

    .block-authentication {
        .block-title {
            .lib-font-size(@h2__font-size);
            border-bottom: 0;
            margin-bottom: @indent__m;
        }

        .actions-toolbar {
            > .primary {
                display: inline-block;
                text-align: left;
                margin-right: 0;
                .action {
                    margin-right: 0;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &.action-login {
                        display: inline-block;
                        width: auto;
                    }
                    &.action-remind {
                        display: inline-block;
                        width: auto;
                    }
                }
            }

            > .secondary {
                display: inline-block;
                width: auto;
                margin-top: 20px;
            }
        }
    }

    .popup-authentication {
        .modal-inner-wrap {
            min-width: @screen__m;
            width: 60%;
        }

        .block-authentication {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(row);
            border-top: 1px solid @color-gray-light5;
        }

        .block[class],
        .form-login,
        .fieldset,
        .block-content {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-prefix-flex-grow(1);
        }

        .block[class] {
            box-sizing: border-box;
            float: left;
            padding: @indent__s @indent__l 0 0;
            width: 50%;

            & + .block {
                border-left: 1px solid @color-gray-light5;
                border-top: 0;
                margin: 0;
                padding: @indent__s 0 0 @indent__xl;

                &:before {
                    left: 0;
                    top: 50%;
                }
            }
        }

        .actions-toolbar {
            margin-bottom: 0;
            margin-top: auto;
        }
    }
}
