@order-attributes-form__margin-top: 20px;
@order-attributes-form__margin-bottom: 20px;

& when (@media-common = true) {
    .field {
        .control {
            &._with-tooltip {
                .choice.field {
                    & {
                        .lib-css(width, calc(~'100% -'@checkout-tooltip-icon__font-size + @indent__s + @indent__xs));
                    }

                    input {
                        width: auto;
                    }
                }

                select,
                textarea {
                    .lib-css(margin-right, @indent__s);
                    width: calc(~'100% -'@checkout-tooltip-icon__font-size + @indent__s + @indent__xs);
                }
            }

            select[multiple] {
                height: auto;
                .lib-css(background, @textarea__background);
            }
        }
    }
    tr.order-attributes {
        td {
            .lib-css(padding-left, 0);
            .lib-css(padding-right, 0);
        }
    }

    .order-attributes {
        .order-attributes-form {
            &.fieldset {
                .field {
                    > .label {
                        margin: 0 0 10px;
                        font-size: 1.575rem;
                        font-weight: bold;
                        display: inline-block;
                    }
                    > .control {
                        display: inline-block;
                        padding-left: 25px;
                    }
                    .order-attribute-item {
                        display: inline-block;
                        padding: 0 25px;
                        position: relative;
                    }
                }
            }
            .lib-css(margin-top, @order-attributes-form__margin-top);
            margin-bottom: 0;
            width: 100%;
            display: block;
            clear: both;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .order-attributes {
        .order-attributes-form {
            &.fieldset {
                .field {
                    > .label {
                        margin: 0 0 10px;
                        width: 100%;
                        display: block;
                    }
                    > .control {
                        display: block;
                        padding-left: 0;
                    }
                    .order-attribute-item {
                        display: inline-block;
                        padding: 0 0 10px;
                        width: 49%;
                        position: relative;
                    }
                }
            }
        }
    }
}