<?php
/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsReview\Block\Customer\Account\Notification
 */
?>
<?php $lastReviewLink = $block->getLastReviewLink(); ?>
<?php if ($lastReviewLink): ?>
    <div class="page messages">
        <div class="messages">
            <?php if ($lastReviewLink->getOrderItem() && false): ?>
                <div class="message-success success message" data-ui-id="message-success">
                    <div><?php echo __('Thank you for your purchasing the product <strong>%1</strong>. <a href="%2">Click here</a> to leave a review for the seller',
                            $lastReviewLink->getOrderItem()->getName(),
                            $block->getReviewLinkUrl($lastReviewLink->getVendorId(), $lastReviewLink->getOrderItemId())) ?></div>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>