/**
 * @copyright Copyright (c) 2018 www.tigren.com
 */
//
//  Variables
//  ---------------------------------------------
@import 'module/_variables.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    #mb-ajaxsuite-blank {
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background-color: #000000;
        position: fixed;
        top: 0;
        z-index: 1000;
        display: none;
        left: 0;
    }
    .mb-ajaxsuite-popup-wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        display: none;
        position: fixed;
        background: white;
        z-index: 1002;
        a.mb-ajaxsuite-close {
            width: 24px;
            height: 24px;
            background: transparent url('@{baseDir}Tigren_Ajaxsuite/images/close-popup.png') top left no-repeat;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 1;
            cursor: pointer;
            z-index: 1000;
        }
        .mb-ajaxsuite-popup-border {
            padding-top: 15px;
            padding-bottom: 15px;
            &.mb-ajaxlogin-message-error {
                padding: 15px;
            }
        }
        .mb-inline {
            display: inline-block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .mb-ajaxsuite-popup-border {
        max-width: 720px;
        min-width: 500px;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .mb-ajaxsuite-popup-wrapper{
        width: 500px;
        max-width: 96%;
        max-height: 96%;
        overflow-y: auto;
    }
}