<?php
// @codingStandardsIgnoreFile
?>
<?php
/**
 * @var $block \Swissup\Highlight\Block\Product\Abstract
 */
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $title = $block->getTitle();
    $items = $block->getProductCollection()->getItems();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $reviewType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
}
?>

<?php if ($exist):?>
    <div class="block widget block-highlight highlight-list <?php /* @escapeNotVerified */ echo $block->getCssClass(); ?>">
        <?php if ($title): ?>
            <div class="block-title">
                <strong role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo $title; ?></strong>
            </div>
        <?php endif; ?>
        <div class="block-content">
            <ol class="product-items">
                <?php $iterator = 1; ?>
                <?php foreach ($items as $_item): ?>
                    <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                    <div class="product-item-info">
                        <a class="product-item-photo" href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>"
                           title="<?php /* @escapeNotVerified */ echo $block->stripTags($_item->getName(), null, true) ?>">
                            <?php echo $block->getImage($_item, 'side_column_widget_product_thumbnail')->toHtml(); ?>
                        </a>
                        <div class="product-item-details">
                            <strong class="product-item-name">
                                <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                   class="product-item-link">
                                    <?php echo $block->escapeHtml($_item->getName()) ?>
                                </a>
                            </strong>

                            <?php echo $block->getReviewsSummaryHtml($_item, $reviewType) ?>
                            <?php echo $block->getProductPriceHtml($_item, $this->getPriceSuffix()); ?>

                            <div class="product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_item->isSaleable()): ?>
                                        <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                            <button type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>"
                                                    class="action tocart primary" disabled
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                            </button>
                                        <?php else: ?>
                                            <?php
                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
                                        ?>
                                            <button type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>"
                                                    class="action tocart primary" disabled
                                                    data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'>
                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                            </button>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <?php if ($_item->getIsSalable()): ?>
                                            <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('In stock') ?></span>
                                            </div>
                                        <?php else: ?>
                                            <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('Availability') ?>">
                                                <span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                <?php endforeach ?>
            </ol>
            <?php echo $block->getPagerHtml() ?>

            <?php if ($block->getShowPageLink()) : ?>
                <div class="actions-toolbar">
                    <a class="action view"
                        href="<?= $block->escapeHtml($block->getPageUrl()) ?>"
                        title="<?= $block->escapeHtml($block->getPageLinkTitle()) ?>"
                        ><span><?= $block->escapeHtml($block->getPageLinkTitle()) ?></span></a>
                </div>
            <?php endif ?>
        </div>
    </div>
<?php endif;?>
