<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login">
    <div class="block-title">
        <h3><?= $block->escapeHtml(__('Seller Login')) ?></h3>
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Sign In To Your Seller Account')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form autocomplete="off" class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login">
                <div class="field note signup-note"><?php /* @escapeNotVerified */ echo __("Don't have a seller account? <a href='%1'>Sign Up</a>",
                        $block->escapeUrl($block->getUrl('marketplace/seller/register/'))) ?></div>
                <?php if($block->isUsedCustomVendorUrl()):?>
                    <p><?php echo __("If you have a seller account already, please login to manage your store.")?></p>
                    <div class="actions-toolbar">
                        <div class="primary"><a href="<?php echo $block->getLoginUrl()?>" class="action create primary"><span><?php echo __("Login to Seller Panel")?></span></a></div>
                        <div class="secondary"><a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></div>
                    </div>
                <?php else:?>
                    <div class="field email required">
                        <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                        <div class="control">
                            <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                        <label for="pass" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
                        <div class="control">
                            <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}">
                            <span id="toggle-pass" class="toggle-pass"><?= $block->escapeHtml(__('Show/Hide Password')) ?></span>
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('form_additional_info'); ?>
                    <div class="actions-toolbar">
                        <div class="secondary"><a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></div>
                        <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Sign In') ?></span></button></div>
                    </div>
                <?php endif;?>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($, alert) {
        $(document).ready(function () {
            $("#toggle-pass").click(function () {
                if(!$(this).hasClass('show')) {
                    $(this).removeClass('hide');
                    $(this).addClass('show');
                    $("#pass").attr('type','text');
                } else {
                    $(this).addClass('hide');
                    $(this).removeClass('show');
                    $("#pass").attr('type','password');
                }
            });
        });
    });
</script>