<fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */
echo __('* Required Fields') ?>">
    <legend class="legend">
        <span>
            <?php /* @escapeNotVerified */
            echo __('Additional Information') ?>
        </span>
    </legend>
    <div class="field my_attribute required">
        <label for="mobilenumber" class="label"><span><?php /* @escapeNotVerified */
                echo __('Mobile Number') ?></span></label>
        <div class="control">
            <input type="text" name="mobilenumber" id="mobilenumber" title="<?php /* @escapeNotVerified */
            echo __('mobilenumber') ?>" class="input-text" data-validate="{required:true}" autocomplete="off"
                   placeholder="Mobile Number">
        </div>
    </div>
</fieldset>
  