// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
            text-align: center;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);

            .main.actions{
                .continue,
                .action.update{
                    span{
                        &:before{
                            margin-right: 5px;
                            content: "\f060";
                            font-family: 'FontAwesome';
                            font-size: 11px;
                        }
                    }
                }

                .action.update{
                    background: @color-white;
                    border:solid 1px @color-black;
                    color:@color-black;
                    line-height: 27px;

                    &:hover,
                    &:focus,
                    &:active{
                        background: @color-black;
                        border:solid 1px @color-black;
                        color:@color-white;
                    }

                    span{
                        &:before {
                            content: "\f01e";
                        }
                    }
                }
            }
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        #block-shipping{
            display: none;
        }

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;

                &.note {
                    display: none;
                }
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
                font-size: 16px;
                text-transform: uppercase;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);

        .action {
            &.multicheckout {
                color: @color-blue2;
            }
        }
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);

        padding: 20px 30px!important;
        background: @color-f5;
        border: solid 1px @color-gray82;
        tbody,
        tfoot {
            .mark {
                text-align: left;
                font-weight: @font-weight__bold;
                .lib-font-size(16);
            }
        }

        .discount.coupon {
            display: none;
        }
        .data.table.totals {
            .totals.shipping {
                .label {
                    &:after{
                        font-size: 12px;
                        line-height: 20px;
                        content: '\e622';
                        font-family: 'luma-icons';
                        vertical-align: top;
                        display: inline-block;
                        font-weight: normal;
                        overflow: hidden;
                        speak: none;
                        text-align: center;
                        margin-left: 5px;
                        color: @color-links3;
                    }

                    &.expanded {
                        &:after{
                            content:'\e621';
                        }
                    }
                }
                .cart-totals-shipping-excl-value {
                    display: none;
                    font-weight: normal;
                    .warehouse-method,
                    .vendor-method {
                        font-weight: bold;
                        color: #999999;
                    }
                    &.shown {
                        display: block;
                    }
                }
            }
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        padding: 15px;
                        background: #f5f5f5;
                        text-transform: uppercase;
                        .lib-font-size(14);

                        &:not(.item){
                            text-align: center;
                        }

                        &.item{
                            span{
                                margin-left: 190px;
                            }
                        }

                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: @cart-item-cell-padding-top 11px @indent__s;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 35px;
                        /* margin-top: -7px; */
                        text-align: center;
                        width: 45px;
                        box-shadow: none;
                        line-height: 35px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(16);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .cart-item {
                border-bottom: solid 1px @color-gray82;

                .col{
                    .item {
                        display: block;
                        min-height: 75px;
                        padding: 15px @mobile-cart-padding @indent__s 90px;
                        position: relative;
                    }
                }
            }

            .actions-toolbar {
                > .action-edit{
                    &:before{
                        content: "\f040";
                        font-family: 'FontAwesome';
                        font-size: 15px;
                        color: @color-black;
                    }

                    span{
                        display: none;
                    }
                }

                > .action-delete {
                    &:before{
                        content: "\f00d";
                        font-family: 'FontAwesome';
                        font-size: 17px;
                        color: @color-gray-light6;
                    }

                    span{
                        display: none;
                    }
                }

                .action-towishlist, .gift-options-cart-item{
                    display: none;
                }
            }

            .action {
                margin: 0 10px;

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;

                    .product-image-container{
                        border:solid 1px @color-gray82;
                    }
                }

                &-item-name {
                    .lib-font-size(16);
                    display: block;
                    margin: -3px 0 @indent__xs;
                    font-weight: @font-weight__bold;

                    a{
                        color:@color-name;
                    }
                }
                &-item-details {
                    .action-delete, .action-edit {
                        display: none;
                    }
                    .gift-options-cart-item{
                        display: block;
                        margin: 0 0 5px;
                        clear: both;
                        .action.action-gift {
                            color: @color-black;
                            margin: 0;
                            &:after {
                                color: @color-black;
                            }
                        }
                        .gift-content {
                            margin: 10px 0 0;
                        }
                        .action.action-update {
                            margin: 0;
                        }
                    }
                    .action-towishlist {
                        display: block;
                        margin: 0;
                        clear: both;
                    }
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: 5px;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        overflow: hidden;
        &:extend(.abs-discount-block all);

        .block {
            .title {
                margin-bottom: 15px;

                strong{
                    .lib-font-size(18);
                    color:@primary__color;
                    text-transform: capitalize;
                }
            }
        }

        .fieldset{
            .field{
                display: block;
            }

            .actions-toolbar{
                display: block;
                width: 100%;

                .primary{
                    float:left;
                    border-radius: 5px;
                    font-weight: bold;
                    border: none;
                    line-height: 21px;
                    &:hover,
                    &:focus,
                    &:active{
                        border: none;
                    }
                }
            }
        }

    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
        text-align: center;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper,
    .invoice.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //  Cart container
    .cart-container {
        display: flex;
        flex-wrap: wrap;

        .form-cart {
            width: 100%;
            order: -1;

            .actions.main {
                text-align: center;
                overflow: hidden;
                padding: 0 15px;
            }
        }

        .cart-summary{
            width: 100%;
            padding: 0 15px;
        }
    }

    .cart-discount {
        border-bottom:none;
    }

    .group-vendor-item {
        .group-vendor-name {
            padding: 0 10px;
        }
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            tbody,
            tbody tr,
            tbody tr td{
                display: block;
            }

            tr.cart-item{
                position: relative;
                padding-left: 95px;

                .item-actions{
                    position: absolute;
                    top: 15px;
                    left: 0;
                    height: 68px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                }


            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    display: block;
                    white-space: nowrap;
                    text-align: left;
                    padding: 5px 8px;

                    &[data-th]:before {
                        content: attr(data-th);
                        display: inline-block;
                        font-weight: @font-weight__semibold;
                        vertical-align: middle;
                        margin-right: 10px;
                    }

                    >span,
                    >div{
                        display: inline-block!important;
                        vertical-align: middle;
                    }
                }

                &.msrp {
                    white-space: normal;
                }

                &.item{
                    width: 100%;
                    overflow: hidden;
                }
            }

            tbody > tr > td:last-child {
                border: 0;
            }

            .product-item-photo{
                position: absolute;
                top: 15px;
                left: 30px;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            overflow: hidden;
            .product-item-info {
                text-align: center;
                .product-item-name {
                    text-align: left;
                }
            }
        }
    }

    .group-vendor-item {
        .group-vendor-name {
            a {
                clear: both;
                color: #5942d2;
                font-size: 18px;
                overflow: hidden;
                text-transform: uppercase;
                font-weight: bold;
                display: block;
            }
            h2 {
                font-weight: 500;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
            padding-bottom: 40px;
            .column.main {
                padding-bottom: 0;
            }
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
            .page-title{
                .lib-font-size(40);
                margin: 30px auto;
            }
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .actions.main {
                text-align: right;

                .continue{
                    float:left;
                }

            }
        }

        .widget {
            float: left;
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 1px @indent__base @indent__m;
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            &.shipping{

                #block-summary{
                    display: block!important;
                }

                > .title {
                    margin-bottom: 15px;

                    strong {
                        .lib-font-size(18);
                        color: @primary__color;
                        text-transform: capitalize;
                        font-weight: @font-weight__regular;
                    }
                }
            }

            > .title {
                padding-left: 0;
                border:none;

                &:after {
                    display: none;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .cart-item {
                .col {
                    padding: 20px 10px;
                    vertical-align: middle;

                    &:not(.item) {
                        text-align: center;
                    }

                    &.item {
                        .item-actions{
                            display: table-cell;
                            vertical-align: middle;
                            padding-right: 20px;

                            .actions-toolbar{
                                width: 70px;
                                text-align: center;
                            }
                        }

                        padding: @cart-item-cell-padding-top 8px @indent__base 0;
                    }
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: middle;
                    width: 1%;
                }

                &-item-details {
                    padding-bottom: 35px;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: middle;
                    white-space: normal;
                    width: 99%;
                    padding: 0 0 0 20px;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);

        .block {
            width: 100%;
            .title {
                margin-bottom: 15px;
                &:after {
                    display: none;
                }

                strong{
                    .lib-font-size(18);
                    color:@primary__color;
                    text-transform: capitalize;
                }
            }

            .content{
                display: block!important;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            width: 100%;
            padding: 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}
