<?php /** @var \Tigren\Vendors\Helper\Data $helper */ $helper = $this->helper('Tigren\Vendors\Helper\Data'); $vendorHour = $helper->getOperationTime($helper->getVendorId()); ?> <div class="block-content" data-role="product-vendor-profile" data-bind="scope: 'product-vendor-profile'"><?php if ($block->canShowVendorShortDescription()): ?> <span class="vendor-headline"><?php echo $block->escapeHtml($block->getStoreDescription()) ?></span> <?php endif; ?> <div class="vendor-info"><span class="vendor-location"><?php echo $block->escapeHtml($block->getAddress());?></span> <span class="vendor-sales-count" data-bind="html: salesCount"></span> <span class="vendor-joined-date"><?php echo __("Joined since %1", $block->escapeHtml($block->getJoinedDate())) ?></span> <?php if ($block->canShowVendorPhone()): ?> <?php if ($block->getVendor()->getTelephone()): ?> <span class="vendor-phone"><?php echo $block->escapeHtml($block->getVendor()->getTelephone()); ?></span> <?php endif; ?> <?php endif; ?> <?php if ($vendorHour && $block->canShowVendorOperationTime()): ?> <span class="vendor-operation-time"><?php echo $block->escapeHtml($vendorHour); ?></span> <?php endif; ?></div><!-- ko if: showMoreOffer --><div class="other-sellers-section"><h3 class="other-sellers-title"><?= $block->escapeHtml(__('Other Sellers')) ?></h3><p><a href="#other-sellers-comparison" data-bind="html: moreOfferTitle"></a></p></div><!-- /ko --></div><script type="text/x-magento-init">
{
    "[data-role=product-vendor-profile]": {
        "Magento_Ui/js/core/app": <?= /* @noEscape */
    $block->getJsLayout() ?>
    }
}</script>