<div class="tigren-bannermanager random">
    <?php
    $htmlId = $block->getBannerItemHtmlId();
    $bannerCollection = $block->getBannerCollection();
    ?>
    <div class="tigren-bannermanager-slider">
        <div id="<?php echo $htmlId ?>" class="flexslider flexslider-content-image <?php echo $htmlId ?>"
             style="margin:auto">
            <ul class="slides">
                <?php foreach ($bannerCollection as $banner): ?>
                    <li class="random">
                        <a href="<?= $banner->getBannerUrl() ?>"
                           <?php echo $banner->getTarget() ? 'target="_blank" ' : ''; ?>style="display:block;" title="<?= $banner->getBannerTitle() ?>">
                            <img alt="<?= $banner->getBannerTitle() ?>"
                                 src="<?= $block->getBannerImageUrl($banner) ?>"
                                 title="<?= $banner->getDescription() ?>"/>
                        </a>
                        <?php if ($banner->getDescription()) : ?>
                            <p class="flex-caption"><?php echo $banner->getDescription() ?></p>
                        <?php endif; ?>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>