@abs-product-options-list: {
    dt {
        clear: right;
        float: right;
    }

    dd {
        float: right;
    }
};

@abs-blocks-2columns: {
    width: 48%;

    &:nth-child(1) {
        clear: right;
        float: right;
    }

    &:nth-child(2) {
        float: left;

        & + * {
            clear: both;
        }
    }
};
#vendor_telephone{
    direction: ltr;
    text-align: right;
}
#telephone{
    direction: ltr;
    text-align: right;
}
input[name='telephone']{
    direction: ltr;
    text-align: right;
}
#mobilenumber{
    direction: ltr;
    text-align: right;
}
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel]{
    direction: ltr !important;
    text-align: right !important;
    font-family: 'Arial', sans-serif;
}
& when (@media-common = true) {
    .iti-flag{
        margin-right: 40% !important;
    }
    .abs-account-blocks {
        .block-title {

            > .action {
                margin-left: 0px;
                margin-right: 15px;
                float: left;
            }
        }


    }
    .copyright {
        text-align: right;
        ul {
            li {
                padding-right: 0;
                padding-left: @indent__base;
            }
        }
    }
    .cms-noroute-index dd {
        margin: 0 !important;
    }
    .fields.name-fields {
        float: left;
        width: 100%;
        .field-name-firstname {
            float: right;
            width: 48%;
        }
        .field-name-lastname {
            float: left;
            width: 48%;
        }
    }

    input[type=radio] {
        margin: 2px 0 0 5px;
        box-shadow: none!important;
    }

    input[type=checkbox] {
        margin: 2px 0 0 5px;
        position: relative;
        top: 2px;
    }

    body{
        direction: rtl;
    }

    a[href^="tel:"] {
        font-family: 'Arial', sans-serif;
    }

    .logo{
        float:right;
        margin-top: 0;
        margin-bottom: 0;
    }

    .header.content .switcher-language {
        float: left;
    }

    .opc-block-summary .product-item .price,
    .opc-block-summary .product-item .product-item-name-block .secondary .details-qty {
        text-align: right;
    }

    .customer-account-create, .customer-account-login {
        .page-header {
            .header.content {
                .switcher-language {
                    float: left;
                    margin-left: 0;
                }
            }
        }
    }
    .block-search {
        .action.search {
            right: auto;
            left: 5px;
        }
    }


    .cart-container .form-cart .main.actions .continue span:before, .cart-container .form-cart .main.actions .action.update span:before {
        margin-left: 5px;
        margin-right: auto;
    }
    .cart-container .form-cart .main.actions .continue span:before {
        content: "\f061";
    }
    .data.table.totals {
        .totals.discount {
            th {
                direction: ltr;
            }
        }
    }
    .invoice.table-wrapper,
    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }

    .product.info.detailed .product.data.items #reviews .review-total .rating-summary-details .ratings-table .rating-bar .rating {
        left: auto;
        right: 0;
    }

    .review-date {
        padding-left: 0;
        padding-right: 15px;
        &:before {
            
        }
    }

    .products-list .product-item-photo:before {
        right: auto;
        left: 0;
    }

    .checkout-index-index .page-header .header.content .logo {
        margin-right: 0;
    }

    .sorter {
        float: left !important;
    }

    .minicart-wrapper{
        float:left;

        .action.showcart {
            .counter-label{
                text-align: right;
                padding-left: 0;
                padding-right: 20px;
            }

            .counter.qty{
                right: -5px;
            }
        }
    }

    .page-header{
        .block-search {
            input{
                border-radius: 10px 0 0 10px;
                -webkit-border-radius: 10px 0 0 10px;
                -moz-border-radius: 10px 0 0 10px;
            }

            .select-filter {
                span{
                    border-radius: 0 10px 10px 0;
                    -webkit-border-radius: 0 10px 10px 0;
                    -moz-border-radius: 0 10px 10px 0;

                    &:after{
                        margin-left: 0;
                        margin-right: 20px;
                    }
                }

                ul{
                    right: 0;
                    left: auto;

                    li a{
                        text-align: right;
                    }
                }
            }
        }
    }

    .opc-progress-bar-item._active:after {
        left: 0;
        right: auto;
    }

    .opc-progress-bar-item._active:before {
        right: 0;
    }

    .header{
        &.content {
            .switcher-language{
                margin-left: 20px!important;
                margin-right: 0;

                .options ul.dropdown{
                    left:0px;
                }
            }
        }
    }

    .nav-toggle{
        left:auto;
        right: 15px;
    }

    .home-list-producsts{
        .box-title,
        .block-title{
            strong{
                float: right;
            }
        }

        .box-title{
            a{
                float: left;
                padding: 5px 0 5px 15px;
                margin: 10px 0 0;
                &:after{
                    left: 0;
                    right: auto;
                    top: 50%;
                    content: "\f053";
                }
            }

            .box-links{
                float: left;
            }
        }
    }

    .home-cat-banners ul li a span{
        right: 3%;
        left: auto;
    }

    .block.newsletter {
        .action.subscribe{
            border-radius: 21px 0 0 21px;
            -webkit-border-radius: 21px 0 0 21px;
            -moz-border-radius: 21px 0 0 21px;
        }

        input{
            border-radius: 0px 21px 21px 0px;
            -webkit-border-radius: 0px 21px 21px 0px;
            -moz-border-radius: 0px 21px 21px 0px;
        }
    }

    .owl-carousel {
        .owl-stage{
        }

        .owl-dots{
            direction: ltr;
        }
    }

    .owl-carousel .owl-nav div.owl-prev {
        right: 5px;
        left: auto;
    }

    .owl-carousel .owl-nav div.owl-prev:before {
        content: "\f054";
    }

    .owl-carousel .owl-nav div.owl-next {
        left: 5px;
        right: auto;
    }

    .owl-carousel .owl-nav div.owl-next:before {
        content: "\f053";
    }

    .breadcrumbs .item:not(:last-child):after,
    .pages .action.next:before,
    .pages .action.previous:before{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
    }

    .filter-options-content .item:nth-child(5n) .swatch-option{
    }

    .product-info-main .product-reviews-summary{
        display: inline-block;
        float: none;
    }

    .bundle-options-container {
        .product-options-wrapper {
            .field.choice {
                input {
                    float: right;
                }
            }
        }
    }

    .product-info-main,
    .customer-review{
        .rating-summary{
            margin-left: 30px;
            margin-right: 0;
        }
    }

    .product-info-top .product.sku {
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        border-right: solid 1px #f4f4f4;
        border-left: 0;
        display: inline-block;
        float: none;
    }

    .quickview-catalog-product-view .product-info-top .product.sku {
        margin: 0 0 0 20px;
        padding: 0 0 0 20px;
        border-left: solid 1px #f4f4f4;
    }

    .box-tocart .action.tocart {
        margin-right: 0 !important;
    }

    .swatch-option-tooltip .corner, .swatch-option-tooltip-layered .corner {
    }

    .swatch-option-tooltip .corner, .swatch-option-tooltip-layered .corner {

    }

    .swatch-option{
        float: left;
    }

    .swatch-option.text {
        margin-left: 10px !important;
        margin-right: 0 !important;
    }

    .product.info.detailed .product.data.items > .item.content,
    table th{
        text-align: right;
    }

    .addthis-smartlayers {
        .atss-left {
            right: 0!important;
            left: auto!important;
        }
        .atss-right {
            left: 0!important;
            right: auto!important;
        }
    }

    .table-wrapper.comparison {
        .table-comparison {
            .cell {
                &.label {
                    border-left: @table__border-width @table__border-style @table__border-color;
                    border-right: none;
                }
                .product-info-wrap {
                    .product-item-actions {
                        left: auto;
                        right: 15px;
                    }
                }
            }
            td:last-child {
                border-left: @table__border-width @table__border-style @table__border-color;
                border-right: none;
            }
        }
    }

    .swatch-input {
        right: -1000px;
        left: auto;
    }
    .swatch-attribute-options{
        .swatch-option{
            float: right;
        }
    }

    .swatch-option-tooltip,
    .swatch-option-tooltip-layered{
        .corner{
            margin-left: -15px;
            &:after{
                right: -15px;
                left: auto;
            }
        }
    }

    .minicart-wrapper .block-minicart{
        left: 0;
        right: auto;

        &:before{
            left: 50px;
            right: auto;
        }

        .item-qty:after{
            display: inline-block;
        }

        .minicart-items-wrapper{
            padding-right: 0px;
            margin-right: 0px;
            padding-left: 30px;
            margin-left: -30px;
        }
    }

    .abs-sidebar-totals {

        tbody,
        tfoot {

            .mark{
                text-align: right;
            }

            .amount {
                padding: 12px 14px 12px 0px;
                text-align: left;
            }
        }

    }

    .field-tooltip{
        left: 0;
        right: auto;
    }

    .minicart-items{
        .product{
            > .product-item-photo,
            > .product-image-container{
                float: right;
            }
        }

        .product-item-details {
            text-align: right;
            padding-left: 0;
            padding-right: 88px;

            .details-qty{
                .label{
                    display: inline-block;
                }
            }
        }

        .product-item-name{
            padding-right: 0;
            padding-left: 10px;
        }

        .action.delete{
            right:auto;
            left:0;
        }
    }
    .block-authentication {
        .block-customer-login {
            .fieldset {
                margin: 0;
                .field {
                    text-align: right;
                }
            }
            .actions-toolbar {
                > .primary {
                    text-align: right;
                }
                > .secondary {
                    float: right;
                    text-align: right;
                }
            }
        }
    }
    .field[name='shippingAddress.firstname'], .field[name='billingAddresscheckmo.firstname'],
    .field[name='billingAddresscashondelivery.firstname'], .field[name='billingAddressbankdeposits.firstname'],
    .field[name='billingAddress.firstname'] {
        width: 49%;
        display: inline-block;
        margin-right: 0 !important;
        margin-left: 2% !important;
    }
    .field[name='shippingAddress.lastname'], .field[name='billingAddresscheckmo.lastname'],
    .field[name='billingAddresscashondelivery.lastname'], .field[name='billingAddressbankdeposits.lastname'],
    .field[name='billingAddress.lastname']
    {
        width: 49% !important;
        display: inline-block !important;
    }
    .opc-block-summary {
        .product-item {
            .product-item-name-block{
                text-align: right;
                padding-left: 5px;
                padding-right: 0;
            }

            .subtotal{
                text-align: left;
            }
        }

    }

    .opc-block-shipping-information .shipping-information-title .action-edit{
        right: auto;
        left: 0;
    }

    .opc-summary-wrapper.modal-custom .action-close,
    .opc-summary-wrapper.modal-popup .action-close,
    .opc-summary-wrapper.modal-slide .action-close {
        left: auto !important;
        right: 0 !important;
    }


    .magento-rma-returns-returns,
    .magento-rma-guest-returns,
    .magento-rma-returns-view,
    .account .page-main{
        .page-title-wrapper {
            .page-title {
                margin-right: 0;
                margin-left: 25px;
            }
        }
    }

    .message{
        &.success,
        &.info,
        &.error,
        &.notice,
        &.warning{
            padding:12px 45px 12px 20px;

            > *:first-child:before{
                right: 0;
                left:auto;
            }
        }
    }

    .share-button-list li:not(:last-child){
        margin-right: 0;
        margin-left: 10px;
    }

    .opc-estimated-wrapper{
        .estimated-block{
            float:right;
        }
    }

    .item-options{
        .values{
            margin-right: 0;
        }
    }

    .minicart-items .product .toggle{
        padding: 0 0 5px 40px;
    }

    .minicart-items .product .active > .toggle:after {
        margin:0 5px 0 0;
    }

    .tigren-bannermanager-slider{
        direction: ltr;
    }

    .ie10,
    .ie11{
        .product-item {
            .actions-secondary{
                a.tocompare{
                    float: left;
                }
            }
        }
    }

    .flexslider{
        overflow: hidden;
    }
    #social-login .social-login-btn span, .social-login .social-login-btn span {
        padding-right: 25px;
        color: #fff;
        position: relative;
    }
    #social-login .social-login-btn span:before, .social-login .social-login-btn span:before {
        right: 0;
        left: auto;
    }
    .search-autocomplete {
        left: 0 !important;
        right: auto !important;
    }
    .filter-title strong {
        right: 0 !important;
        left: auto !important;
    }
    .filter-current .item {
        padding-left: 0 !important;
        padding-right: 20px !important;
    }
    .filter-current .action.remove {
        left: auto !important;
        right: 4px !important;
    }
    body.catalog-product-compare-index .action.print {
        float: left !important;
    }
    .block-collapsible-nav .item a, .block-collapsible-nav .item > strong {
        border-left: none !important;
        border-right: 3px solid transparent;
    }
    .swatch-option-tooltip .corner, .swatch-option-tooltip-layered .corner {
    }
    .swatch-option-tooltip .corner:after, .swatch-option-tooltip-layered .corner:after {
        right: -15px !important;
        left: auto !important;
    }
    .table-comparison .cell.remove {
        text-align: left !important;
    }
    .page-footer {
        .footer.content {
            .col-links {
                strong {
                    text-align: right;
                }
            }
            .share-buttons {
                li {
                    display: inline-block;
                    padding: 0 0 0 10px;
                }
            }
        }
    }
    .checkout-index-index {
        .page-header {
            .header.content {
                .secure-checkout-label {
                    float: right;
                    font-size: 15px;
                    font-weight: bold;
                    color: #fff;
                    line-height: 45px;
                    padding-right: 25px;
                    position: relative;
                    margin-right: 25px;
                    &:before {
                        background-image: url('@{baseDir}images/i-lock.png');
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        width: 14px;
                        height: 16px;
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -8px;
                    }
                }
            }
        }
        .block.items-in-cart {
            .block-title {
                strong {
                    float: right;
                }
                a {
                    float: left;
                }
            }
        }
    }
    .checkout-index-index .field.location-type .option {
        padding-right: 0 !important;
        padding-left: 20px;
    }
    .product-item .tocompare:before {
        margin: 0 0 0 5px;
    }
    .product-social-links,
    .block-bundle-summary,
    .product-item,
    .table-comparison {
        .action.towishlist {
            text-transform: capitalize;
            &:before{
                content:"\f08a";
                font-family: 'FontAwesome';
                .lib-font-size(13);
                margin: 0 0 0 5px;
            }
        }
    }
    .cart.table-wrapper,
    .invoice.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }
    // Vendor Landing Page
    .vendor-profile-container {
        .vendor-profile-logo {
            float: right;
        }
        .vendor-profile-description {
            float: left;
            h3.vendor-title {
                text-align: right !important;
            }
            .vendor-headline {
                text-align: right !important;
            }
        }
    }
    .vendor-page .profile-sidebar h3.vendor-title {
        text-align: right !important;
    }
    .vendor-profile-logo {
        text-align: right !important;
    }
    .vendor-menu-wrapper .vendor-menu .block-search-by-vendor {
        margin: 0;
        position: absolute;
        left: 20px;
        right: auto;
    }
    .vendor-review {
        .vendor-review-avatar {
            margin: 0 0 0 10px;
            float: right;
        }
        .vendor-review-product-info, .vendor-review-detail {
            float: right;
        }
    }
    .vendor-menu-wrapper .block-search-by-vendor .action.search {
        right: auto;
        left: 10px;
    }

    .block-search-by-vendor .action.search {
        right: auto !important;
        left: 10px !important;
    }

    .vendor-page.page-layout-2columns-left .sidebar-additional .block.filter.active .filter-title strong {
        left: 0 !important;
        right: auto !important;
    }

    // Vendor Signup Page
    .marketplace-seller-register {
        .page-main {
            .cr-container {
                .actions-toolbar {
                    #cr-next-btn {
                        &.cr-step-2,
                        &.cr-step-3 {
                            float: left;
                        }
                    }
                    #cr-submit-btn {
                        float: left;
                    }
                    #cr-previous-btn {
                        float: right;
                    }
                }
            }
            .cr-steps-container {
                .cr-step-content {
                    .field.field-vendor_city {
                        margin-left: 4%;
                        margin-right: 0;
                    }
                }
            }
            .cr-nav-container {
                .cr-nav {
                    .cr-nav-step {
                        float: right;
                        &:before {
                            right: 0;
                            left: auto;
                        }
                        &:after {
                            left: 0;
                            right: auto;
                        }
                        &.complete {
                            + &.current {
                                &:before {
                                    right: -50%;
                                    left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .marketplace-seller-register .page-main .cr-nav-container .cr-nav .cr-nav-step.complete + .cr-nav-step.current:before {
        right: -50%;
        left: 0;
        width: 100%;
    }
    .marketplace-seller-register .page-main .field .step-selection {
        padding: 0 25px 0 0;
    }
    .marketplace-seller-register .page-main .field .step-selection input[type="radio"] ~ label:before {
        right: 0 !important;
        left: auto !important;
    }
    .marketplace-seller-register .page-main .field .step-selection input[type="radio"]:checked ~ label:before {
        background-position: -183px -6px;
    }
    // Vendor Product view
    .vendor-catalog-product-view .product-info-main .product-info-bottom .product-info-bottom-left {
        border-left: 1px solid #E7E7E7;
        border-right: none !important;
    }
    .marketplace-seller-register .page-main .cr-confirm .field label {
        text-align: right;
    }
    .field-vendor_vendor_id .validate-vendor-id.verifying {
        background-position: 1% center;
    }
    .field.password .control .toggle-pass {
        left: 10px;
        right: auto !important;
    }
    #mb-ajaxwishlist-wrapper .product-add-form .field.qty {
        margin-left: 20px !important;
        margin-right: 0 !important;
    }
    .action.primary.mb-ajaxsuite-close {

    }
    .mb-ajaxsuite-popup-wrapper a.mb-ajaxsuite-close {
        right: auto !important;
        left: 5px !important;
    }
    .vendorspage-index-index .block-search-by-vendor input {
        padding-right: 10px;
        padding-left: 35px;
    }
    .vendor-catalog-product-view .product-info-main .product-info-bottom .product-info-bottom-right .vendor-profile-container .vendor-profile-logo .vendor-title {
        text-align: right !important;
    }
    .vendor-profile-description .vendor-phone:before, .vendor-profile-description .vendor-operation-time:before {
        padding-right: 0 !important;
        padding-left: 10px !important;
    }
    .vendor-profile-description .vendor-sales-count:before,
    .vendor-profile-description .vendor-joined-date:before,
    .vendor-profile-description .vendor-location:before {
        margin-right: 0 !important;
        margin-left: 10px !important;
    }
    .vendor-page.vendorspage-index-index .profile-sidebar .vendor-headline,
    .vendor-page.vendorspage-index-index .profile-sidebar h3.vendor-title {
        text-align: right !important;
    }
    .vendorspage-index-index .vendor-menu.fixed .menu-logo-container {
        right: 0;
        left: auto;
    }
    .vendorspage-index-index .vendor-menu.fixed ul {
        margin-left: 0;
        margin-right: 75px;
    }
    .vendor-catalog-product-view .product-info-main .product-info-top .fulfilled-bazzarry {
        left: 20px !important;
        right: auto !important;
    }
    .vendor-catalog-product-view .product-info-main .product-info-top .fulfilled-bazzarry .fulfilled-desc {
        left: 0 !important;
        right: auto !important;
    }
    .vendor-catalog-product-view .product-info-main .product-info-bottom .product-info-bottom-right .vendor-profile-container .vendor-profile-description .vendor-info > span {

    }
    .vendor-profile-description .vendor-phone:before, .vendor-profile-description .vendor-operation-time:before {
        padding-right: 0 !important;
        padding-left: 10px !important;
    }
    .vendor-profile-description .vendor-sales-count:before, .vendor-profile-description .vendor-joined-date:before, .vendor-profile-description .vendor-location:before {
        margin-right: 0 !important;
        margin-left: 10px !important;
    }
    .vendor-profile-description .vendor-info span {
        margin-right: 0 !important;
        margin-left: 10px !important;
        display: inline-block;
    }
    .vendor-profile-description .vendor-sales-count:before, .vendor-profile-description .vendor-joined-date:before, .vendor-profile-description .vendor-location:before {
        margin-right: 0 !important;
        margin-left: 10px !important;
    }
    .pc_vendor-offers .add_to_cart,
    .pc_vendor-offers .view_product{
        width: 160px !important;
    }
    .pc_vendor-offers .product-item td.view_product{
        text-align: center !important;
    }
    .customer-vnecoms-message-link .vnecoms-unread-message-count {
        right: auto !important;
        left: 10px !important;
    }
    .section-item-content .header.links .vendor-message-link .vnecoms-unread-message-count {
        margin-top: -1px !important;
        left: 12px !important;
        right: auto !important;
        top: 12px !important;
    }
    .header.links .vendor-message-link .vnecoms-unread-message-count {
        right: -8px !important;
        left: auto !important;
        top: 4px !important;
    }
    .vnecoms-message-count-right {
        float: left !important;
    }
    [class^="message-icon-"]:before, [class*="message-icon-"]:before {
        margin-right: 0 !important;
        margin-left: 5px !important;
    }
    .header.links > li.vendor-message-link{position: relative;}
    .vendor-message-link .vnecoms-unread-message-count {
        top: 15px;
        left: 10px !important;
        right: auto !important;
    }
    .vendor-navigation ul li a .product-count {
        float: left !important;
    }
    .pc_vendor-offers .vendor_info {
        text-align: right !important;
    }
    .price-comparison .pc_title {
        float: right !important;
    }
    .price-comparison .pc-country {
        float: left !important;
    }
    .defaultSkin table {
        direction: rtl !important;
    }
    .account .pull-left {
        float: right !important;
    }
    .account .pull-right {
        float: left !important;
    }
    .message-icon {
        margin-right: 0 !important;
        margin-left: 10px !important;
    }
    .pc_filter{float: left !important; text-align: left !important;}

    .pc_vendor-offers .product-item td {
        text-align: right !important;
    }
    .message-upload-wrapper .extensions-allowed {
        float: right !important;
    }
    .vec-message-uploader-preview {
        right: 0 !important;
        left: auto !important;
        margin-left: 10px !important;
        margin-right: 0 !important;
    }
    .vec-message-uploader-summary .file-uploader-info {
        float: right !important;
        padding-left: 60px !important;
        padding-right: 50px !important;
    }
    .vec-message-uploader-summary .actions {
        left: 0;
        right: auto !important;
    }
    .message-icon-back {
        transform: rotate(-180deg);
        margin-left: 5px;
    }
    .password-strength-meter {
        text-align: right !important;
        &:before {
            left: auto !important;
            right: 0 !important;
        }
    }
    .giftcard-preview-modal td.wrapper-inner .main-content {
        text-align: right !important;
    }
    .giftcard-info .stock {
        text-align: right !important;
    }
    .giftcard-fieldset .step-label h3 span {
        margin-right: 0;
        margin-left: 5px;
    }
    .modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close {
        right: auto !important;
        left: 0 !important
    }
    .giftcard-info .product-info-main .product-info-stock-sku {
        text-align: right !important;
    }
    .header.links li a:before {
        float: right;
    }
    .products-grid.wishlist .product-item-actions > * {
        margin-right: 0 !important;
        margin-left: 15px !important;
    }
    .products-grid.wishlist .product-item-actions > *:last-child {
        margin-left: 0 !important;
    }
}

@media (min-width: 1450px) {
    .box-tocart .action.tocart {
        margin-right: 20px !important;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .abs-pager-toolbar {
        .limiter{
            float:left;
        }
    }
    .header{
        &.panel{
            > .header.links{
                float:left;

                >li{
                    border-right:none;
                    border-left: solid 1px #d7e0df;
                    padding-left: 15px;
                    padding-right: 0;
                }
            }

            .switcher{
                float:left;
                margin-left: 0;
                margin-right: 15px;

                &.switcher-currency + .switcher-language{
                    float:left;
                }
            }

            .mb-login-dropdown{
                right: auto;
                left: 70px;

                &:before{
                    left:235px;
                }
            }
        }
    }

    .page-header .header.content .switcher-language {
        float: left;
    }

    .page-layout-2columns-left .sidebar-main {
        float: right !important;
    }

    .page-layout-2columns-left .sidebar-main,
    .page-layout-2columns-left .sidebar-additional,
    .account.page-layout-2columns-left .sidebar-main,
    .account.page-layout-2columns-left .sidebar-additional {
        clear: right !important;
        float: right !important;
        padding-right: 0 !important;
        padding-left: 2% !important;
    }

    .page-layout-2columns-left .column.main {
        float: left !important;
    }

    .page-layout-2columns-right .column.main {
        float: right !important;
    }

    .page-layout-2columns-right .sidebar-main {
        float: left !important;
    }

    .page-layout-2columns-right .sidebar-additional {
        clear: left !important;
        padding-right: 2% !important;
        padding-left: 0 !important;
    }

    .sidebar-main {
        padding-left: 2% !important;
    }

    .nav-sections,
    .top-menu-links,
    .top-menu-links li{
        float: right;
    }

    .top-menu-links li{
        border-right: solid 1px @color-border4;
        border-left:none;
    }

    .nav-sections-item-title:first-child a{
        padding: 5px 0px 5px 30px;

        &:after{
            margin-top: 0px;
            display: inline-block;
            margin-right: 20px;
            margin-left: 0px;
        }
    }

    .block.crosssell, .cart-container .cart-gift-item {
        float: right;
        padding: 0;
    }

    .copyright {
        text-align: right;
        ul {
            li {
                padding-right: 0;
                padding-left: @indent__base;
            }
        }
    }
    .navigation {
        .menu-banners-wrap {
            li.level1 {
                position: relative;
                > img{
                    float:right;
                    width: 90px;
                }
                > .banner-image-url{
                    float:right;
                    width: 90px;
                    padding: 0 !important;
                }

                > img ~ ul.level1,
                > .banner-image-url ~ ul.level1,
                > a:nth-last-child(3){
                    float: left;
                    width:calc(~'100% - 90px');
                    min-width: auto;
                }
            }
        }
    }
    .nav-sections-item-content {
        > .navigation{
            left: auto;

            &:before{
                right:40px;
                left: auto;
            }

            .menu-banners-wrap{
                box-shadow:-7px 8px 8px -6px rgba(0,0,0,.19);
                margin-right: -9px !important;
                left: auto!important;
                right: 100%;
                padding-right: 40px !important;
                padding-left: 15px!important;

                &:before{
                    right: auto;
                    left: 100%;
                    margin-right: 0;
                    margin-left: -21px;
                    box-shadow: 5px 8px 8px -6px rgba(0,0,0,.19);
                }

                li.level1{
                    position: relative;
                    > img{
                        float:right;
                        width: 90px;
                    }
                    > .banner-image-url{
                        float:right;
                        width: 90px;
                        padding: 0 !important;
                    }

                    > img ~ ul.level1,
                    > .banner-image-url ~ ul.level1,
                    > a:nth-last-child(3){
                        float: left;
                        width:calc(~'100% - 90px');
                        min-width: auto;
                    }
                }

            }

            ul.level0.submenu li.level1{
                float: right;

                &:nth-child(4n+1){
                    clear: right;
                }
            }

            .ui-menu{
                .level0.parent {
                    > .level-top {
                        > .ui-menu-icon{
                            left: 0;
                            right:auto;

                            &:after{
                                transform: rotate(90deg);
                                -webkit-transform: rotate(90deg);
                                -moz-transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

        }
    }

    .navigation .level0.parent > .level-top{
        padding-left: 20px;
        padding-right: 8px;
    }

    .nav-sections{
        + .navigation {
            float:right;

            li.level0{
                &.parent {
                    > a.level-top {
                        span:after {
                            margin-right: 10px;
                            margin-left: -5px;
                        }
                    }
                }

                a.level-top{
                    border-left:none;
                    border-right: solid 1px @color-border4;
                }
            }

            ul.level0.submenu li.level1{
                float: right;

                >img{
                    float:right;
                }

                >img ~ ul.level1,
                >a:nth-last-child(3){
                    float: left;
                }

                &:nth-child(4n+1){
                    clear: none;
                    clear: right;
                }
            }

        }
    }
    .page-footer {
        .footer.content {
            .col-links {
                strong {
                    text-align: right;
                }
            }
            ul {
                padding-left: 50px;
                padding-right: 0;
            }
            .share-buttons {
                li {
                    display: inline-block;
                    padding: 0 0 0 10px;
                }
            }
        }
    }

    .product-social-links,
    .block-bundle-summary,
    .product-item,
    .table-comparison {
        .action.towishlist {
            text-transform: capitalize;
            &:before{
                content:"\f08a";
                font-family: 'FontAwesome';
                .lib-font-size(13);
                margin: 0 0 0 5px;
            }
        }
    }

    .product-item .actions-secondary a.tocompare:before, .product-item .tocompare:before {
        margin: 0 0 0 5px;
    }

    .products-grid .tocart span:before, .products-list .tocart span:before {
        margin-right: 0;
        margin-left: 5px;
    }
    .toolbar {
        .modes,
        .toolbar-amount {
            float: right;
        }
    }


    .opc-block-summary .product-item .product-item-name-block .secondary .details-qty {
        text-align: right;
    }

    .home-list-producsts .box-title strong {
        float: right;
    }

    .product-info-main {
        float: left;
    }

    .product.media {
        float: right;
    }

    .bundle-options-container {
        .bundle-options-wrapper,
        .product-options-wrapper {
            float: right;
        }
        .block-bundle-summary {
            float: left;
        }
    }

    .fotorama__stage, .fotorama__nav {
        left: 0!important;
    }

    .fotorama__wrap .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
        right: 0;
        left: auto;
    }

    .block-viewed-products-grid .box-title strong {
        float: right;
    }

    .actions-toolbar .primary{
        float: right;
    }
    .cart-container .form-cart .main.actions .action.update {
        float: left;
    }
    .cart-container .form-cart .actions.main .continue {
        float: right;
    }
    .cart-container .cart-summary {
        float: left;
    }
    .cart-container .form-cart {
        float: right;
        padding-left: 4%;
        padding-right: 0;
    }
    .cart.table-wrapper{
        .cart-item {
            .col.item {
                .item-actions{
                    padding-right: 0px;
                    padding-left: 20px;
                }
            }
        }

        .product-item-photo{
            padding-right: 0px;
            padding-left: 20px;
        }
    }

    .checkout-index-index {
        .opc-wrapper {
            float: right;
            padding-right: 0;
            padding-left: 30px;
        }
        .opc-sidebar {
            float: left;
        }
    }

    .opc-progress-bar-item{
        &:first-child{
            &:before{
                border-radius: 0 6px 6px 0;
            }
        }

        &:last-child{
            &:before{
                border-radius: 6px 0 0 6px;
            }
        }
    }

    .account,
    [class^=sales-guest-],
    .sales-guest-view{
        .column.main .block.block-order-details-view .block-content:not(.widget) .box{
            float:right;
        }
    }

    .order-details-items tfoot .amount, .order-details-items tfoot .mark {
        text-align: left;
    }

    .actions-toolbar {
        text-align: right;
    }
    .order-actions-toolbar .action.print {

    }

    .order-actions-toolbar .action.print {
        display: block;
        float: left !important;
    }

    .order-links .item {
        float: right!important;
        margin: 0 0 0 -1px!important;
    }

    .actions-toolbar .primary .action {
        margin: 0 0 0 15px
    }

    .form-address-edit .location-type .field.choice {
        padding-left: 20px;
        padding-right: 0;
    }
    .products-grid .product-item-info:before {
        left: auto;
        right: -5px;
    }
    .product.data.items #reviews #product-review-container.no-review .notlogged, .product.data.items #reviews .review-add.no-review .notlogged {
        text-align: right;
    }
    .product.data.items #reviews .review-total {
        float: right;
    }
    .product.data.items #reviews #product-review-container, .product.data.items #reviews .review-add {
        float: left;
    }
    .products.wrapper ~ .toolbar .pages {
        float: right !important;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .product-info-main .product.attribute.sku {
        margin: 0;
        padding: 0;
        border: none;
        display: block;
        clear: both;
        float: right;
        width: 100%;
        text-align: right;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-grid .tocart, .products-list .tocart {
        font-size: 11px;
    }
    .checkout-index-index .page-wrapper .page-header .header.content > .secure-checkout-label {
        font-size: 12px;
        margin-right: 15px;
        padding-right: 25px;
        margin-left: 0;
        padding-left: 0;
    }
    .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) tbody > tr > td.col.qty {
        text-align: right;
    }
    .nav-sections .switcher-language a img {
        margin-right: 0;
        margin-left: 5px;
    }
    .pc_filter{float: right !important; width: 100%; display: block; text-align: right !important;}
    .pc_vendor-offers .product-item td.vendor_info {
        text-align: right !important;
        float: right !important;
    }
    .pc_vendor-offers .product-item td.vendor_description {
        float: left !important;
    }
    .pc_vendor-offers .product-item td.product_price,
    .pc_vendor-offers .product-item td.add_to_cart {
        float: right !important;
    }
    .pc_vendor-offers .product-item td.product_price {
        clear: right !important;
    }
    .pc_vendor-offers .product-item td.add_to_cart .action.primary{
        width: 100%;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .logo{
        margin-right: 41px;
        margin-left: 0;
    }

    .order-actions-toolbar .action {
        margin-right: 0;
        margin-left: 30px;
    }

    .page-products .toolbar-amount {
        float: right !important;
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, right .3s, 1);
        height: 100%;
        right: -80%;
        right: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, right .3s, 1);
            height: 100%;
            right: 0;
            overflow: hidden;
            position: relative;
        }
    }

    .nav-open {
        .page-wrapper {
            right: 80%;
            right: calc(~'100% - @{active-nav-indent}');
            left: auto;
        }

        .nav-sections {
            right: 0;
            left: auto;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                left: 0;
                top: 0;
                right: auto;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .navigation{
        a{
            padding-right: 15px;
            padding-left: 0;
        }
        .level0{
            > .level-top{
                padding-left: 40px;
                padding-right: 15px;
            }
        }
    }

    .nav-sections {
        .navigation {
            .parent {
                .level-top:after{
                    left: 7px;
                    right: auto;
                }
            }
        }
        .navigation .submenu:not(:first-child).expanded,
        .nav-sections-item-content .menu-banners-wrap .submenu:not(:first-child) {
            padding-left: 0;
            padding-right: 15px;
        }
        .navigation .level0.active>a:not(.ui-state-active), .navigation .level0.has-active>a:not(.ui-state-active) {
            border-width: 0 8px 0 0;
        }
    }

    .main-banner {
        direction: ltr;
    }

    .minicart-wrapper {
        .block-minicart:before{
            left: 15px!important;
        }
    }

    .page-header {
        .header.content {
            .block-search {
                .action.search {
                    right: auto;
                    left: 15px;
                }
            }
        }
    }

    .product-item .actions-secondary a.tocompare:before, .product-item .tocompare:before {
        margin: 0 0 0 5px;
    }

    .product.info.detailed .product.data.items > .item.title > .switch {
        text-align: right !important;
    }

    .product.info.detailed .product.data.items > .item.title > .switch:after {
        left: 0;
        right: auto;
    }

    .cart.table-wrapper{
        tr.cart-item{
            padding-right: 95px;
            padding-left: 0;

            .item-actions{
                left:auto;
                right: 0;
            }

            .product-item-photo{
                left:auto;
                right: 30px;
            }

            .col{
                &.qty,
                &.price,
                &.subtotal,
                &.msrp{
                    text-align: right;

                    &[data-th]:before{
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .opc-block-summary .block.items-in-cart .block-title {
        text-align: left;
    }

    .checkout-index-index .opc-block-summary .block.items-in-cart .block-title strong {
        float: left;
    }

    .filter.active {
        .filter-title {
            strong{
                right: auto !important;
                left: 3px !important;
            }
        }
        .filter-options-title{
            &:after{
                right:auto !important;
                left: 0 !important;
            }
        }
    }
    .filter .filter-current-subtitle:before {
        left: 10px !important;
        top: 7px !important;
    }
    .vendor-catalog-product-view .product-info-main .product-info-top .fulfilled-bazzarry .fulfilled-desc {
        right: 20px !important;
        left: auto !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    //
    //  Vendor product view
    //  -----------------------------------------

    .vendor-catalog-product-view {
        .product-info-main {
            .product-info-bottom {
                .product-info-bottom-left {
                    max-width: 400px;
                    .box-tocart {
                        .fieldset {
                            display: block;
                            .action.tocart {
                                margin-left: 20px !important;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}