/**
 * @copyright Copyright (c) 2018 www.tigren.com
 */
//
//  Variables
//  ---------------------------------------------
@import 'module/_variables.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .mb-ajaxsuite-popup-wrapper {
        .mb-ajaxlogin-message-success {
            text-align: center;
            .mb-message-successs {
                color: lighten(@color-dark-green1, 10%);
                font-weight: bold;
            }
        }
        .mb-ajaxlogin-message-error {
            text-align: center;
            .mb-message-error {
                color: @color-red10;
                font-weight: bold;
                margin-top: 0;
            }
        }
        .block-customer-login, .block-new-customer, .mb-ajaxlogin-register, .mb-ajaxlogin-forgotpassword {
            .block-title {
                margin-bottom: 15px;
                strong {
                    .lib-font-size(20);
                }
            }
        }
        .mb-login-popup, .mb-register-popup, .mb-forgetpassword-popup {
            padding: 20px;
            overflow: hidden;
        }
        form.mb-login-form-register {
            fieldset.info,
            fieldset.account {
                margin: 0 0 20px;
                .legend {
                    margin: 0 0 10px;
                }
            }
            .mb-style-actions {
                clear: both;
            }
        }
        .mb-ajaxlogin-register {
            min-height: 300px;
        }
        a.action.back {
            display: block;
        }
        .mb-login-popup-title {
            padding: @indent__s 0;
            text-align: center;
            .lib-font-size(18);
            text-transform: uppercase;
        }
        .actions {
            text-align: center;
            .action.submit.primary {
                margin-bottom: 10px;
                display: block;
                width: 100%;
            }
            > * {
                display: inline-block;
            }
        }
        .block-customer-login, .block-new-customer {
            .primary {
                width: 100%;
                display: block;
            }
            .actions-toolbar {
                .action.primary {
                    width: 100%;
                    display: block;
                    border-radius: 0;
                }
            }
        }
    }
    /******** SOCIAL LOGIN *********/
    #social-login,
    .social-login{
        clear: both;
    }
    #social-login,
    .social-login{
        .social-login-btn {
            display: block;
            width: 100%;
            margin-bottom: @indent__s;
            padding: 8px 0;
            position: relative;
            span {
                padding-left: @indent__m;
                color: @color-white;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin-top: -10px;
                }
            }
        }
    }

    #facebook-login-btn {
        background-color: #3a5ba0 !important;
        border-color: #3a5ba0 !important;
        span {
            &:before {
                background: transparent url('@{baseDir}Tigren_Ajaxlogin/images/facebook.png') top left no-repeat;
            }
        }
    }
    #gg-login-btn {
        background-color: #e02f2f !important;
        border-color: #e02f2f !important;
        span {
            &:before {
                background: transparent url('@{baseDir}Tigren_Ajaxlogin/images/ggplus.png') top left no-repeat;
            }
        }
    }
    #twitter-login-btn {
        background-color: #00abf1 !important;
        border-color: #00abf1 !important;
        span {
            &:before {
                background: transparent url('@{baseDir}Tigren_Ajaxlogin/images/twitter.png') top left no-repeat;
            }
        }
    }

    .mb-message-popup{
        .mb-login-popup-title{
            padding: 11px;
        }

        .mb-actions-toolbar{
            margin-top: 10px;

            .action.primary{
                min-width: 97px;
            }
        }
    }

    .tigren-add-to-cart-popup{
        color:@message-success__color;
    }

    .tigren-add-to-cart-popup-error{
        color:@message-error__color;
    }

    .social-login{
        .or-line{
            display: block;
            width: 100%;
            position: relative;
            border-bottom: solid 1px @color-border3;
            margin: 25px 0;

            span{
                position: absolute;
                width:30px;
                height:30px;
                background-color: @color-white;
                border:solid 1px @color-border3;
                text-align: center;
                line-height: 30px;
                left:50%;
                top:0px;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                text-transform: uppercase;
                margin-top: -15px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                .lib-font-size(12);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .mb-ajaxsuite-popup-wrapper {
        .block-customer-login, .block-new-customer {
            margin: 0;
            width: 50%;
            .block-title {
                margin-bottom: 15px;
                strong {
                    .lib-font-size(20);
                }
            }
        }
        .block-customer-login {
            float: left;
            padding-right: 30px;
            position: relative;
            .form.form-login {
                .fieldset {
                    margin: 0 0 20px;
                }
            }
            &:after {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: @color-gray91;
                display: block;
            }
        }
        .block-new-customer {
            float: left;
            padding-left: 30px;
        }
        form.mb-login-form-register {
            fieldset.info, fieldset.account {
                float: left;
                width: 50%;
            }
            fieldset.info {
                padding-right: 30px;
                position: relative;
            }
            fieldset.account {
                float: left;
                padding-left: 30px;
                position: relative;
                &:before {
                    content: "";
                    margin: 0;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: @color-gray91;
                    display: block;
                }
            }
            .mb-style-actions {
                clear: both;
            }
        }
    }

    .panel.header{
        position: relative;

        .mb-login-dropdown{
            position: absolute;
            background: #fff;
            z-index: 10;
            right: 70px;
            top: 20px;
            padding: 20px;
            width: 330px!important;
            max-width: 100%;
            box-shadow: 0 4.5px 4.5px rgba(0, 0, 0, 0.19);
            border-top: solid 2px @color-border2;

            &:before{
                border-bottom-style: solid;
                content: '';
                display: block;
                height: 0;
                position: absolute;
                width: 0;
                border: 6px solid;
                border-color: transparent transparent #fff;
                z-index: 99;
                border-bottom-color: @color-border2;
                left:67px;
                top: -12px;
            }

            .mb-ajaxsuite-popup-border{
                width:100%;
                min-width: 100px;
                max-width: 100%;
            }

            .block-title{
                .lib-font-size(18);
                font-weight: @font-weight__regular;
                margin-bottom: 20px;
            }

            .fieldset{
                margin-bottom: 15px;
            }

            .block-customer-login{
                margin-bottom: 0;
            }

            .actions{
                margin-top: 10px;

                .action.primary{
                    width: 100%;
                }
            }

            .social-login {
                margin-top: 5px;
            }
        }
    }
}