// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-border4;
@minicart__padding-horizontal: 30px;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                .lib-font-size(14);
                padding: @indent__s 0 0;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;

                .actions-button{
                    text-align: center;
                    display: flex;
                    .viewcart{
                        width: 48%;
                        text-align: center;
                        background: @backgroun-color-button1;
                        color:#343f49;
                        text-transform: capitalize;
                        border-radius: 23px;
                        padding: 0;
                        line-height: 35px;
                        height: 35px;
                        display: inline-block;
                        margin-right: 2%;
                        &:hover{
                            text-decoration: none;
                            background-color:@_button-background ;
                            color:@color-white;
                        }
                    }

                    .checkout{
                        border-radius: 23px;
                        padding: 0;
                        line-height: 35px;
                        height: 35px;
                        width: 48%;
                        border: none;
                        display: inline-block;
                        margin-left: 2%;
                    }
                }


                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
                .action.empty-cart {
                    display: block;
                    margin-top: 15px;
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,               
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 22px,
        @_icon-font-line-height: 28px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .lib-css(padding, 10px @minicart__padding-horizontal);
            border: none;
            border-radius: 0 0 10px 10px;
            border-top: solid 2px @color-border2;

            &:after{
                display: none;
            }

            &:before{
                border-bottom-color: @color-border2;
                right:50px;
            }

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;

                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 16px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: true
                );
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    .lib-css(background, @active__color);
                    .lib-css(color, @page__background-color);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    border-radius: 2px;
                    display: inline-block;
                    margin: 3px 0 0;
                    min-width: 18px;
                    overflow: hidden;
                    padding: 0 3px;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    color:@color-white;
                    display: inline-block;
                    text-align: left;
                    padding-left: 20px;

                    .price{
                        font-weight: @font-weight__bold;
                        .lib-font-size(14);
                        display: block;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        width: calc(~'100% + 30px');
        padding-right: 30px;
        margin-right: -30px;
    }

    .minicart-items {
        .lib-list-reset-styles();
        .product-item {
            padding: 10px 0;
            .lib-css(border-bottom, 1px solid @minicart__border-color);

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item-name {
            margin: 0 0 @indent__s;
            padding-right:10px;

            a {
                .lib-css(color, @_link-color-hover);
                font-size: 1.4rem;
                line-height: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                max-height: 32px;
                font-weight: @font-weight__bold;
            }
        }

        .product-item-details {
            padding-left: 88px;
            text-align: left;

            .price {
                font-weight: @font-weight__regular;
                .lib-font-size(15);
                display: block;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product {
            position: relative;

            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
                border: 0;
                padding: 0 @indent__xl @indent__xs 0;
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                        @icon-down,
                        @_icon-font-size: 12px,
                        @_icon-font-line-height: 12px,
                        @_icon-font-text-hide: true,
                        @_icon-font-margin: -3px 0 0 7px,
                        @_icon-font-position: after
                        );
                    }
                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .product-item-pricing{
            display: flex;
            align-items: center;
        }

        .item-qty {
            .lib-font-size(15);
            &:after{
                content: 'x';
                margin: 0 3px;
            }
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                @icon-edit,
                @_icon-font-size: 18px,
                @_icon-font-line-height: 20px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @minicart-icons-color,
                @_icon-font-color-hover: @primary__color,
                @_icon-font-color-active: @minicart-icons-color
                );
            }

            &.delete {
                position: absolute;
                top: 0;
                right: 0;
                &:before{
                    content: "\f00d";
                    font-family: 'FontAwesome';
                    font-size: 10px;
                    color: @color-remove;
                    margin-top:-5px;
                }

                &:hover{
                    &:before{
                        color:@color-black;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        .action{
            &.gotocart{
                &:before{
                    transform: scale(0.8);
                    -webkit-transform: scale(0.8);
                    -moz-transform: scale(0.8);
                }
            }

            &.showcart {
                display: none;
            }
        }
    }
    .checkout-index-index {
      .minicart-wrapper {
        .action{
          &.showcart {
            display: block;
          }
        }
      }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
       /* margin-left: 20px;*/
        margin-top: 5px;

        .block-minicart:before{
            right:15px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
       /* margin-left: 60px;*/
        margin-top: 4px;

        .block-minicart {
            margin-top:9px;
            width: 330px;
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}