<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

use Magento\Customer\Block\Form\Register; ?>
<?php
/**
 * Create account form template
 *
 * @var $block Register
 */
?>
<?php $step = 0; ?>
<div class="cr-container">
    <?php echo $block->getChildHtml('page.messages') ?>
    <?php echo $block->getChildHtml('form_fields_before') ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $block->getChildHtml('vendor.form.register.extra') ?>
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading"
                aria-level="2"><?= $block->escapeHtml(__('Create your seller account')) ?></strong>
    </div>
    <form class="form" action="<?php /* @escapeNotVerified */
    echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data"
          autocomplete="off">
        <?php /* @noEscape */
        echo $block->getBlockHtml('formkey'); ?>
        <?php if ($blockId = $block->getStaticBlockId()): ?>
            <div class="vendor-static-container">
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($blockId)->toHtml(); ?>
            </div>
        <?php endif; ?>

        <div class="field note signup-note"><?php /* @escapeNotVerified */
            echo __("Do you have a seller account? <a href='%1'>Sign In</a>",
                $block->escapeUrl($block->getUrl('marketplace/seller/login/'))) ?></div>

        <?php echo $block->getChildHtml('vendor_register_form_before') ?>
        <div class="cr-steps-container">
                <?php $step++; ?>
                <div class="cr-step cr-step-<?php echo $step ?>" data-step="<?php echo $step ?>">
                    <div class="cr-step-title" style="display: none"><?php echo __("Personal Information") ?></div>
                    <div class="cr-step-content">
                        <fieldset class="fieldset create info">
                            <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */
                            echo $block->getSuccessUrl() ?>">
                            <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */
                            echo $block->getErrorUrl() ?>">
                            <input type="hidden" name="is_seller" value="1">
                            <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                        </fieldset>
                    </div>
                </div>
                <?php $step++; ?>
                <div class="cr-step cr-step-<?php echo $step ?>" data-step="<?php echo $step ?>">
                    <div class="cr-step-title" style="display: none"><?php echo __("Account Vertification") ?></div>
                    <div class="cr-step-content">
                        <fieldset class="fieldset create info">
                            <div class="field">
                                <div class="step-selection">
                                    <input type="radio" name="vendor_data[business_type]" value="1" id="individual"
                                           checked="checked" class="select-business">
                                    <label for="individual"><?php echo __("Individual") ?></label>
                                </div>
                                <div class="step-selection">
                                    <input type="radio" name="vendor_data[business_type]" value="2" id="business"
                                           class="select-business">
                                    <label for="business"><?php echo __("Business") ?></label>
                                </div>
                            </div>
                            <div class="field" id="document-type">
                                <label for="document" class="label">
                                    <span><?php echo __("Seller Document Type") ?></span>
                                </label>
                                <div class="control">
                                    <select name="vendor_data[vertify_type]" id="document" required>
                                        <option value=""
                                                data-type="individual"><?php echo __("Please select one from below") ?></option>
                                        <option value="1"
                                                data-type="individual"><?php echo __("National ID") ?></option>
                                        <option value="2" data-type="individual"><?php echo __("Passport") ?></option>
                                        <option value="3"
                                                data-type="business"><?php echo __("Upload Company Registration") ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="field document">
                                <label for="document" class="label">
                                    <span><?php echo __("document id") ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="vendor_data[document_id]"
                                           placeholder="<?php echo __("Document ID") ?>">
                                    <div class="upload-area">
                                        <input id="document-file" name="document-file" type="file"
                                               class="field required">
                                        <span class="uploaded-file-name" id="uploaded-file-name"></span>
                                        <label for="document-file"
                                               class="upload-title"><?php echo __("Choose File") ?></label>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <select name="vendor_data[seller_gender]" style="display: none;" id="gender"
                                        data-type="individual">
                                    <option value="1"><?php echo __("Male") ?></option>
                                    <option value="2"><?php echo __("Female") ?></option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <script>
                    require([
                        'jquery',
                    ], function ($) {
                        $('.field-vendor_postcode').css('display', 'none');
                        $('.field-vendor_fax').css('display', 'none');
                        $('.document').css("display", "none");
                        $('#document').change(function () {
                            var selected = $(this).find('option:selected').val();
                            if (selected != 0) {
                                $('.document').css("display", "block");
                            }
                        }).change();
                        $('#individual').on('click touchstart', function () {
                            $("[data-type='individual']").css('display', 'block');
                            $('#business').prop('checked', false);
                            $('.document').css("display", "none");
                            $("[data-type='business']").removeAttr('selected');
                            $("[data-type='business']").css('display', 'none');
                            $('.field-vendor_company').css('display', 'none');
                        });
                        if ($('#individual').prop('checked') == true) {
                            $("[data-type='individual']").css('display', 'block');
                            $('#business').prop('checked', false);
                            $("[data-type='business']").removeAttr('selected');
                            $("[data-type='business']").css('display', 'none');
                            $('.field-vendor_company').css('display', 'none');
                        }

                        $('#business').on('click touchstart', function () {
                            $('#individual').prop('checked', false);
                            $("[data-type='individual']").css('display', 'none');
                            $("[data-type='business']").attr('selected', 'selected');
                            $('.field-vendor_company').css('display', 'block');
                            $('.field-vendor_company').addClass('required');
                            $('.document').css("display", "block");
                        });
                        $('#document-file').change(function () {
                            var filename = $('#document-file').val();
                            if (filename.substring(3, 11) == 'fakepath') {
                                filename = filename.substring(12);
                            }
                            $('#uploaded-file-name').html(filename);
                        });
                    })
                </script>

            <?php $step++ ?>
            <?php $createForm = $block->getChildBlock('new_vendor_create_form')->setStep($step) ?>
            <?php echo $createForm->toHtml() ?>
            <?php $step = $createForm->getStep(); ?>

                <div class="cr-step cr-step-<?php echo $step ?>" data-step="<?php echo $step ?>">
                    <div class="cr-step-title" style="display: none;"><?php echo __("Login Information") ?></div>
                    <div class="cr-step-content">
                        <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */
                        echo __('* Required Fields') ?>">
                            <div class="field required">
                                <label for="email_address" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Email') ?></span></label>
                                <div class="control">
                                    <input type="email" name="email" autocomplete="email" id="email_address"
                                           value="<?php echo $block->escapeHtml($block->getFormData()->getEmail()) ?>"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Email') ?>" class="input-text"
                                           data-validate="{required:true, 'validate-email':true}">
                                </div>
                            </div>
                            <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                                <label for="password" class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Password') ?></span></label>
                                <div class="control">
                                    <input type="password" name="password" id="password"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Password') ?>"
                                           class="input-text"
                                           data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                           data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                           data-validate="{required:true, 'validate-customer-password':true}"
                                           autocomplete="off">
                                    <span id="toggle-pass"
                                          class="toggle-pass"><?= $block->escapeHtml(__('Show/Hide Password')) ?></span>
                                    <div id="password-strength-meter-container" data-role="password-strength-meter">
                                        <div id="password-strength-meter" class="password-strength-meter">
                                            <?php /* @escapeNotVerified */
                                            echo __('Password Strength'); ?>:
                                            <span id="password-strength-meter-label"
                                                  data-role="password-strength-meter-label">
                                            <?php /* @escapeNotVerified */
                                            echo __('No Password'); ?>
                                        </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="field confirmation required">
                                <label for="password-confirmation"
                                       class="label"><span><?php /* @escapeNotVerified */
                                        echo __('Confirm Password') ?></span></label>
                                <div class="control">
                                    <input type="password" name="password_confirmation"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Confirm Password') ?>" id="password-confirmation"
                                           class="input-text" data-validate="{required:true, equalTo:'#password'}"
                                           autocomplete="off">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
        </div>
        <?php echo $block->getChildHtml('vendor_register_form_after') ?>

        <div class=cr-confirm">
            <?php if ($block->isEnableAgreement()): ?>
                <div class="field field-vendor-registration">
                    <input type="checkbox" id="vendor-registration-agreement"
                           name="vendor_data[vendor_registration_agreement]" value="1"
                           class="input-text vendor-agreement"
                           data-validate="{required:true}"/><label
                            for="vendor-registration-agreement"><?php echo $block->getAgreementLabel() ?></label>
                </div>
            <?php endif; ?>

            <?php echo $block->getChildHtml('vendor_register_form_additional_info'); ?>

        </div>

        <?php echo $block->getChildHtml('vendor_register_form_actions_before') ?>
        <div class="actions-toolbar">
            <button id="cr-previous-btn" type="button" class="action cr-previous-btn"
                    title="<?php /* @escapeNotVerified */
                    echo __('Previous Step') ?>"><span><?php /* @escapeNotVerified */
                    echo __('Previous Step') ?></span></button>
            <button id="cr-next-btn" type="button" class="action primary cr-next-btn"
                    title="<?php /* @escapeNotVerified */
                    echo __('Next Step') ?>"><span><?php /* @escapeNotVerified */
                    echo __('Next Step') ?></span></button>
            <button id="cr-submit-btn" type="submit" class="action primary submit cr-submit-btn"
                    title="<?php /* @escapeNotVerified */
                    echo __('Create Seller Account') ?>"><span><?php /* @escapeNotVerified */
                    echo __('Create Seller Account') ?></span></button>
        </div>

    </form>
    <script>
        var CURRENT_STEP = 1;
        require([
            'jquery',
            'mage/template',
            'mage/mage'
        ], function ($, mageTemplate) {

            var dataForm = $('#form-validate');
            var ignore = false;

            dataForm.mage('validation', {
                validationUrl: '<?php echo $this->getValidationUrl()?>',
                ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
            }).find('input:text').attr('autocomplete', 'off');

            $(document).ready(function () {
                $("#toggle-pass").click(function () {
                    if (!$(this).hasClass('show')) {
                        $(this).removeClass('hide');
                        $(this).addClass('show');
                        $("#password").attr('type', 'text');
                    } else {
                        $(this).addClass('hide');
                        $(this).removeClass('show');
                        $("#password").attr('type', 'password');
                    }
                });
                $('.country_id').find('option').each(function () {
                    if ($(this).val() == 'YE') {
                        $(this).attr('selected', 'selected');
                    } else {
                        $(this).removeAttr('selected');
                    }
                });
                $('.field-vendor_country_id').css('visibility', 'hidden', '!important');
            });

            /**
             * Build Steps Navigation
             */
            function buildStepNav() {
                var stepsNav = $('#cr-nav-container');
                var template = '<li class="cr-nav-step cr-nav-step-<%- stepNo %>"><div class="cr-nav-step-number"><%- stepNo %></div><div class="cr-nav-step-title"><%- title %></div><div class="cr-nav-bar"></div></li>';
                var html = '<ul class="cr-nav cr-nav-' + $('.cr-step').size() + 'cols">';
                $('.cr-step').each(function () {
                    var stepTitle = $(this).children('.cr-step-title').first().html();
                    var navStepTemplate = mageTemplate(template);
                    html += navStepTemplate({title: stepTitle, stepNo: $(this).data('step')});
                });
                html += '</ul>';
                stepsNav.html(html);
            }

            /**
             * Set current step
             */
            function setCurrentStep(step) {
                window.CURRENT_STEP = step;
                $('.cr-nav-step.current').removeClass('current');
                $('.cr-nav-step.complete').removeClass('complete');
                $('.cr-step.cr-step-active').removeClass('cr-step-active');

                $('.cr-nav-step-' + step).addClass('current');
                $('.cr-step-' + step).addClass('cr-step-active');

                for (var i = 1; i < step; i++) {
                    $('.cr-nav-step-' + i).addClass('complete');
                }

                var size = $('.cr-step').size();
                if (step == size) {
                    $('#cr-next-btn').hide();
                    $('.cr-confirm').addClass('complete');
                    $('#cr-submit-btn').css('display', 'inline-block');
                } else {
                    $('#cr-next-btn').css('display', 'inline-block');
                    $('.cr-confirm').removeClass('complete');
                    $('#cr-submit-btn').hide();
                }

                if (step == 1) {
                    $('#cr-previous-btn').hide();
                } else {
                    $('#cr-previous-btn').css('display', 'inline-block');
                }
            }

            /**
             * Next step
             */
            function nextStep() {
                var step = window.CURRENT_STEP + 1;
                if (step > $('.cr-step').size()) return;
                var isValid = true;
                $('.cr-step-' + (step - 1)).find('input,textarea,select').each(function () {
                    if (!$(this).is(":visible")) return true;
                    $(this).validation();
                    isValid = isValid && $(this).validation('isValid');
                });
                if (isValid) {
                    if ($('#cr-next-btn').hasClass('cr-step-' + (step))) {
                        $('#cr-next-btn').removeClass('cr-step-' + (step));
                    } else {
                        $('#cr-next-btn').addClass('cr-step-' + (step));
                    }
                }
                if (!isValid) return;

                setCurrentStep(step);
            }

            /**
             * Previous step
             */
            function prevousStep() {
                var step = window.CURRENT_STEP - 1;
                if (step <= 0) return;

                if ($('#cr-next-btn').hasClass('cr-step-' + (step + 1))) {
                    $('#cr-next-btn').removeClass('cr-step-' + (step + 1));
                } else {
                    $('#cr-next-btn').addClass('cr-step-' + (step + 1));
                }

                setCurrentStep(step);
            }

            buildStepNav();

            setCurrentStep(1);

            $('#cr-next-btn').click(function () {
                nextStep();
            });

            $('#cr-previous-btn').click(function () {
                prevousStep();
            });

            $('.cr-nav-step-number').click(function () {
                if (!$(this).parent().hasClass('complete')) return;
                setCurrentStep(parseInt($(this).html()));
            });


        });
    </script>
</div>
<script>
    require([
        'jquery'
    ], function ($) {
        var vendorPhoneNumber = $("#vendor_telephone");
        $("#vendor_telephone").val("+967");
        vendorPhoneNumber.addClass("required");
        vendorPhoneNumber.keyup(function () {
            if (
                ($(this).val().length > 0) && ($(this).val().substr(0, 4) != '+967')
                || ($(this).val() == '')
            ) {
                $(this).val('+967');
            }
        });
        $('#cr-next-btn').on('click', function () {
            if (vendorPhoneNumber.val() == "+967") {
                vendorPhoneNumber.val('');
            }
            var regex = /^[0-9]+$/;
            if (!vendorPhoneNumber.val().substr(5).match(regex)) {
                vendorPhoneNumber.val('');
            }
        });
        $.fn.putCursorAtEnd = function() {
            return this.each(function() {
                var $el = $(this),
                    el = this;
                if (el.setSelectionRange) {
                    var len = $el.val().length * 2;
                    setTimeout(function() {
                        el.setSelectionRange(len, len);
                    }, 1);

                } else {
                    $el.val($el.val());

                }
                this.scrollTop = 999999;

            });

        };
        vendorPhoneNumber.putCursorAtEnd().on("click", function() { // could be on any event
            vendorPhoneNumber.putCursorAtEnd()
        });
        vendorPhoneNumber.on("focus",function () {
            if (vendorPhoneNumber.val()==""){
                vendorPhoneNumber.val("+967");
            }
        })
    });
</script>