<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?= $block->escapeHtmlAttr($id) ?>">
    <?php foreach ($block->getStores() as $_lang): ?>
        <?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
                <a title="<?= $block->escapeHtml($_lang->getName()) ?>" href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_lang) ?>'>
                    <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.jpg')) ?>" alt="<?= $block->escapeHtml(__($_lang->getName())) ?>" />
                    <span><?= $block->escapeHtml(__($_lang->getName())) ?></span>
                </a>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<?php endif; ?>
