<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var $block \Magento\Checkout\Block\Cart\Sidebar */ ?> <div data-block="minicart" class="minicart-wrapper custom-header-dropdown-parent"><a class="action gotocart" href="<?= /* @escapeNotVerified */ $block->getShoppingCartUrl() ?>" data-bind="scope: 'minicart_content'" title="<?= __('Go To Cart') ?>"><span class="counter qty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading"><span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span></span></a> <div class="action showcart custom-header-dropdown-link" data-bind="scope: 'minicart_content'"><span class="counter-label"><label><?= __('Cart') ?></label> <span data-bind="html: getCartParam('subtotal')"></span></span></div><?php if ($block->getIsNeedToDisplaySideBar()): ?> <div class="block block-minicart custom-header-dropdown-content" data-role="dropdownDialog" data-mage-init='{"dropdownDialog":{ "appendTo":"[data-block=minicart]", "triggerTarget":".showcart", "timeout": "2000", "closeOnMouseLeave": false, "closeOnEscape": true, "triggerClass":"active", "parentClass":"active", "buttons":[]}}'><div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'"><!-- ko template: getTemplate() --><!-- /ko --></div><?= $block->getChildHtml('minicart.addons') ?></div><?php endif ?> <script>
        window.checkout = <?= /* @escapeNotVerified */ $block->getSerializedConfig() ?>;</script><script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
        }
    }</script></div>