//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    #giftcard-info {
        .giftcard-info-from-template {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    display: block;
                    width: 100%;
                    strong,
                    span {
                        display: inline-block;
                    }
                }
            }
            dt, dd {
                display: inline-block;
            }
        }
    }
    .giftcards-applied-template.items {
        li {
            > * {
                display: inline-block;
            }
        }
    }
    .remaining-container.giftcard-item a {
        display: inline-block;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
}
