
@import '../_magnific-popup.less';

//
//  Common
//  _____________________________________________


& when (@media-common = true) {

    .box-gotoproduct #product-gotoproduct-button {
        width: 100%;
        padding: 14px 17px;
        font-size: 1.8rem;
        text-align: center
    }

    .quickview-catalog-product-view {
        .page-wrapper {
            overflow: hidden;
            .page-main {
                padding: @layout__width-xs-indent;

                .product.media,
                .product-info-main{
                    margin-bottom: 0;
                }
            }

        }

        .product-info-top{
            .product.sku{
                margin-left: 0;
                padding-left: 0;
                border:none;
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

    .tigren_quick_view_button{
        display: none;
        position: absolute;
        z-index: 1;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        background: rgba(39,121,220,0.7);
        padding: 10px;
        line-height: 20px;
        color:@color-white;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;

        &:before{
            content:"";
            display: block;
            width: 25px;
            height: 25px;
            background: url('@{baseDir}images/quick_view.png') no-repeat center center;
            background-size: 20px auto;

        }

        span{
            display: none;
        }
    }

    .products-grid{
        .product-item-info{
            &:hover{
                .tigren_quick_view_button{
                    display: block;
                }
            }
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .tigren_quick_view_button{
        display: none;
    }
}
