<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item" data-bind="click: selectAddress, css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().middlename --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --><br/>
    <!-- ko text: _.values(address().street).join(", ") --><!-- /ko --><br/>
    <span data-bind="html: address().region"></span><br/>
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko --><br/>
    <!-- ko if: (address().telephone) -->
    <a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a>
    <!-- /ko --><br/>

    <div class="action-links">
        <button type="button"
                class="action edit-address-link"
                data-bind="css: isDefault() ? 'default-address' : 'additional-address', click: editAddress,visible: isSelected()">
            <span data-bind="i18n: 'Update'"></span>
        </button>
        <button type="button" class="action edit-address-link delete-address-link"
                data-bind="click: deleteAddress,visible: isSelected() && !isDefault()">
            <span data-bind="i18n: 'Delete'"></span>
        </button>
    </div>
</div>
