<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<if args="isAllowed()">
    <a class="tigren-quick_view tigren_quick_view_button" href="#" attr="'data-quick_view-url': $col.getQuickviewUrl($row())" title="getLabel()">
        <span text="getLabel()"/>
    </a>
</if>