/* 
 *  Owl Carousel - Animate Plugin
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .owl-carousel .animated {
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .owl-carousel .owl-animated-in {
        z-index: 0;
    }

    .owl-carousel .owl-animated-out {
        z-index: 1;
    }

    .owl-carousel .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }

    /*
     * 	Owl Carousel - Auto Height Plugin
     */
    .owl-height {
        -webkit-transition: height 500ms ease-in-out;
        -moz-transition: height 500ms ease-in-out;
        -o-transition: height 500ms ease-in-out;
        transition: height 500ms ease-in-out;
    }

    /*
     *  Core Owl Carousel CSS File
     */
    .owl-carousel {
        display: none;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        /* position relative and z-index fix webkit rendering fonts issue */
        position: relative;
        z-index: 1;
    }

    .owl-carousel .owl-stage {
        position: relative;
    }

    .owl-carousel .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        /* fix for flashing background */
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next,
    .owl-carousel .owl-controls .owl-dot {
        cursor: pointer;
    }

    .owl-carousel.owl-loaded {
        display: block;
    }

    .owl-carousel.owl-loading {
        opacity: 0;
        display: block;
    }

    .owl-carousel.owl-hidden {
        opacity: 0;
    }

    .owl-carousel .owl-refresh .owl-item {
        display: none;
    }

    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
    }

    .owl-carousel .owl-item img {
    }

    .owl-carousel.owl-text-select-on .owl-item {
    }

    .owl-carousel .owl-grab {
        cursor: move;
    }

    .owl-carousel.owl-rtl {
        direction: rtl;
    }

    .owl-carousel.owl-rtl .owl-item {
        float: right;
    }

    .owl-carousel {
        .owl-nav {
            div {
                text-indent: -9999px;
                width: 20px;
                height: 25px;
                position: absolute;
                top: 50%;
                .transformTranslate(0, -50%);

                &:before {
                    font-family: 'FontAwesome';
                    .lib-font-size(20);
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    height: 100%;
                    text-indent: 0;
                    left: 0;
                    top: 0;
                    color: #afafaf;
                }

                &.owl-prev {
                    left: 10px;

                    &:before {
                        content: "\f053";
                    }
                }

                &.owl-next {
                    right: 10px;

                    &:before {
                        content: "\f054";
                    }
                }
            }
        }

        .owl-dots {
            display: block;
            text-align: center;
            margin-top: 10px;

            .owl-dot {
                display: inline-block;
                width: 8px;
                height: 8px;
                background: #bcbcbc;
                margin: 0 5px;
                border-radius: 4px;

                &.active {
                    background-color: @color-light;
                    width: 30px;
                }
            }
        }

    }

    /* No Js */
    .no-js .owl-carousel {
        display: block;
    }

    /*
     * 	Owl Carousel - Lazy Load Plugin
     */
    .owl-carousel .owl-item .owl-lazy {
        opacity: 0;
        -webkit-transition: opacity 400ms ease;
        -moz-transition: opacity 400ms ease;
        -o-transition: opacity 400ms ease;
        transition: opacity 400ms ease;
    }

    .owl-carousel .owl-item img {
        transform-style: preserve-3d;
    }

    /*
     * 	Owl Carousel - Video Plugin
     */
    .owl-carousel .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }

    .owl-carousel .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        background: url("owl.video.play.png") no-repeat;
        cursor: pointer;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -webkit-transition: scale 100ms ease;
        -moz-transition: scale 100ms ease;
        -o-transition: scale 100ms ease;
        transition: scale 100ms ease;
    }

    .owl-carousel .owl-video-play-icon:hover {
    }

    .owl-carousel .owl-video-playing .owl-video-tn,
    .owl-carousel .owl-video-playing .owl-video-play-icon {
        display: none;
    }

    .owl-carousel .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        -webkit-transition: opacity 400ms ease;
        -moz-transition: opacity 400ms ease;
        -o-transition: opacity 400ms ease;
        transition: opacity 400ms ease;
    }

    .owl-carousel .owl-video-frame {
        position: relative;
        z-index: 1;
    }

    .owl-carousel .owl-nav > .disabled,
    .owl-carousel .owl-dots.disabled ,
    .owl-nav.disabled{
        display: none;
    }

}

