
.fue-status-complete {
    color: #1AA941;
}

.fue-status-complete.red {
    color: #BB1212;
}

.fue-status-processing {
    color: #F96B25;
}

.fue-status {
    background: #feeee1 none repeat scroll 0 0;
    border: 1px solid #ed4f2e;
    color: #ed4f2e;
    display: block;
    font-weight: bold;
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
}

.fue-status.fue-status-complete,
.fue-status.fue-status-sent {
    background: #d0e5a9 none repeat scroll 0 0;
    border-color: #5b8116;
    color: #185b00;
}

.fue-status.fue-status-pending {
    background: #feddcd none repeat scroll 0 0;
    border-color: #F96B25;
    color: #F96B25;
}

.fue-status.fue-status-blacklist,
.fue-status.fue-status-failed {
    background: #f9d4d4 none repeat scroll 0 0;
    border-color: #e22626;
    color: #e22626;
}

.fue-status-blacklist {
    color: #e22626;
}

.landofcoder-fue-menu {
    color: #41362f;
    float: left;
    font-size: 1.6rem;
    margin-top: .7rem;
}

.page-main-actions._hidden .landofcoder-fue-menu {
    display: none;
}

.landofcoder-fue-menu .dropdown {
    display: inline-block;
    position: relative;
}

.landofcoder-fue-menu .dropdown:before, .landofcoder-fue-menu .dropdown:after {
    content: "";
    display: table;
}

.landofcoder-fue-menu .admin__action-dropdown {
    font-size: 1.6rem;
    letter-spacing: .025em;
    background-color: #f8f8f8;
    z-index: 20;
    transition: border-color 0.15s ease;
}

.landofcoder-fue-menu .dropdown .dropdown-menu {
    margin: 0;
    padding: 6px 0 3px 0;
    list-style: none none;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px #adadad solid;
    position: absolute;
    z-index: 1000;
    top: 100%;
    line-height: 1.36;
    min-width: 18.5rem;
    margin-top: -1px;
    display: none;
    transition: all 0.15s ease;
    visibility: hidden;
    opacity: 0;
}

.landofcoder-fue-menu .dropdown.active .admin__action-dropdown-text:after {
    background-color: #ffffff;
    content: '';
    height: 6px;
    position: absolute;
    top: 100%;
    right: -6px;
    left: 0;
}

.landofcoder-fue-menu .dropdown.active .admin__action-dropdown,
.landofcoder-fue-menu .dropdown.active .dropdown-menu {
    border-color: #adadad;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.landofcoder-fue-menu .dropdown.active .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.landofcoder-fue-menu .dropdown .dropdown-menu li:hover,
.landofcoder-fue-menu .dropdown .dropdown-menu li.current {
    background: #e9e9e9;
    cursor: pointer;
}

.landofcoder-fue-menu .dropdown-menu li {
    margin: 0;
    border: 0;
    cursor: default;
    font-size: 1.4rem;
    list-style: none;
}

.landofcoder-fue-menu .dropdown-menu li a {
    text-decoration: none;
    color: #41362f;
    display: block;
    padding: .6rem 1.8rem;
    position: relative;
}

.landofcoder-fue-menu .dropdown-menu li.separator {
    border-top: 1px #adadad solid;
}

.landofcoder-fue-menu .dropdown-menu li.separator a {
    padding-top: .8rem;
}

/*.landofcoder-fue-menu .opener:before {
    content: "\f067";
}
.landofcoder-fue-menu .opener.item-active:before {
    content: "\f068";
}*/

.landofcoder-fue-menu .opener:after {
    right: 1.5rem;
}

.landofcoder-fue-menu .opener:after {
    border-color: #000000 transparent transparent transparent;
    border-style: solid;
    border-width: 0.5rem 0.4rem 0 0.4rem;
    content: '';
    height: 0;
    margin-top: -0.2rem;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transition: all .2s linear;
    width: 0;
}

.landofcoder-fue-menu .item-active .opener:after {
    transform: rotate(180deg);
}

.landofcoder-fue-menu .dropdown-submenu {
    display: none;
}

.lofsmsnotification-buttoned-input {
    margin-right: 95px;
}

#row_lofsmsnotification_smtp_config_provider #synchronize_button {
    float: right;
    width: 60px;
}