<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<?php
$payment = $_order->getPayment();
$method = $payment->getMethod();
$action = $this->getUrl('deposits/receipt/upload');
?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= /* @escapeNotVerified */
            __('Order Information') ?></strong>
    </div>
    <div class="block-content">
        <?php if (!$_order->getIsVirtual()): ?>
            <div class="box box-order-shipping-address">
                <strong class="box-title"><span><?= /* @escapeNotVerified */
                        __('Shipping Address') ?></span></strong>
                <div class="box-content">
                    <address><?= /* @escapeNotVerified */
                        $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */
                        __('Shipping Method') ?></span>
                </strong>
                <div class="box-content">
                    <?php if ($_order->getShippingDescription()): ?>
                        <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                    <?php else: ?>
                        <?= /* @escapeNotVerified */
                        __('No shipping information available') ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */
                    __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */
                    $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */
                    __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?= $block->getPaymentInfoHtml() ?>
            </div>
        </div>

        <?php if ($method === 'bankdeposits' && !$_order->getData('bank_receipt_url')) : ?>
            <div class="bank-payment-info">
                <div class="bank name"><?php echo $_order->getData('bank-payment')?></div>
                <div class="customer-bank-account"><?php echo $_order->getData('bank-account')?></div>
            </div>
            <div class="form-upload-bank-receipt">
                <form enctype="multipart/form-data" action="<?php /* @escapeNotVerified */
                echo $action ?>" class="fieldset upload-bank-receipt-form" method="post" id="upload-bank-receipt-form">
                    <?php echo $block->getBlockHtml('formkey'); ?>
                    <input type="hidden" name="order_id" value="<?= $_order->getId() ?>">
                    <div class="field review-field-media">
                        <label class="label"><span><?php /* @escapeNotVerified */
                                echo __('Attachments (jpg, jpeg, png)') ?></span></label>
                        <div class="control">
                            <input type="file" name="bank_receipt" id="bank_receipt" accept=".png, .jpg, .jpeg"/>
                        </div>
                        <div for="bank_receipt" generated="true" class="mage-error" id="media_field-error"
                             style="display: none;">
                            <?php /* @escapeNotVerified */
                            echo __('You can select maximum 10 images.') ?>
                        </div>
                    </div>
                    <div class="actions-toolbar review-form-actions">
                        <div class="primary actions-primary">
                            <button type="submit" class="action submit primary"><span><?php /* @escapeNotVerified */
                                    echo __('Submit Review') ?></span></button>
                        </div>
                    </div>
                </form>
            </div>
        <?php endif; ?>
    </div>
</div>
