<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** @var $block \Magento\Framework\View\Element\Template */ /** @var $helper \Magento\Search\Helper\Data */ $helper = $this->helper(\Magento\Search\Helper\Data::class); /** @var \Tigren\CustomTheme\Helper\Data $tigrenHelper */ $tigrenHelper = $this->helper(\Tigren\CustomTheme\Helper\Data::class); $categories = $tigrenHelper->getCategories(); $curCat = $tigrenHelper->getCurrentCategory(); $param = $this->getRequest()->getParams(); ?> <div class="block block-search"><div class="block block-title"><strong><?= /* @escapeNotVerified */ __('Search') ?></strong></div><div class="block block-content"><form class="form minisearch" id="search_mini_form" action="<?= /* @escapeNotVerified */ $helper->getResultUrl() ?>" method="get"><div class="field search"><div class="control"><div class="select-filter example-dropdown-2"><span id="button-choose-category" class="action toggle" data-toggle="dropdown" data-mage-init='{"dropdown":{}}' aria-haspopup="true"><?php if (!empty($param['cat'])): ?> <?php $categoryName = $tigrenHelper->getCategoryName($param['cat']); ?> <?= $categoryName; ?> <?php elseIf($curCat): ?> <?= $curCat->getName(); ?> <?php else: ?> <?= /* @escapeNotVerified */ __('All') ?> <?php endif; ?></span> <ul class="dropdown"><?php if ($categories): ?> <li><a class="button_cat" data-category-id="" data-category-title="<?= $block->escapeHtml(__('All')) ?>" title="<?= __('All') ?>"><strong><?= /* @escapeNotVerified */ __('All') ?></strong></a></li> <?php foreach ($categories as $category) : ?> <li> <a class="button_cat" data-category-id="<?php echo $category->getId() ?>" data-category-title="<?php echo $category->getName() ?>" title="<?= $category->getName() ?>"><strong><?= $category->getName() ?></strong></a></li> <?php endforeach; ?> <?php endif; ?></ul><input id="cat" type="hidden" name="cat" value="<?php if (isset($param['cat'])) { echo $param['cat']; } elseIf($curCat) { echo $curCat->getId(); }else{ echo ''; } ?>"/></div><input id="search" data-mage-init='{"quickSearch":{ "formSelector":"#search_mini_form", "url":"<?= /* @escapeNotVerified */ $helper->getSuggestUrl() ?>", "destinationSelector":"#search_autocomplete"} }' type="text" name="<?= /* @escapeNotVerified */ $helper->getQueryParamName() ?>" value="<?= /* @escapeNotVerified */ $helper->getEscapedQueryText() ?>" placeholder="<?= /* @escapeNotVerified */ __('Search entire store here...') ?>" class="input-text" maxlength="<?= /* @escapeNotVerified */ $helper->getMaxQueryLength() ?>" role="combobox" aria-haspopup="false" aria-autocomplete="both" autocomplete="off"/><div id="search_autocomplete" class="search-autocomplete"></div><?= $block->getChildHtml() ?></div></div><div class="actions"><button type="submit" title="<?= $block->escapeHtml(__('Search')) ?>" class="action search"><span><?= /* @escapeNotVerified */ __('Search') ?></span></button></div></form></div></div><script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/alert'
    ], function ($, alert) {
        $(document).ready(function () {
            $(".button_cat").click(function () {
                $("#button-choose-category").html($(this).data('category-title'));
                $("#cat").val($(this).data('category-id'));
            });
        });
    });</script>