.vendor-categories-wrapper .block-title{margin-bottom: 10px;}
.vendor-categories-wrapper .block-content{
    border: 1px solid #e7e7e7;
    padding: 20px;
}
.vendor-navigation ul{padding: 0; margin: 0;}
.vendor-navigation ul li{margin: 0;padding: 0;}
.vendor-navigation ul li a{display: block; width: 100%; padding: 10px; color: #333;}
.vendor-navigation ul li a:hover, .vendor-navigation ul li.active > a{text-decoration: none; background: #F7F7F7; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.vendor-navigation ul li.active > a{font-weight: 600;}
.vendor-navigation ul li a .product-count{background: #ededed;float: right;display: block; width:20px;height: 20px; text-align: center; border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
@media screen and (max-width: 600px) {
    .vendor-categories-wrapper {
        margin-bottom: 15px;
    }
}