<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<div class="block block-customer-forgot-pass">
    <div class="block-title">
        <strong id="block-customer-forgot-pass-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Forgot your password?')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-forgot-pass-heading">
        <form class="form password forget"
              action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
              method="post"
              id="form-validate"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <div class="field note"><?= $block->escapeHtml(__('Enter your email and we\'ll send you a password reset link')) ?></div>
                <div class="field email required">
                    <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Enter your email address')) ?></span></label>
                    <div class="control">
                        <input type="email" name="email" alt="email" id="email_address" class="input-text" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit primary"><span><?= $block->escapeHtml(__('Submit')) ?></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
