<?php $step = $block->getStep();?>
<div class="cr-step cr-step-<?php echo $step?>" data-step="<?php echo $step?>">
    <div class="cr-step-title"><?php echo __($block->getTitle()) ?></div>
    <div class="cr-step-content">
        <fieldset class="fieldset create info">
            <?php foreach($this->getFields() as $field):?>
                <?php echo $field->toHtml();?>
            <?php endforeach;?>
        </fieldset>
    </div>
</div>
