<!--
  ~ @author    Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2019 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<div class="tigren-advancedcheckout choice item">
    <div class="option">
        <input type="radio"
               class="radio control-radio"
               data-bind="value: 'home', checked: isChecked"
               ko-disable="disabled"
               hasFocus="focused"
               attr="id: uid + '-home', name: inputName"/>

        <label class="field-label" attr="for: uid + '-home'" data-bind="i18n: 'House'"/>
    </div>
    <div class="option">
        <input type="radio"
               class="control-radio"
               data-bind="value: 'work', checked: isChecked"
               ko-disable="disabled"
               hasFocus="focused"
               attr="id: uid + '-work', name: inputName"/>

        <label class="field-label" attr="for: uid + '-work'" data-bind="i18n: 'Work'"/>
    </div>
</div>