<div id="opc-shipping-stores" class="checkout-shipping-stores" data-bind="fadeVisible: isSelectedStorePickup()">
    <div class="select-title" translate="'Select a pickup location on the map'" data-role="title"/>
    <div id="checkout-step-shipping-store"
         class="step-content"
         data-role="content">
        <div class="field-search-store">
            <div class="field">
                <label class="label">
                    <!-- <span translate="'Search for a store (Type of Store or Province)'"></span> -->
                </label>
                <div class="control">
                    <!-- ko foreach: getRegion('search-store') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
            <!-- <div class="or"><span translate="'or'"></span></div> -->
        </div>
        <div class="shipping-store-container fieldset address clearfix" id="co-shipping-store"
             data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" data-hasrequired="* Required Fields">
            <!-- <label class="label" translate="'Select the desired store.'"></label> -->
            <div class="field">
                <label class="label">
                    <span translate="'State/Province'"></span>
                </label>
                <div class="control">
                    <!-- ko foreach: getRegion('state-suggestion') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
            <div class="field _required">
                <label class="label">
                    <span translate="'Store'"></span>
                </label>
                <div class="control">
                    <!-- ko foreach: getRegion('pickup-store') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!-- ko foreach: getRegion('pickup-store-map') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>
</div>
