<?php
/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Home\Refund
 */
?>
<h3 id="vendor-refund" class="vendor-refund-title"><?php echo __("Refund Policy")?></h3>
<div class="vendor-refund-content">
    <?php echo ($block->getVendorRefund()?$block->getVendorRefund():__('Not available'))?>
</div>