<?php
/**
 * Category view template
 *
 * @var $block \Vnecoms\VendorsPage\Block\Home\Shipping
 */
?>
<h3 id="vendor-shipping" class="vendor-shipping-title"><?php echo __("Shipping Policy")?></h3>
<div class="vendor-shipping-content">
    <?php echo ($block->getVendorShipping()?$block->getVendorShipping():__('Not available'))?>
</div>