<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Sales\Model\Order\Shipment\Item $_item */
$_item = $block->getItem();
$shipment = $_item->getShipment();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$warehouseId = $shipment->getWarehouseId();
$warehouseTitle = '';
if ($warehouseId){
    /** @var \Amasty\MultiInventory\Model\Warehouse $warehouse */
    $warehouse = $objectManager->create('Amasty\MultiInventory\Model\Warehouse')->load($warehouseId);
    if ($warehouse->getId())
    {
        $warehouseTitle = $warehouse->getTitle();
    }
}
?>
<tr class="border">
    <td class="col-product"><?= $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-qty"><?= /* @escapeNotVerified */ $_item->getQty()*1 ?></td>
    <td class="col-wh"><?= /* @escapeNotVerified */ $warehouseTitle ?></td>
</tr>
