<!-- /** * Webkul Odoomagentoconnect template layout * * @category Webkul * @package Webkul_Odoomagentoconnect * @author Webkul * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com) * @license https://store.webkul.com/license.html * */ --><script> 
require(['jquery'],
	function(jQuery){
		jQuery.noConflict();
		jQuery(window).on("load",function(){
			console.log("remove attr");
			jQuery("#updatetemplate").attr("onclick","");
			jQuery("#synctemplate").attr("onclick","");
		});
	jQuery(document).ready(function(){

		jQuery("#synctemplate").on("click",function(e) {

			jQuery('#loading-mask').css({	'width':jQuery(window).width(),
											'height':jQuery(window).width(),
											'top':0,
											'left':0,
											'display':'block'
										});			
			jQuery.ajax({
				url 	: 	"<?php echo $block->getUrl('*/*/exportallids')?>",
				type 	: 	"GET",
				dataType: 	"json",
				showLoader: true,
				success : 	function(export_ids){
					var total_count = export_ids.length;
					var typetotal_count = jQuery.type(total_count);
					console.log(total_count);
					console.log(typetotal_count);
					if(total_count==0){	
						location.reload();
					}else{
						var total_sync = 1;
						var tot_success = 0;
						var tot_failure = 0;
						/*jQuery('.loading-mask').append(jQuery('<div/>').addClass('count').text('0/'+export_ids.length));*/
						for(i = 0; i < total_count; i++) {
							map_id = export_ids[i];
							console.log(map_id);
							/*counter = jQuery('.loading-mask').find('.count').text().split('/')[0];*/
							console.log('map_id');
/*							console.log(counter);*/
							total_sync = i+1;
							jQuery.ajax({
								url 	: 	"<?php echo $block->getUrl('*/*/export')?>",
								type 	: 	"GET",
								dataType: 	"json",
								async 	: false,
								data 	: 	{
												id: map_id,	
												total: total_count,
												counter : total_sync,
												failure : tot_failure,
												success : tot_success
											},
								success : 	function(data){
									if (data.response.odoo_id > 0){
										tot_success = tot_success + 1;
									}
									else{
										tot_failure = tot_failure + 1;
									}
/*									
									next = parseInt(counter)+1;
									console.log(next);
									console.log(total_sync);
									console.log(total_count);
									jQuery('#loading_mask_loader').find('.count').text(next+'/'+total_count);*/
									if(total_sync == total_count){
										location.reload();
									}
								}
							});
						};
					}
				}
			});
		});

		jQuery("#updatetemplate").on("click",function(e) {

			jQuery('#loading-mask').css({	'width':jQuery(window).width(),
											'height':jQuery(window).width(),
											'top':0,
											'left':0,
											'display':'block'
										});			
			jQuery.ajax({
				url 	: 	"<?php echo $block->getUrl('*/*/updateallids')?>",
				type 	: 	"GET",
				dataType: 	"json",
				showLoader: true,
				success : 	function(update_ids){
					var total_count = update_ids.length;
					var typetotal_count = jQuery.type(total_count);
					if(total_count==0){
						location.reload();
					}else{
						var total_sync = 1;
						var tot_success = 0;
						var tot_failure = 0;
						for(i = 0; i < total_count; i++) {
							map_id = update_ids[i];
							total_sync = i+1;
							jQuery.ajax({
								url 	: 	"<?php echo $block->getUrl('*/*/update')?>",
								type 	: 	"GET",
								dataType: 	"json",
								async 	: false,
								data 	: 	{
												id: map_id,	
												total: total_count,
												counter : total_sync,
												failure : tot_failure,
												success : tot_success
											},
								success : 	function(data){
									if (data.response.odoo_id > 0){
										tot_success = tot_success + 1;
									}
									else{
										tot_failure = tot_failure + 1;
									}
									if(total_sync == total_count){
										location.reload();
									}
								}
							});
						};
					}
				}
			});
		});

	});
});</script>