<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var Login $block */ use Magento\Customer\Block\Form\Login; ?> <div class="block block-customer-login"><div class="block-title"><h3><?= $block->escapeHtml(__('Welcome Back')) ?></h3><strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Sign In To Your Account')) ?></strong></div><div class="block-content" aria-labelledby="block-customer-login-heading"><form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'><?= $block->getBlockHtml('formkey') ?> <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>"><div class="field note signup-note"><?php /* @escapeNotVerified */ echo __("Don't have an account? <a href='%1' id='sign-up-link'>Sign Up</a>", $block->escapeUrl($block->getUrl('customer/account/create'))) ?></div><div class="field email required"><label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label> <div class="control"><input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}"></div></div><div class="field password required"><label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label> <div class="control"><input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}"><span id="toggle-pass" class="toggle-pass"><?= $block->escapeHtml(__('Show/Hide Password')) ?></span></div></div><?= $block->getChildHtml('form_additional_info') ?> <div class="actions-toolbar"><div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div><div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div></div></fieldset></form></div></div><script type="text/javascript">
    require([
        'jquery'
    ], function ($, alert) {
        $(document).ready(function () {
            $("#toggle-pass").click(function () {
                if (!$(this).hasClass('show')) {
                    $(this).removeClass('hide');
                    $(this).addClass('show');
                    $("#pass").attr('type', 'text');
                } else {
                    $(this).addClass('hide');
                    $(this).removeClass('show');
                    $("#pass").attr('type', 'password');
                }
            });
            $("#sign-up-link").on('click', function (e) {
                e.preventDefault();
                var href = window.location.pathname;
                var vars = href.split('/');
                var link = vars[4] + '/' + vars[5];
                $("#sign-up-link").attr('href', $("#sign-up-link").attr('href') + link);
                window.location.href = $("#sign-up-link").attr('href');
            })
        });
    });</script>