<?php
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/** 
 * @var $block \Magento\Checkout\Block\Cart\Item\Renderer 
 */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();

/** 
 * @var \Magento\Msrp\Helper\Data $msrpHelper 
 */
$msrpHelper = $this->helper('Magento\Msrp\Helper\Data');

$canApplyMsrp = $msrpHelper->isShowBeforeOrderConfirm($product) && $msrpHelper->isMinimalPriceLessMsrp($product);
$cardTypes = [
        \MageWorx\GiftCards\Model\GiftCards::TYPE_EMAIL => \MageWorx\GiftCards\Model\GiftCards::TYPE_EMAIL_LABEL,
        \MageWorx\GiftCards\Model\GiftCards::TYPE_PRINT => \MageWorx\GiftCards\Model\GiftCards::TYPE_PRINT_LABEL,
        \MageWorx\GiftCards\Model\GiftCards::TYPE_OFFLINE => \MageWorx\GiftCards\Model\GiftCards::TYPE_OFFLINE_LABEL,
    ];
?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
                   title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>

        <?php if ($_card_type = $_item->getOptionByCode('card_type')):?>
        <dl class="item-options">
            <dt><?php echo __('Card Type'); ?></dt>
            <dd><?php echo $cardTypes[$_card_type->getValue()]; ?></dd>
            <?php $_option = $_item->getOptionByCode('card_currency') ?>
            <?php if (strlen($_option->getValue())) :?>
                <dt><?php echo __('Card Currency'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('mail_to')?>
            <?php if (strlen($_option->getValue())) :?>
                <dt><?php echo __('To Name'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('mail_from')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('From Name'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('mail_to_email')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('To Email'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('mail_message')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('Message'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('offline_country')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('Country'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('offline_state')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('State'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('offline_city')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('City'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('offline_street')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('Street'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('offline_zip')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('ZIP'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('offline_phone')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('Phone'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
            <?php $_option = $_item->getOptionByCode('mail_delivery_date')?>
            <?php if (strlen($_option->getValue())):?>
                <dt><?php echo __('Mail Delivery Date'); ?></dt>
                <dd><?php echo $_option->getValue(); ?></dd>
            <?php endif; ?>
        </dl>
        <?php endif;?>

                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php echo $block->getUnitPriceHtml($_item); ?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <div class="field qty">
                <label class="label" for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty">
                    <span><?php /* @escapeNotVerified */ echo __('Qty') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                           name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                           data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                           value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                           class="input-text qty"
                           maxlength="12"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?php echo $block->getRowTotalHtml($_item); ?>
            <?php endif; ?>
        </td>
    </tr>
    <tr class="item-actions">
        <td colspan="100">
            <div class="actions-toolbar">
                <?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
</tbody>
