<?php
$order = $block->getOrder();
$helper = $this->helper('Tigren\StorePickup\Helper\Data');
?>
<?= $block->getAdditionalInfoHtml() ?>
<div class="checkout-success">
    <?php if ($block->getIsMultipleOrders()) : ?>
        <?php foreach ($block->getMultipleOrders() as $orderData) : ?>
            <?php if ($orderData->getCanViewOrder()) : ?>
                <p><?php echo __('Your order number is: %1.',
                        sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>',
                            $block->escapeHtml($orderData->getViewOrderUrl()),
                            $block->escapeHtml($orderData->getOrderId()))) ?></p>
            <?php else : ?>
                <p><?php echo __('Your order # is: <span>%1</span>.',
                        $block->escapeHtml($orderData->getOrderId())) ?></p>
            <?php endif; ?>
        <?php endforeach; ?>
        <div class="order-details">
            <?php if ($orderData['storepickup_id']): ?>
                <?php $pickupInterval = $helper->getPickupInterval($orderData['created_at'],
                    $orderData['storepickup_id']) ?>
                <?php if (!empty($pickupInterval)): ?>
                    <p>
                    <span class="label">
                        <?= __('Your Order Pickup Time is between <b>%1</b> till <b>%2</b>', $pickupInterval['from'],
                            $pickupInterval['to']) ?>
                    </span>
                    </p>
                    <p>
                    <span class="label">
                        <?= __('Store operational hours: <b>%1</b> to <b>%2</b>', $pickupInterval['open_time'],
                            $pickupInterval['close_time']) ?>
                    </span>
                    </p>
                <?php endif; ?>
                <?php
                $pickupStoreId = $orderData['storepickup_id'];
                $storeDetails = $helper->getPickupStoreData($pickupStoreId);
                ?>
                <p>
                    <span class="label">
                        <?= __('Pickup store: <b>%1</b>', $storeDetails['store_name']) ?>
                    </span>
                </p>
            <?php endif; ?>
        </div>
    <?php elseif ($block->getOrderId()): ?>
        <?php if ($block->getCanViewOrder()) : ?>
            <p><?= __('Your order number is: <a href="%1" class="order-number"><strong>%2</strong></a>.',
                    $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId())) ?></p>
        <?php else: ?>
            <p><?= __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif; ?>
        <!-- Store Order Pickup time -->
        <div class="order-details">
            <?php if ($order->getPickupstoreId()): ?>
                <?php $pickupInterval = $helper->getPickupInterval($order->getCreatedAt(),
                    $order->getPickupstoreId()) ?>
                <?php if (!empty($pickupInterval)): ?>
                    <p>
                    <span class="label">
                        <?= __('Your Order Pickup Time is between <b>%1</b> till <b>%2</b>', $pickupInterval['from'],
                            $pickupInterval['to']) ?>
                    </span>
                    </p>
                    <p>
                    <span class="label">
                        <?= __('Store operational hours: <b>%1</b> to <b>%2</b>', $pickupInterval['open_time'],
                            $pickupInterval['close_time']) ?>
                    </span>
                    </p>
                <?php endif; ?>
                <?php
                $pickupStoreId = $order->getPickupstoreId();
                $storeDetails = $helper->getPickupStoreData($pickupStoreId);
                ?>
                <p>
                    <span class="label">
                        <?= __('Pickup store: <b>%1</b>', $storeDetails['store_name']) ?>
                    </span>
                </p>
            <?php endif; ?>
        </div>

        <p><?= __('We\'ll email you an order with details and tracking info.') ?></p>
    <?php endif; ?>

    <?= $block->getAdditionalInfoHtml() ?>
    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->getContinueUrl() ?>"
               title="<?php echo __('Continue Shopping') ?>">
                <span><?= __('Continue Shopping') ?></span>
            </a>
        </div>
    </div>
</div>
<script>
    require([
        'Magento_Customer/js/customer-data'
    ], function (customerData) {
        customerData.invalidate(['cart']);
    });
</script>